[2018-10-23 06:34] s-vincent commented on #74
Hi @bchavez, thanks you very much for deep tests and investigation.

After quick look at the code, I also agree it may be related to SharedBuffer. I will try to work on that this week-end.

[2018-11-28 00:46] klayman opened #183 "Minor edits for packaging/rpm"
- Version should be 2.2 in `packaging/rpm/freelan.spec`:
`%{!?version:%define version 2.2}`

- `packaging/rpm/README.md` should list `help2man` in the dependencies.

[2018-11-28 16:46] s-vincent commented on #183
Thank you for your report.

We will fix that ASAP.

[2018-11-29 16:36] s-vincent commented on #183
Done in 8c0e87266a0d3f2737c7e47e33ca55565a0f031c.

[2018-11-29 16:36] #183 closed

[2018-12-13 13:30] s-vincent commented on #74
Here is what I see:
 * I reproduce with certificate-based authentication not with pre-shared key;
 * With very little HELLO/PRESENTATION traffic, nothing happened on memory consumption;
 * With high traffic, things gets worse and  memory increased and never reclaimed;

My thought about that:
 * asymmetric cryptography operations are slow (especially signature);
 * packet buffers are created then r

[2018-12-13 19:18] bchavez commented on #74
Hi @s-vincent ,

I'm happy you were able to reproduce the issue. Also, thanks very much for looking into the issue. You bring up some great points.

I did some testing with 4096 `SharedBuffer` size, and the situation seems to be greatly improved. However,  IMHO, we still have a problem with monotonically increasing memory usage. In the image below, I ran three flood events.

![devenv_2463](https:/

[2018-12-14 07:40] richman1000000 commented on #74
https://github.com/freelan-developers/freelan/issues/158#issuecomment-325555490
Previously I was writing that  freelan must not Ignore incorrect session connection, and send answer (like session ID:invalid) to client - the client will know that session is not valid anymore and terminate session data in buffre.

[2018-12-14 13:34] s-vincent commented on #74
I think we have a circular references issue for the recycling mechanism.

The SharedBuffer holds a shared_ptr which have a deleter based on lambda expressions. During a time lambda expression capture a reference of the SharedBuffer. Even with limiting buffer list and shrinking when necessary memory never be reclaimed.

This link is interresting on the shared_ptr/lambda issue: https://floating.io/2

[2018-12-14 16:15] bchavez commented on #74
Thanks @s-vincent , I'll test the new changes with disabled recycling.

-------

#### Re: 4096 `SharedBuffer`
Just wanted to add an extra note on testing the 4096 `SharedBuffer` changes. Under a real-world deployment as described in the comment here: https://github.com/freelan-developers/freelan/issues/74#issuecomment-431638703, I bootstrapped the FreeLAN network bringing up each node one by one s

[2018-12-14 18:02] bchavez commented on #8
@s-vincent , do you have a link to the freelan organization's build artifacts / project location on AppVeyor?

There was a commit e35aafb9c2935ed8e8a09274863b28bf39206b4b that might have indicated that a freelan organization was setup to replace `ereOn/azmq`. If not, I'll grab latest builds from `azmq`. Thanks.

[2018-12-14 18:21] s-vincent commented on #8
The link has not changed but it is visible now on the commit page with travisCI ones.

[2018-12-14 20:22] bchavez commented on #74
Hi @s-vincent ,

I tested the disabled recycling mechanism and we have very good results. Excellent work Sebastien. We now have a saw-tooth pattern in memory usage when flood attacks occur. Memory is now reclaimed by the operating system:

![taskmgr_2473](https://user-images.githubusercontent.com/478118/50023943-a51ab100-ff95-11e8-933c-4a860279e85b.png)

The `freelan.exe` recovers to a respectable

[2018-12-14 22:16] bchavez commented on #74
Okay, I did more testing but with a real-world setup with 13 VPN nodes:

![47263107-ae186600-d4af-11e8-9e55-19c3edc04d31](https://user-images.githubusercontent.com/478118/50029778-c33ddc80-ffa8-11e8-9052-dc98c9252916.png)

* I bringing each node up one by one, staring with **Linux A**.
* Everything is fine. Stability and network equilibrium is reached.
* All nodes can communicate with each other.

[2018-12-15 07:10] s-vincent commented on #74
Hi @bchavez,

Thanks for testing!

In f499f9a3eae3318ff38ffcb69978c74322026440 I disable recycling for socket receive buffers. This is the last place where we use recycle mechanism.

[2018-12-15 22:04] bchavez commented on #74
Thanks @s-vincent,

Results are roughly the same as last recycling tests.

## Real-World, 13 Node Topology Test

In the real-world test topology with 13 nodes, when **Linux A** *reboots*, we still have either:
 1) High CPU usage on **Linux A** or
 2) High CPU usage & memory leak on **Linux A**.

![50029778-c33ddc80-ffa8-11e8-9052-dc98c9252916](https://user-images.githubusercontent.com/478118/50047

[2018-12-16 16:02] s-vincent commented on #74
I found a strange case when we try to relay packet from one host to itself. At that time CPU usage was a bit high.

I fix that in 57423405f69da850d10a6fbd4b4cade9b422e886.

[2018-12-16 17:45] bchavez commented on #74
Hey @s-vincent , 5742340 has a build failure?

https://travis-ci.org/freelan-developers/freelan/jobs/468685610#L1232

I also have the same build failure on Ubuntu 14.04 build box.

[2018-12-16 18:37] s-vincent commented on #74
It should be good now with latest revision. Build 445 passed on TravisCI.

[2018-12-16 22:15] bchavez commented on #74
Hi @s-vincent,

We have ***VERY GOOD*** :tada: test results with the latest changes at `/master` 780d8ef49c1c8c9c3d8ad286b1cf6cc245c2601e. I think 5742340 fixed many issues, including the high-CPU usage and ambient memory leak after process reboots.

I tested both 13-node real-world and 4-node topology setups.

:heavy_check_mark: The **"echo"/chatter** traffic on VPN after process reboots is gone.

[2018-12-17 09:57] s-vincent commented on #74
@bchavez @richman1000000 Again thanks for testing in real-world deployment, we appreciate!

I made a tentative to limit PRESENTATION message processing to 512 per 10 seconds in revision 9c217b42d25fd35ebc66a93aba601c6837734835. This 512 number is totally arbitrary, we may change it if it is too much high (or low).

[2018-12-18 05:44] bchavez commented on #74
Hi @s-vincent ,

Sorry for the delay. Below is the flood attack memory usage graphs for the 4-node test topology. Both images are measurements on **Node A (Windows)**'s `freelan.exe` process. I ran two tests with 1) with **one thread count**, and 2) with **eight thread count** command-line arguments.

### 4-node network: `freelan.exe -d -t 1` / Thread Count 1
![devenv_2502-1thread](https://user-im

[2018-12-18 08:45] richman1000000 commented on #74
can you place this option in freelan.cfg? so we can change it "on the fly"?

In my opinion since FreeLAN is UDP based VPN there is no build-in way to protect from incoming UDP flood. Incorrect UDP packages, or UDP packages signed with attackers certificate will consume time and memory of FreeLAN anyway until attackers IP is blocked on another level.

One mechanism that I think is possible to use -

[2018-12-18 08:55] richman1000000 commented on #74
@bchavez if in your test packets is using correct certificate/key - this is not DDoS attack or flood.
This is "lots of traffic" scenario.

[2018-12-18 09:43] s-vincent commented on #74
@richman1000000 @bchavez In last revision 590ccd8f226b882501c93809bd5b6aa7585ec47b, I add per host PRESENTATION message limits as well as configurable limit in freelan.cfg and error message when threshold is reached.

[2018-12-18 17:43] bchavez commented on #74
Hi @s-vincent

Test results from 590ccd8 changes in 4-node test topology. I didn't see any real difference compared with our last test results.

However, I took a deeper look to gain a better understanding and it appears that `HELLO` is probably the primary cause for our progress being washed away every time we try to make improvements.

Here's a memory profile of different protocol message types

[2018-12-18 18:47] s-vincent commented on #74
@bchavez Sound right. Revision 64ab23ec1541017010d6b075a330c29de3912f35 addresses that.

[2018-12-19 04:20] bchavez commented on #74
It seems we can get into a situation that if a node is restarted a few times via `service freelan stop` /  `service freelan start` the node can be blacklisted indefinitely.

In real-world 13-node topology, the **Linux A** relay, the log messages read:
[code]
Notice, each log message is **30 seconds** apart. The logs say **limit is 10 messages per 10 seconds**. It would seem **Linux A**'s expire ti

[2018-12-19 06:41] s-vincent commented on #74
Oh my bad, forgot the launch of the hello message reset timer :/.

Fixed in 42ffdf03995228849985f278a85eb6059c7abb7b.

[2018-12-19 19:56] s-vincent commented on #84
@ereOn, can you please state about this one ?

In parallel, I heard about Boost.Beast which can do "low-level" HTTP in Boost.ASIO. Maybe it is a good candidate to replace mongoose. The only drawback I see is that it requires boost 1.66 (so Debian Stretch and CentOS are out of the game :/).

What do you think?

[2018-12-19 20:52] s-vincent commented on #112
@Anime4000 I added ipv4_dhcp option (false by default) in [tap_adapter] section to enable DHCP on TAP interface.

Can you please try revision 30b6f8c2d9c653304cb7e8738ee4529120f9bd90 with modified configuration file (ipv4_dhcp=true)?

[2018-12-19 21:00] s-vincent commented on #124
Hi @helgebetzinger,

In last revisions we fixed some issues regarding memory and CPU consumption.

Can you please test again with last revision?

[2018-12-19 21:13] s-vincent commented on #151
@leggewie What do you think about having two "simple" example files (for Alice and Bob) in repository with three options you give and without any others or comments?

Users will pick the file as is, see just the very simple option and try.

[2018-12-20 06:58] s-vincent commented on #146
We will release freelan 2.2 in january 2019, postpone this feature to 3.0.

[2018-12-20 09:22] s-vincent commented on #84
@MHamburg Now that use vcpkg for Windows dependencies, the web client library we use (curl/openssl) stuff is quite up-to-date.

Can you please give a try on latest git revision? You will need to patch the libs/libfreelan/libfreelan.vcxproj to add USE_MONGOOSE define in <PreprocessorDefinitions> section to enable server feature.

[2018-12-20 10:21] s-vincent commented on #48
@ereOn I believe it is fixed with 11518d0ad22394b3b38bf36bad05c01ea5eee787.

Here is the scenario I have reproduce:
 * launch freelan;
 * wait just time to send the client web request;
 * stop application;
 * application hangs.

I guess it is because at one moment we may recreate fscp::server object that blocks application to completely shutdown.

I close the ticket from now. Feel free to reopen i

[2018-12-20 10:21] #48 closed

[2018-12-20 11:24] richman1000000 commented on #151
I agree that freelan.cfg should be split-able.
for example place into file **blocked.cfg**

and then write into freelan.cfg

and those options are applied

[2018-12-20 11:24] richman1000000 commented on #151
from HelpDesk worked point of  view  freelan.cfg is really complicated.
simple freelan config looks this

Worker willopen  freelan.user.cfg and see only.

[2018-12-20 11:37] richman1000000 commented on #151
notice that I did not included **tap_adapter.ipv6_address_prefix_length** in simple example cause if worker is needs it - it will be included.

[2018-12-20 19:58] #108 closed

[2018-12-20 20:16] bchavez commented on #74
So far so good :+1:. The networks have been very stable. :)

[2018-12-20 20:18] s-vincent commented on #170
We could possibly add additionnal route endpoint to the server to ask for an IP and option in configuration to specify the IPv4/IPv6 prefix needed.

@ereOn What do you think ?

But for now it will be only implemented using current implementation (mongoose) so disabled by default due to license issue.

[2018-12-25 20:16] Najsr opened #184 "Help with configuration of VLAN"
Hello there, I am really new into VPN stuff and I found out about this software recently but I haven't been able to setup it correctly. I am looking into a setup where there would be server which would create a VLAN for all clients connected (without access to internet via the server) with password config - Not planning to use it with any sensitive data, just wanting to get rid of hamachi's unreli

[2018-12-26 09:15] richman1000000 commented on #184
you can bridge tap0 with eth0.1 - this will do the trick

[2018-12-29 12:52] ereOn commented on #84
@s-vincent Sorry for the delay, I'm a bit behind my notifications these days :P (catching up with November at the moment).

My "original" idea was to toy around a Go implementation. Go makes it incredibly easy to host prodution-grade HTTP(S) servers.

As I was playing with that, I realized reimplementing freelan itself in Go would have a lot of benefits, namely:

- Greater portability.
- Lower dev

[2018-12-29 12:55] ereOn commented on #170
See my answer in the [other thread](https://github.com/freelan-developers/freelan/issues/84). While I agree this feature brings a lot of ease-of-use to the user, I feel that the current C++ implementation or any alternative have a huge maintainability burden. C++ just isn't the right tool for that particular feature and I'd rather we have a discussion about what the real solution should be instead

[2019-02-05 08:51] thejustsoul opened #186 "How to setup FreeLAN for a Gaming on virtual network and without access from VPN to external internet"
Please help me set up a FreeLAN for games on a virtual network with friends.
There is conditionally one server (Linux Debian (St also on Windows 8.1 as reserve that configs approached if that), with white IP and open port) and many clients (Windows XP, 7, 8.., etc).
It is necessary that clients saw each other (that the host of any game could become any of them) that passed pings and other, i.e. as

[2019-02-05 08:56] thejustsoul commented on #186
`Main server` have config:
[code]

Now for clients such config:
`Client1`
[code]

`Client2`
[code]

`Client3`
[code]

Is that right? Or something superfluous or something is missing?
Not satisfied that the IP-addresses are written manually, and not issued by the server
Help please.

[2019-02-14 09:48] ds2k5 opened #187 "[solved] Debian 9 - [ERROR] in security.signature_certificate_file: unable to load certificate at"
Hello,
using Debian9 amd64 FreeLAN 2.0-2 (from debian repo)

here my config:

/etc/freelan/freelan.cfg

[code]

When try to start in foreground got this error:

# freelan -f -d
[code]
2019-02-14T10:45:34.966845 [INFORMATION] Reading configuration file at: "//etc/freelan/freelan.cfg"

2019-02-14T10:45:34.968165 [ERROR] in security.signature_certificate_file: unable to load certificate at "//etc/etc

[2019-02-14 09:50] richman1000000 commented on #187
signature_certificate_file="/etc/freelan/spieler2.crt"
change to
signature_certificate_file=spieler2.crt

[2019-02-14 12:51] ds2k5 commented on #187
thank you very much!

[2019-02-14 12:52] #187 closed

[2019-02-15 13:16] ds2k5 opened #188 "VPN Tunnel - connect only one IP"
Hello,
sorry about my english, hope the picture helps....
Wann build a VPN with 4 or more Clients with Raspberry PI.
Each RPI offer a WiFI to connect.
One RPI is Server and the other are clients.
Target is that all can connect ony one IP, for example: 192.168.254.253
so that there is running a Appliaction that all wanna use.

https://www.bilder-upload.eu/bild-4a6a40-1550236214.jpg.html

172.16.1.0

[2019-02-15 13:36] ds2k5 opened #189 "init script in Debian 9 - little bug"
Hi,
the initscript for Debian 9 is wrong:

/usr/sbin/freelan  but it is in /bin/freelan

and the /etc/default/freelan search for /etc/freelan/freelan.conf but the file is freelan.cfg

[2019-02-15 13:58] richman1000000 commented on #188
On server
[router]
relay_mode_enabled=yes

[2019-02-15 21:42] ds2k5 commented on #188
Thanks, but did not work.

[code]

[2019-02-18 07:17] richman1000000 commented on #188
can you post a picture-diagram with networks? I looks like you have 5 networks and you need to do proper routing

[2019-02-18 09:56] ds2k5 commented on #188
[code]

[2019-02-18 09:58] richman1000000 commented on #188
wow!.
You need to write proper routes on each of you gateways

[2019-02-19 18:30] 21h commented on #189
I confirm it

[2019-02-25 09:50] richman1000000 opened #190 "build new release"
can you build new release like https://github.com/freelan-developers/freelan/releases for windows10x64 with fixed #74 ?

[2019-02-27 19:57] s-vincent commented on #190
For now we have not a release yet.

@richman1000000 For the moment you can take the artifact built by appveyor on master branch : https://ci.appveyor.com/project/ereOn/azmq/build/job/3fxkduebpi0vuioh/artifacts

@ereOn any news / updates to make a new release ?

[2019-02-27 19:59] s-vincent commented on #184
@Najsr Does suggestion from @richman1000000 answers your issue ?

[2019-02-27 20:03] s-vincent commented on #189
@leggewie related to Debian packaging.

If you can look at that when you have some time. Thanks.

[2019-02-28 11:47] richman1000000 commented on #190
maybe you can just do HotFix releases then? Just for Major bugs fixed.

PS. I've downloaded artifact build, thank you. Cause windows compilation is complicated thing...

[2019-03-15 14:23] PalmaNicola commented on #190
Is there any roadmap for any new release?

[2019-03-15 15:03] ereOn commented on #190
I should be releasing soon but i am currently working 70+ hours/week which makes my free time an unavailable luxury these days. Hopefully i'll manage to get some free time in the upcoming weeks. Sorry for the delay. Le 15 mars 2019 10 h 23, Nicola Palma <notifications@github.com> a écrit :Is there any roadmap for any new release?

—You are receiving this because you were mentioned.Reply to this em

[2019-03-15 16:30] s-vincent commented on #184
I am closing this since no reply. Feel free to reopen if any.

[2019-03-15 16:30] #184 closed

[2019-03-15 16:34] s-vincent commented on #188
@ds2k5 Did answer from @richman1000000 helped on your setup issue ?

[2019-03-15 16:35] s-vincent commented on #112
No reply from several month, I believe it is fixed in my commits. I close this ticket. Feel free to reopen if any.

[2019-03-15 16:35] #112 closed

[2019-03-15 16:51] ds2k5 commented on #188
Did net get it to work.

[2019-03-18 06:08] richman1000000 commented on #188
@ds2k5  are you using NAT anywhere in your setup?
we can check it step by step.
1. can you ping 192.168.10.10 and  192.168.1.254   back and forth?

[2019-03-22 20:07] leggewie commented on #151
@s-vincent Can you provide an example?

[2019-04-07 01:14] stochastic-thread opened #191 "Freelan fails to install on macOS Mojave"
![image](https://user-images.githubusercontent.com/8550019/55677155-c1c65600-58b0-11e9-9424-3dd697517dfb.png)

I downloaded the .pkg and allowed the install in my System Preferences, since its from an "unidentified developer," but then it failed unexpectedly.

Is this a known issue?

I am using macOS Mojave 10.14.3

[2019-04-07 01:14] stochastic-thread commented on #191
If you tell me where to look for logs I'd be happy to add them to this issue, but I'm just not sure where to look.

[2019-04-08 17:49] sm0g commented on #191
I had a similar issue with High Sierra. I was able to install it again after that I unblocked it in security settings.

[2019-04-08 19:17] stochastic-thread commented on #191
I unblocked it too, but it still fails after doing that unblocking. I install a lot of developer libraries that require me to do that same step of unblocking before actually running the installation (.dmg/.pkg) but it still persists. Is there a place where I can check for install logs to get a better sense of why its failing?

[2019-04-09 11:18] sm0g commented on #191
Maybe you'll find something within [Mac Console app](https://www.howtogeek.com/wp-content/uploads/2018/06/ximg_5b2d7076a5021.png.pagespeed.gp+jp+jw+pj+ws+js+rj+rp+rw+ri+cp+md.ic.1lryLYFTQs.png).

[2019-04-11 05:36] #191 closed

[2019-04-15 20:25] killerbishn67 opened #192 "Slow file transfer rate"
I'm have a problem with transfer rate speeds between my computer and a friend who lives in the same town as me. The max download and upload for the file we were testing maxed out at 1 MB/s and idk if this is a limitation of freelan or just an error on my part.

[2019-04-16 05:08] richman1000000 commented on #192
1. who is the server? do you have peer-peer topology or it is a star?
2. are you using samba?(windows shared files)

[2019-04-16 20:39] killerbishn67 commented on #192
1. I'm the server, I think we're doing peer to peer. We just have the basic setup which was shown off on the website.
2. Yes, we're using windows shared files. Does that have a speed limitation to it?

If windows shared files does have a speed limit to it what would you recommend using then?

[2019-04-17 05:40] richman1000000 commented on #192
I forgot. What version do you use? there was a bugged version.

[2019-04-17 18:08] killerbishn67 commented on #192
I'm using 2.0.0 from what the installer says

[2019-04-18 00:51] killerbishn67 commented on #192
Well, we used iperf3 to figure out what are throughput by use our IP's and not freelan for testing and it turns out to be around 1MB/s. But I don't understand why it's so slow. My internet speed is 100 down and 15 up but we were mainly testing when I'm downloading from his computer and that's still around 1MB/s.

[2019-04-18 05:32] richman1000000 commented on #192
fixed version from #190
https://ci.appveyor.com/api/buildjobs/3fxkduebpi0vuioh/artifacts/freelan-setup-x64-138f8565.exe

[2019-04-18 07:08] killerbishn67 commented on #192
I'm still getting around 1MB/s speeds with the new version you linked.

[2019-04-18 12:18] IllidanS4 opened #193 "Local network not established"
I have installed freelan without any issues; the TAP adapter was installed, the network was registered, but when I launch it, the network is initialized, but no IP address is provided. I can't `ping 9.0.0.1`.

[code]

`ipconfig` finds the TAP network interface, but it is incorrectly configured. The mask is set as `255.255.0.0`, but I think it should be `255.255.255.0`.

I can also connect to a rem

[2019-04-18 12:39] IllidanS4 commented on #54
So does this mean that when direct connection between hosts cannot be established, it will not work at all, even when the server is configured in the relay mode? That should have been the top priority to implement, and listed on the main website as a major inconvenience.

[2019-04-18 22:34] ereOn commented on #54
@IllidanS4 Can you elaborate on how this "should" have been the top priority to implement?

If this is indeed a major inconvenience for you, can I assume you will contribute a pull request to add support for it?

[2019-04-18 22:49] IllidanS4 commented on #54
@ereOn Sorry for perhaps being too harsh, but from a VPN service, I would expect that the computers in the VPN would be able to see and contact each other freely, no matter the obstacles. That's what VPN means to me.

I have a computer behind a NAT that fails all attempts at tunneling, so it can ping a public server in the VPN, but cannot be pinged back.

[2019-04-18 23:00] ereOn commented on #54
@IllidanS4 Actually, in most situations, the dynamic client contact mechanism is enough to achieve full-mesh connectivity.

The only case where it doesn't work is when two hosts each have full-symmetric NAT, which is not so common.

If say, the proportion of people that are behind a symmetric nat is 8% (as [Google](https://developers.google.com/talk/libjingle/important_concepts?csw=1) suggests), t

[2019-05-05 06:03] s-vincent commented on #190
After offline talk with @ereOn, I will work on the release the 2.2 version. I expect to have something at the end of next week.

[2019-05-05 06:09] s-vincent commented on #193
@IllidanS4 You should look if local firewall block something ?

Can you also show us the network topology you use with freelan and how many nodes you have.

[2019-05-05 10:13] IllidanS4 commented on #193
I tried it with disabled firewall with no success. Also this happened with only a client and a server node, and on another computer it worked, so no issue with the server. I couldn't even ping myself, that's the issue I think.

[2019-05-06 11:57] richman1000000 commented on #193
This is Windows issue with TAP adapter.
You need to open properties of adapter and change from static to Automatic

[2019-05-06 12:44] IllidanS4 commented on #193
@richman1000000 The adapter is already configured to get its IPv4 and IPv6 address from DHCP, but `ipconfig /all` only shows a preliminary or preferred IP adress as 169.254.222.126.

[This](https://forums.openvpn.net/viewtopic.php?t=20358) describes the issue I have accurately, but the solution doesn't work. Also when I set the IP address manually to 9.0.0.1, it gets reset.

[2019-05-06 13:16] s-vincent commented on #193
@IllidanS4 Can you try latest FreeLAN build ?

You can find setup for x64 on https://ci.appveyor.com/project/ereOn/azmq/builds/24303485/job/gx99l9job0lb1yq5/artifacts. Be sure to uninstall freelan 2.0 first.

[2019-05-06 14:09] IllidanS4 commented on #193
@s-vincent No change with the latest build.

[2019-05-07 14:45] s-vincent commented on #190
Release 2.2 is out : https://github.com/freelan-developers/freelan/releases/tag/2.2.

[2019-05-07 14:45] #190 closed

[2019-05-07 14:47] s-vincent commented on #136
@leggewie Just release FreeLAN 2.2. It would be interresting to see if reproducible builds still raises errors.

[2019-05-29 14:26] richman1000000 commented on #192
can you start freelan in cmd console with debug parameters? to see if there is cipher errors?

[2019-06-02 05:03] QuantumEntangledAndy opened #194 "IPv6 and Fatal exception occurred in thread #0: A call to an external process failed"
While using IPv6 on osx I get the following error which causes the core to close and then the program to quit. I have tested this on the 2.2.

[code]

I did some debugging myself and added the following to `./libs/executeplus/src/posix_system.cpp`

[code]

This was able to tell me what the external program that failed was.

Which was
[code]
Trying the command myself

[code]

So this seems to be no

[2019-06-04 17:34] #194 closed

[2019-06-05 07:36] QuantumEntangledAndy opened #196 "Contact ipv4 and ipv6 hosts. Is it possible?"
Currently it does not seem to be possible to contact both IPv6 and IPv4 servers

if `hostname_resolution_protocol` is set to `ipv6` then `freelan` seems to treat ipv4 address as hostnames that need to be resolved.

[code]

Then the debug log is as follows:
[code]

Or if if `hostname_resolution_protocol` is set to `ipv4` then `freelan` seems to treat ipv6 address as hostnames that need to be resolv

[2019-06-07 03:55] QuantumEntangledAndy commented on #196
Ok so it seems that contacting both is possible but that in the current state it is not working. I have a working build that allows you to contact both v4 and v6 on a mac but I am going to test it on a linux before I create the pull request.

[2019-06-14 18:57] s-vincent commented on #196
It should be good with revision fd5e650eb355d4c9595cef4879a4c575e71c9da5.

[2019-06-14 18:57] #196 closed

[2019-07-23 19:44] richman1000000 opened #199 "traffic not switching after dinamic contact."
![image](https://user-images.githubusercontent.com/9943374/61742289-70789e80-ad9b-11e9-94a0-01db979f41b4.png)

[2019-07-23 19:48] richman1000000 commented on #199
this is similar to #96,  but not the same.
Server C with public ip and relay mode enabled is contacted by 2 clients - A and B.

In the left is clientA, in the middle ServerC, on the right clientB

After establishing A<>B dynamic link, it is not used untill  ServerC is restarted.
freelan 2.2.0 (2.2) Sat 09 May 2015

[2019-07-23 19:50] richman1000000 commented on #199
I think dynamic link must have a higher priority to reduce ServerC load.

[2019-07-26 08:47] s-vincent commented on #199
Is it the official 2.2 release (https://github.com/freelan-developers/freelan/releases/tag/2.2) ? Because version indicates "09 May 2015" which is very old.

[2019-07-26 10:43] richman1000000 commented on #199
I don't know why it shows "Sat 09 May 2015"
 I created new .deb package from source https://github.com/freelan-developers/freelan/releases/tag/2.2 and installed it on ServerC and ClientB (both debian 10 x64).
ClientA is windows 64bit I just download downloaded it from https://github.com/freelan-developers/freelan/releases/tag/2.2

[2019-07-26 10:55] richman1000000 commented on #199
![image](https://user-images.githubusercontent.com/9943374/61947106-fe77a380-afac-11e9-900b-6041d048dadf.png)
 found it )

[2019-07-31 20:56] ROBERT-MCDOWELL opened #200 "freelan as browser extension"
Hi guys,

is there any chance we can port freelan into cross browser extension?

[2019-08-11 11:57] s-vincent commented on #200
Hi,

I guess with native-messaging technology we can achieve something (at least for the 3 main browsers).

[2019-08-11 12:01] ROBERT-MCDOWELL commented on #200
Great! i would be fantastic!, I would try to contribute if I can

[2019-09-27 19:54] NightSkyAsHate opened #201 "Nasty bug with hostname verification in --fscp.contact"
Any DNS address starts with a digit causes an error:
[ERROR] the argument ('4chan.org:12000') for option '--fscp.contact' is invalid

![1](https://user-images.githubusercontent.com/44664331/65798207-b7a75500-e179-11e9-88ac-353d1e2b64cd.png)
![2](https://user-images.githubusercontent.com/44664331/65798034-5b443580-e179-11e9-9a15-41a13a4a1e54.png)

[2019-09-27 20:21] richman1000000 commented on #201
interesting.
I believe this is windows specific. Bug don't appear on linux server

![image](https://user-images.githubusercontent.com/9943374/65799725-7fa21100-e17d-11e9-987e-c373b01e08be.png)

[2019-10-16 08:34] saltyzero opened #202 "If I have no any public IP or hostname but only 2 subnet IPs within different routers?"
In this case, can I connect them by freelan? I have these 2 routers public IPs and I can't do port mapping on it.

[2019-10-16 08:59] s-vincent commented on #202
Hi,

If your routers can do UPnP it may be possible.

[2019-10-19 04:16] saltyzero commented on #202
Yes, of course. Can I find one config template for this?

[2019-10-19 06:45] s-vincent commented on #202
You have to set '''upnp_enabled=yes''' in [fscp] section of the configuration file.

The mapped port should be 12000 on the public IP side.

[2019-10-21 06:04] saltyzero commented on #202
It works. lol

[2019-10-21 06:04] #202 closed

[2019-11-20 20:40] zachbellay commented on #191
If you go to Settings>Security & Privacy>General, at the bottom it will say that an application was blocked from installing, hit "Allow" and this problem is solved.

[2019-12-17 00:19] magmine commented on #31
I've did what @abolfazlsj said, and then rebuilt using:

where:
-a to rebuild all
-j8 to use 8 cores in compilation
--address-model=64 for 64-bit

[2020-01-10 23:58] Zero3K opened #203 "Is it possible to do the following with FreeLAN?"
*subject*

I would like to be able to use it to tunnel my guest VM's Internet to my host's Internet so I can be able to control the guest VM remotely with Brynhildr (a free VNC server/client that can be found at http://blog.x-row.net/?p=2455).

[2020-01-12 23:24] ndo360 opened #204 "General Questions About FreeLAN."
Greetings!

I have been considering to use FreeLAN for a project that would allow for users to play an old game online again. While I managed to get a test going with another friend of mine, I do have some questions.

1) Is it possible to configure IP Addresses so users can join and gain an IP address automatically (Without manually specifically their IP)?

2) Could the network be configured as a

[2020-01-13 12:59] ndo360 opened #205 "Example of Full Mesh Typology."
Greetings!

I am presently struggling on figuring out how to configure a full mesh typology with FreeLAN. All the examples provided, at least from what I have seen, have suggested more of a 'Client / Server' approach. What am I missing, and how can I configure a full mesh. Could someone kindly provide an example between three nodes?

Cheers,
Noah C. Cline

[2020-01-13 15:27] richman1000000 commented on #205
Hello!
freelan supports Peer-to-Peer connect (not torrent connection) which means, useful data can go from one **white ip** to another.

One of the peers , the one with **White IP** maybe need as a point of metadata exchange for Dynamic contacts.
Dynamic Contact needed if your client machines behind NAT.

But as a whole freelan supports Hybrid topology. There were sort of Metatada server (https://

[2020-01-13 16:01] ndo360 commented on #205
Thanks for the reply, please forgive my ignorance, but does this mean that a full mesh network isn't possible?

The reason I ask is the site says it should be supported, and the diagram it shows gives the impression that there wouldn't be a single point of failure.

The ports can be forwarded for all clients if that resolves NAT problems, just trying to make sure I understand. Apologies for my ign

[2020-01-13 16:21] ndo360 commented on #205
Also, apoligies if I have misused the term 'full mesh'. I was trying to ask how to create the P2P network that doesn't have a single point of failure.

[2020-01-13 16:23] richman1000000 commented on #205
freelan can make full-mesh for **data traffic** WITHOUT port forwarding. I've tested this part.
However you need a server for meta-data.

In my installation I had:
- 1,5 Mbit Server with White IP
- 10 clients with speed 100 Mbits.
(Due to Providers Market, Enterprise connection much slower and yet 4-10 times more expensive )

I need network backup, and freelan was a perfect solution. 👍
backups wer

[2020-01-13 16:24] richman1000000 commented on #205
unfortunately freelan doesn't support  distributed hash table (DHT)

[2020-01-13 16:28] ndo360 commented on #205
So there would always be a single point of failure then? As I presume meta-data must be resolved for the network to function.

[2020-01-13 17:23] richman1000000 commented on #205
not exactly.
Any peer with WhiteIP can accept meta-data request and forward them, thus anyone with WhiteIP  can become a server.
This is done manually currently (you have to posted you IP info somewhere)
But DHT just automates this part, I think.

[2020-01-14 02:30] ndo360 commented on #205
Could FreeLAN support multiple 'White IPs?' (Tinc has a similar system, but the mesh keeps track of the hosts and can tell who is portforwarxed and able to transfer meta-data.)

[2020-01-14 12:31] richman1000000 commented on #205
yes, it is

[2020-01-14 17:39] ndo360 commented on #205
Could you write an example where this is possible?

[2020-01-14 19:08] ndo360 commented on #205
Okay after reading the config file more closely, I noticed that there is a method to get users contact information. (You have to use certificates, accept contacts, and the sort.)

My one question now is the 'dynamic_contact_file' by default is empty. If it's empty, will a list of contacts still be compiled, if not how would I specify a file? Cheers!

[2020-01-14 19:10] ndo360 commented on #199
This was indeed what I was looking for before! Has there been an update that patched this issue @richman1000000 ?

[2020-01-14 21:34] ndo360 commented on #204
Okay I believe I managed to figure out how to answer my own questions.

The only question I have left is what to set the file to for the dynamically learned addresses. By default it is blank, but I want to know if it should be a text file, config, or otherwise...

[2020-01-15 08:08] ndo360 opened #206 "Trouble having peers exchange routes dynamically..."
Greetings!

I have been toying with creating a network with FreeLAN and have run into an issue that I was hoping someone here could help resolve or shed light on. Below I'll explain what is going on in my network at the present moment.

I start up the initial node. I have Relay mode enabled, and ports forwarded.

My two friends join using my Public IP and Certificates. Both have their ports forwar

[2020-01-15 12:45] richman1000000 commented on #206
1) disable relay modes on all nodes if you want to setup full-mesh
2) add dynamic contact certfificate
3) allow contact requests

[2020-01-15 16:30] ndo360 commented on #206
Thanks for the replay!

Can you elaborate more on the dynamic contact certificate? Do I add the path to the user certificate to that line, or do I do something else... first time and I am unsure how to do it.

Providing an example would be a great help as well. Thanks again!

[2020-01-16 00:34] ndo360 commented on #206
@richman1000000 Okay, so I did as you suggested. However it didn't seem to work unfortunately. I'll post the configs for each host below. Please do help me solve this issue.

Node A (Me)
`public_endpoint=0.0.0.0
dynamic_contact_file="testerone.crt"
ipv4_address_prefix_length=192.168.143.1/24
ipv6_address_prefix_length=2aa1::1/8
signature_private_key_file="testerone.key"
signature_certificate_file=

[2020-01-16 04:38] #204 closed

[2020-01-16 04:38] #205 closed

[2020-01-16 13:13] richman1000000 commented on #206
Node A (Me) (testOne)
~~dynamic_contact_file=testerone.crt~~
dynamic_contact_file="testerthree.crt"
dynamic_contact_file="testertwo.crt"

Node B (Friend) (TestTwo)
dynamic_contact_file="testerone.crt"
dynamic_contact_file="testerthree.crt"
~~dynamic_contact_file="testertwo.crt"~~

Node C (Friend)
dynamic_contact_file="testerone.crt"
~~dynamic_contact_file="testerthree.crt"~~
dynamic_contact_file="

[2020-01-17 12:48] richman1000000 commented on #206
there were freelan server, which had such things.

I think you can write a script, If you need huge scaele (50 users) but currently, freelan doesn't contains automation mechanism

[2020-01-18 05:21] lonerzzz commented on #189
I did not see the init.d code for the Debian distro in this repo. Does anyone know where the Debian distribution code is maintained?

[2020-01-18 15:19] ndo360 opened #207 "How to setup a 'Site 2 Site' style VPN connection between two nodes?"
Greetings!

I am working on creating two ideal 'server' nodes that clients can connect communicate on, and I was wondering if it was possible to bridge them together so no matter the node the clients are connected to they would be able to communicate with each other.

The reason I feel it wouldn't be that simple is due to the fact that I need frame relaying enabled on both 'server' nodes. Any advi

[2020-01-18 17:12] lonerzzz opened #208 "Error in configuration file comments regarding IPv6 networking"
In the freelan.cfg file, there is a comment for the ipv6_address_prefix_length parameter that indicates:

"Commenting out, will result in no IPv6 networking. You cannot supply a blank value."

This is incorrect or incomplete. In fact, a default IPv6 address will be assigned meaning conflicts will occur unless an IPv6 address is provided on each node.

[2020-01-18 17:21] lonerzzz opened #209 "Unexpected processor usage with no traffic"
I have setup a 3 node network and it works without issues so far. However, I see the two processors on each node consuming between 10-20% of the CPU with no traffic. I did not find any configuration parameters that seemed relevant either for debugging and getting verbose output or to alter the behavior.

The documentation should outline:
1) expected CPU behavior
2) configuration parameters for deb

[2020-01-18 19:45] ndo360 commented on #146
I honestly cannot wait for this feature to become a reality, keep up the good work!

[2020-01-18 22:27] ndo360 commented on #206
Could you provide an example? Like for a Server running the script, and others connect and learn the routes due to the scripting?

[2020-01-20 06:56] der-andrew opened #210 "Protocol masking"
Is it possible to mask or modify or some other way to hide protocol?
Preamble.
I have connected 30+ peers. Everything is fine, but almost. One pair didn't connect with "**No HELLO response received**" message. Huge time of investigation shows that it was due to one of ISP is blocking traffic - Great Chinees Firewall or smth.
AIK, openvpn pretends himself as htts.

[2020-01-20 13:00] richman1000000 commented on #203
you need at least 1 white ip

[2020-01-20 13:56] Zero3K commented on #203
What do you mean by "white ip"?

[2020-01-24 10:00] havardAasen commented on #189
Rolf Leggewie orphaned the package in debian early 2018 so you might not get a response from him.

was fixed in debian release 2.0-8 which came out in 2018

was fixed in debian release 2.2-2 which migrated to testing today
It's unlikely that these changes gets backported to stretch.

@lonerzzz
As for the debian repo, this might be what you are looking for
[https://salsa.debian.org/debian/freelan](

[2020-02-28 16:30] HenryNe opened #211 "syslog without timestamps"
Syslog should not logged with timestamps.
Maybe the detection of option "syslog" should moved up before loading certs.

Syslog under linux:
[code]

Started via start-stop-daemon with option ```DAEMON_ARGS="--syslog"```.
The running task in processlist is:
```/usr/sbin/freelan --syslog -p /var/run/freelan.pid.freelan -c /etc/freelan/freelan.conf```

Build from source release 2.2:
[code]

[2020-02-28 16:44] HenryNe opened #212 ""UPnP to traverse NAT enabled" missing in Release Notes 2.2"
On update from revision 2.0 to revision 2.2 a new feature "upnp_enabled=yes" is enabled by default, related to PP #144.
I missing this in Release Notes:

[2020-02-28 16:56] s-vincent commented on #211
Hello,

Thanks for your reports.

I made a change in revision af6fd71b4ddec9a4afd4415fd85c4f8a0d17dc0c that fix this behavior.

[2020-02-28 18:48] HenryNe commented on #211
Thanks a lot. I confirm, it's fixed now.

[2020-02-28 20:06] #211 closed

[2020-02-28 20:11] #189 closed

[2020-02-28 20:16] s-vincent commented on #188
No reply since last year, closing. Feel free to reopen if progress has been made.

[2020-02-28 20:16] #188 closed

[2020-02-29 07:29] s-vincent commented on #212
Hi,

Thanks, I updated release 2.2 page (https://github.com/freelan-developers/freelan/releases/tag/2.2).

[2020-02-29 07:29] #212 closed

[2020-02-29 08:00] s-vincent commented on #199
@richman1000000 How do you get the debian packaging stuff from 2.2 release (because it is not shipped with it) ?

[2020-02-29 09:29] s-vincent commented on #210
It is a good idea.

One starting point could be to use obfsproxy (which can also be used by OpenVPN) to do that instead of recoding HTTPS protocol into FreeLAN.

If someone wants to look at that, it will be awesome !

[2020-02-29 11:48] s-vincent commented on #208
I cannot reproduce this one (on GNU/Linux at least).

@lonerzzz Is your assigned IPv6 address is a link-local ones (in fe80::/64 range) ?
Please note that link-local address will always be configured (except if you echo 1 > /proc/sys/net/ipv6/conf/<int>/disable_ipv6). And IPv6 conflicts will be resolved thanks to Duplicate Address Detection (DAD) stuff from NDP.

[2020-02-29 11:56] s-vincent commented on #203
@Zero3K if you VM and your host are both in the same FreeLAN networks (i.e. both run freelan binary with setup contact and credentials), it should work.

[2020-02-29 12:04] s-vincent commented on #207
Normaly enable frame relaying should be enough regarding freelan configuration.

After for the routing part, each server has a virtual interface for Freelan network so the rest is network configuration:
- the server should configure IPv4 and/or IPv6 routing (see /proc/sys/net/ipv4/conf/all/forwarding and /proc/sys/net/ipv6/conf/all/forwarding on GNU/Linux)
- clients should set their default gatewa

[2020-02-29 12:06] s-vincent commented on #209
@lonerzzz Please tell us which version do you use.

[2020-02-29 12:40] s-vincent commented on #201
That was a tricky thing. In facts there was parsing issues :
- all numeric domain/subdomain ;
- domain/subdomain beginning with a digit.

For the record, on GNU/Linux, "4" is a valid address (try "ping 4") but on Windows it fails.

Fixes has been done in revision 4bfe5a7be1a26b04c43fc4d9768cb5238bceee0c.

[2020-02-29 12:40] #201 closed

[2020-02-29 12:41] s-vincent commented on #201
And for the record also, a (all) numeric subdomain or domain is perfectly valid according to RFC1123.

[2020-02-29 12:52] s-vincent commented on #124
No answers for more than one years, closing.

Feel free to reopen if any.

[2020-02-29 12:52] #124 closed

[2020-02-29 19:31] richman1000000 commented on #199
I was using source code from here and compile+assemble it into  .deb package
I have it posted https://yadi.sk/d/U3Z7QK7Aing6D  in here.

[2020-03-04 11:34] s-vincent commented on #136
Freelan 2.2-3 debian package is reproducible for amd64 and arm64.
i386 builds has not been triggerred yet.

[2020-03-11 03:49] lorki opened #213 "How to connect different nodes?"
I have a server on the Internet (S) and I have two PCs behind NAT. How can I make PC1 connect to PC2?

[2020-03-11 03:53] lorki commented on #213
Two PCs can be connected to S, but cannot be directly connected.

[2020-03-11 09:47] lorki commented on #213
**S:**
[code]

**PC1:**
[code]

**PC2:**
[code]

With the above configuration, I can achieve interconnection, but the speed is too slow and the network overhead is too large.

Is there a way for S to provide stun service for two PCs. There is no need to pass data through S to achieve interconnection.

[2020-03-11 15:09] richman1000000 commented on #213
use Dynamic contacts

[2020-03-11 15:23] lorki commented on #213
Can you give me further enlightenment? For example, some documents or samples?

[2020-03-11 17:06] richman1000000 commented on #213
https://github.com/freelan-developers/freelan/issues/206#issuecomment-575145130

[2020-03-11 17:31] richman1000000 commented on #213
this is my working configuration. My White IP replaced so noone will DDoS

[2020-03-13 05:54] der-andrew opened #214 "fix version for rpm package"
Branch master.
VERSION
**2.3**
packaging/rpm/freelan.spec
%{!?version:%define version **2.2**}

[2020-03-22 11:39] HenryNe opened #215 "webserver listen_on=[::]:443 use a random IPv6 listen port"
If the buildin web server is configured for all IPv6 devices with the option `listen_on=[::]:443`, then the web server is listen on a random IPv4 port.

Used ports by Freelan:
[code]
The **"0.0.0.0:27113"** is wrong there. This should be ":::443".

Config:
[code]
Runing:
[code]
Full debug log: [freelan-debug.txt](https://github.com/freelan-developers/freelan/files/4365065/freelan-debug.txt)

Freel

[2020-03-22 12:02] HenryNe opened #216 "SIOCSIFTXQLEN not permitted"
On a vServer without full rights to kernel, freelan stops with that message:
[code]
First it was difficult to find, what goes wrong, because the error message says nothing about the operation. So strace was used to find:

[code]
I suggest do not "return", if the buffer size can not change.
https://github.com/freelan-developers/freelan/blob/4bfe5a7be1a26b04c43fc4d9768cb5238bceee0c/libs/asiotap/src/

[2020-03-22 12:32] HenryNe opened #217 "error message not very helpfull"
On some errors where freelan breaks out, the error message was not helpfully, because only the error was printed, without a reference to the action.

For example on a vServer without rights to create the node /dev/net/tap, freelan terminates with follow messages:

[code]
Of course, you can start freelan with strace to find it:
[code]
A source of error would be helpfully. For exmaple "can not open

[2020-03-22 12:52] HenryNe opened #218 "freelan on vServer where /dev/net/tap is missing"
Freelan stops running on a vServer, because can not create node /dev/net/tap:
[code]
The detail was found with strace:
[code]
Workaround: Create a soft link from existing /dev/net/tun:
[code]

The documentation about devices says, use it for TUN and TAP. There not exist a separate device name for TAP.
https://www.kernel.org/doc/html/v4.15/admin-guide/devices.html:

Why not open `/dev/net/tun` in a

[2020-03-23 13:18] s-vincent commented on #215
Hi and thanks for report !

After a quick review in code, we do not compile libmongoose with IPv6 support.
=> I will fix it soon.

[2020-03-23 13:20] s-vincent commented on #216
Hi and thanks for report and PR !

Yes I also think that we should not fail in this case, maybe just log something.

I will review your PR ASAP. Thanks again for that !

[2020-03-23 13:23] s-vincent commented on #218
Hi and thanks for report and PR !

For choosing /dev/net/tap instead of /dev/net/tun, well I guess I do not remember.
@ereOn I ask for your memory :).

Maybe there was a distinction in old GNU/Linux kernel ?

Anyway I will review your PR ASAP. Thanks again for that !

[2020-03-23 13:28] s-vincent commented on #217
Hi and thanks for report.

Agree we should add some more explicit error message for system calls.

[2020-03-23 13:29] s-vincent commented on #214
Hi and thanks for report.

Yes I will add that ASAP.

[2020-03-23 13:31] ereOn commented on #218
So, what I remember is that when we first started FreeLAN (was that already +10 years ago ?!), `tun` and `tap` were highly distinct choices. `tun` did not allow real-LAN emulation (we wanted to have control over the lower layers of the encapsulated trafic, including ARP for instance) so the default choice has always been `tap` for that reason.

Long story short, I see no valid reason today to pref

[2020-03-23 18:31] HenryNe commented on #218
Yes in older kernel it was `/dev/tap0`, and separate name for every node index.
https://www.kernel.org/doc/html/v4.15/admin-guide/devices.html:

[2020-03-23 19:16] HenryNe commented on #215
NS_ENABLE_IPV6 in mongooseplus not helps.
It stops here now:
[code]
Lets see more with strace:
[code]

[2020-03-23 19:37] s-vincent commented on #215
I try to fix that in git revision c74d13b6ebc14d5673d1bcae5d0574b2dcbf7519.

[2020-03-23 19:41] s-vincent commented on #216
PR #220 merged. Thanks !

[2020-03-23 19:41] #216 closed

[2020-03-23 19:41] s-vincent commented on #214
Fixed in 3f9def375a176b8acec758939b28b450fc4d3ffd.

[2020-03-23 19:41] #214 closed

[2020-03-23 19:45] s-vincent commented on #218
PR #219 merged. Thanks !

[2020-03-23 19:45] #218 closed

[2020-03-24 21:24] HenryNe commented on #215
HTTPS is working now. Connection with web browser is OK.
Thanks again.

[2020-03-24 21:24] #215 closed

[2020-03-27 18:40] matthayter opened #222 "Request: debian buster package"
Hi team - looks like there's [no official packge](https://packages.debian.org/search?searchon=names&keywords=freelan) for the stable Debian Buster at the moment, but there is for Bullseye (testing). I'm installing from source (nice guide, thanks for that!) but I thought it might be nice to have an official package too.

I'd make an official backport myself, but it'd be new to me and I figure it's

[2020-03-27 18:50] s-vincent commented on #222
Official Debian package source is at https://salsa.debian.org/debian/freelan.

[2020-04-07 19:28] #222 closed, assigned to nobody

[2020-06-06 06:43] richman1000000 opened #223 "freelan windows tap adapter problem"
freelan still has this problem in windows.
After connection is established traffic is not going out or in.
If you open TAP adapter properties you can see that it set to Manual IP but  no IP address is specified.

all fields are empty.
![image](https://user-images.githubusercontent.com/9943374/83938021-06fa5680-a7da-11ea-9b06-c2fedd246187.png)
![image](https://user-images.githubusercontent.com/9943

[2020-06-06 06:56] richman1000000 commented on #186
you need dynamic contacts to work as real local network

[2020-06-09 19:05] fulldecent opened #224 "Have a quicker quick start"
Maybe use a quicker quick start which optimizes for a common situation: two people want to play Heroes of Might and Magic III across the internet when it designed only for LAN play.

# Design

[code]

And then

[code]

[2020-06-09 19:15] richman1000000 commented on #224
freelan is not a complete solution. It is more like VPN  core.
There were freelan-server web application which did that. but they discontinued it cause of some licensing issue.

[2020-06-09 19:58] wesx commented on #224
one could add a scripts that does this kind of an interface and then use the provided parameters as command line arguments.
Such script should be easy to implement as it just uses a question response style to collect (and validate) the parameters instead of providing them all at once via command line.

[2020-06-09 20:14] richman1000000 commented on #224
yes, but I don't think that this is so necessary at this point.
Script for generating config is not so hard to create, just time consuming.
https://github.com/freelan-developers/freelan-server I used this server with freelan1.1. and it was GREAT. you could assign IP on central server

[2020-06-09 20:34] richman1000000 commented on #224
I suggest you to vote for porting this project to new version of freelan.
It is really effective from my point of view

[2020-06-09 21:08] fulldecent commented on #224
To be honest, my biggest concern here is that as-is I am going to need to explain to somebody, over the phone, how to open terminal and type these things in, including hyphens ("what's a hyphen?") perfectly. And then they are going to FaceTime me, and then I have to watch the small screen Blair-witch style as it floats around... lol

[2020-06-09 21:14] wesx commented on #224
One very non programatical solution for this would be sending them the correct command via text chat. This is at least my quick and dirty method of giving people some command line stuff.

[2020-06-10 15:02] richman1000000 commented on #224
I think I understand.
it looks like improvement #151 .

[2020-06-12 05:20] richman1000000 opened #225 "Dynamic contact stops working after some time."
After running for several days freelan dynamic contact stops working.
In log files on main peer (with white IP) I found this .

![image](https://user-images.githubusercontent.com/9943374/84467482-fdaf3500-ac84-11ea-922e-5e301a63477f.png)

it looks like freelan stacks up address:port combination for a given peer instead of replacing it.

[2020-06-12 17:10] richman1000000 commented on #225
as a temporary solution I made a cron job on main peer to restart freelan once a day.
so system will drop stacks of addresses
![image](https://user-images.githubusercontent.com/9943374/84528634-b9558080-ace8-11ea-9a0c-7091442c5e04.png)

[2020-07-27 06:53] richman1000000 commented on #160
I think you should make a Certificate based setup.
I think I can create such test env with my VPS server

[2020-09-04 14:50] marcelofeb opened #226 "Question: Can Freelan make a network in the same style as radmin vpn?"
Example: I have 2 clients and their VPN connects to the server, but after authorizing they close a VPN between clients without needing the server anymore, that way the connection is faster and no longer passes through the server.

[2020-09-04 15:54] richman1000000 commented on #226
yes, it works this way
You need to use dynamic contacts https://github.com/freelan-developers/freelan/issues/206#issuecomment-575145130

[2020-10-02 08:29] fmammadov85 opened #227 "Remove from windows"
Hello I want to remove freelan from windows 10.So I camed to C/Programfiles/Freelan and unistalled it and then after restart  I login from control panel to services i cant find freelan service but my computer already connected to this service vpn, Thyen i writed what is my ip in the google then sawed that my ip is changed, I am also checked delete with revo uninstaller but it didnt give result to

[2020-10-03 08:32] s-vincent commented on #227
Do you try Windows's "Apps and features" ?
=> https://www.businessinsider.fr/us/how-to-uninstall-programs-on-windows-10

Maybe a reboot after, just to be sure.

[2020-10-03 15:30] fmammadov85 commented on #227
Okay thank you very much, I checked it and i succesfully deleted it, Thanks

[2020-10-03 15:30] #227 closed, assigned to nobody

[2020-10-27 19:54] ndo360 opened #228 "Split Tunnel Setup?"
Greetings!

I was wondering if there was a way to configure a split tunnel setup within FreeLAN. Mainly so that only traffic destined for the network would go through the VPN, while everything else would go through the user's own internet connection.

Anyone know how to configure this?

[2020-10-28 11:37] richman1000000 commented on #228
it is split tunneled in 1st place actually

[2020-10-28 11:56] ndo360 commented on #228
Ah this is amazing news! I actually suspected this after noticing my Public IP doesn't change when connected.

I just wanted to be sure and verify this, thanks for the reply!

[2020-10-28 22:55] #228 closed, assigned to nobody

[2020-10-28 23:10] ndo360 commented on #54
I would have to say that I would me in favor of this setup being implemented, especially from the looks of it that it would allow for dynamic contacts to be formed using just the passphrase setup (As I believe a certification is the only way for dynamic contacts to function in FreeLAN presently.)

[2020-11-08 13:59] darkshifty opened #229 "FreeLan service doesn't work"
Event viewer:
The FreeLAN Service service is marked as an interactive service.  However, the system is configured to not allow interactive services.  This service may not function properly.

Running FreeLAN in foreground mode works.

[2020-11-09 13:13] richman1000000 commented on #229
In linux?
you can check file /etc/init.d/freelan
`DAEMON=/usr/local/bin/freelan`

This parameter may be incorrect in installed version.

[2020-11-15 14:15] darkshifty commented on #229
Sorry no, this is in the latest Windows 10

[2020-11-16 12:53] richman1000000 commented on #229
I don't have any problems on Win10

[2020-11-19 17:12] HenryNe opened #230 "Ignoring PRESENTATION every minute for long time"
After long running (30 days) and a short network problem, connection between 2 of 8 nodes are not establisht.
This message comes every minute on both nodes:

[code]
All other 6 connections (of totaly 7 for 8 nodes) works perfectly over all the time.
After ~2 hours the connection was stable again.

The same issue have some days before, and I have fixed it by restart freelan on one host.

I feel, bo

[2020-11-19 18:54] richman1000000 commented on #230
I think this is issue with your internet. I had similar issue.
this 2 messages
`Ignoring PRESENTATION from 4.3.2.2:12000`
and
`Error deciphering data message from 4.3.2.7:12000: error:00000000:lib(0):func(0):reason(0)`
are not related.

[2020-11-19 22:21] HenryNe commented on #230
I should say, that I use UDP and one of the host stays behind a NAT.
Is the error a side effect of concureny PRESENTATION and the UDP port over NAT?

Both hosts have good connections to 6 other nodes at this time.

If I stop freelan for 5 or more seconds on one of the hosts, and start it again, than all will kork.
But, if I use "restart", then the connection comes not back again.

[2020-11-19 23:18] HenryNe commented on #230
Here are last lenes of syslogs, 2 minutes before the connection establisht. The timestamps in hosts are in synch.

15:58:14 host_6: Accepting PRESENTATION from host 1
15:58:14 host_1: Ignoring PRESENTATION from host 6
15:58:24 host_1: Session lost (timeout)

15:58:46 host_1: Accepting PRESENTATION from host 6
15:58:46 host_6: Ignoring PRESENTATION from host 1
15:58:47 host_6: Session lost (timeout

[2020-11-20 13:45] richman1000000 commented on #230
this error -  is definitely network issue "Error deciphering data message from 4.3.2.7:12000: error:00000000:lib(0):func(0):reason(0)"

on your NAT routers did you made port forward? or you using Dynamic contacts?

[2020-11-21 20:29] HenryNe commented on #230
Only one host is behind a NAT with a static port forward.
All 8 hosts have 7 entries in "contact=", and all have a static IP address. See config for node1:
[freelan.conf.txt](https://github.com/freelan-developers/freelan/files/5578332/freelan.conf.txt)

[2020-11-21 21:19] HenryNe commented on #230
I don't belive a network problem, because 6 other connections between the other 7 hosts have not this issue. Typicaly reconnect 1 minute after a problem.
* host_0 no errors
* host_1 14:08 Session lost with host_4, 6 * 14:09 reconnected with host_4 * 16:00 with host_6
* host_2 14:08 Session lost with host_4, 5, 6, 7 * 14:48 reconnected with all
* host_3 no errors
* host_4 14:08 Session lost with ho

[2020-11-23 13:10] richman1000000 commented on #230
ok. try to check PMTU on between both nodes, or fix mtu withing freelan config

[2020-12-11 19:44] HenryNe commented on #230
Have checked MTU between all nodes. It is 1500 every there.
I used command like this
[code]
A negativ check:
[code]

[2020-12-25 10:59] Roken120 opened #231 "Multiple box over one client"
Hello,
Is possible to use multiple internet connexion for one client for aggregate the speed and for falback ?
My home - Computer - 3 internet connexion to my second home 1 internet connexion - computer

[2020-12-26 17:22] s-vincent commented on #231
I guess it is doable but outside of FreeLAN. I would do that stuff with pfSense OS on a classic router and multi wan configuration.

[2020-12-27 00:24] Roken120 commented on #231
Is for make this :
![image](https://user-images.githubusercontent.com/16229805/103161449-30181e00-47e2-11eb-99fe-40777caf81d3.png)

[2020-12-27 14:56] richman1000000 commented on #231
I know that setup!
I did it with OpenVPN, But freelan doesn't need that.
in file /etc/default/freelan, set `-t 16` into DEAMON_OPTS. on both servers and check you speed

[2020-12-27 14:57] richman1000000 commented on #231
also if you want to aggregate  2-3 PROVIDERS, you can use load balancing configuration in IPtables

[2020-12-27 16:55] Roken120 commented on #231
For  load balancing configuration in IPtables do you have a tutorial for make this ?

[2020-12-29 04:10] Roken120 opened #232 "Access to local"
Hello,
The freelan connect between two hosts maybe impossible to access each host do you thing where is the problem ?

[2020-12-29 05:50] richman1000000 commented on #232
can you describe step-by-step? and show some part of the config files and log files?

[2021-01-17 14:22] guilhermecugler commented on #186
can you show me an example of how to do?

[2021-01-17 18:00] guilhermecugler commented on #206
@ndo360 did you succeed in automatically scaling dynamic contacts?

[2021-01-17 18:26] ndo360 commented on #206
Nope. I've been mainly waiting for the 3.0 milestone to release, as it seems some 'supernode' capabilities would be possible.

[2021-01-17 21:55] guilhermecugler opened #233 "Request: Silent install for windows"
It would be nice if you had a way to silently install freelan on Windows

[2021-01-18 02:56] guilhermecugler commented on #206
@ndo360  I did an "adaptation", it hurts to see but for my case it will work.
I created a counter on the host that returns a number when receiving a request, so I take that number and directly modify the client's freelan.cfg file, which will continue with this ip "forever", only supports 255 "registered" clients but it is an amount well above what I need.

[2021-01-18 06:30] richman1000000 commented on #225
restarting once in 20 minutes.

[2021-01-18 06:34] richman1000000 commented on #186
for Dynamic contact you need **certificate based authentication**
I use XCA to generate certificates. it has GUI, really simple and fast

`can you show me an example of how to do?`
I've described it right here
https://github.com/freelan-developers/freelan/issues/206#issuecomment-575145130
also here is my working config  [freelan.txt](https://github.com/freelan-developers/freelan/files/5828237/free

[2021-01-19 00:55] guilhermecugler commented on #186
@richman1000000  I can ping PC1 with SERVER and PC2 with SERVER, but cant ping PC1 with PC2

SERVER:
[code]

PC1:
[code]

PC2:
[code]

how can I ping PC1 with PC2?

Its ok if I need  assign the ip manually
All devices use Windows

[2021-01-19 06:44] richman1000000 commented on #186
again. you need CA and DYNAMIC CONTACT!!!!
~passphrase=secret~

[2021-01-19 06:49] richman1000000 commented on #186
PC1
[code]

PC2
[code]

[2021-01-19 06:53] richman1000000 commented on #186
This part is responsible for dynamic connection

server:
[code]

PC1:
[code]

PC2:
[code]

[2021-01-19 12:18] guilhermecugler commented on #186
I understand now, thank you!!!
I am very begginer sorry for all the dumb questions haha

[2021-01-20 17:50] Mohad0 opened #234 "Unquoted service path"
Hi FreeLan team,

After installing FreeLan 2.2.0 from:
- https://github.com/freelan-developers/freelan/releases/download/2.2/freelan-2.2.0-x86-install.exe
- https://github.com/freelan-developers/freelan/releases/download/2.2/freelan-2.2.0-amd64-install.exe

I noticed that its service is hijackable due to the unquoted service path. Using this vulnerability, attackers can execute different files as

[2021-01-20 21:29] ndo360 opened #235 "Version 2.2 not on main site, and not available for linux via apt-get."
Greetings!

I was wondering if the main site's downloads, as well as the apt-get for freelan could be updated to 2.2.

[2021-01-20 23:00] ndo360 opened #236 "DHCP is inconsistant"
Greetings!

I was hoping I could get her some insight with an peculiar￼ issue I am having.

Right now I am running a linux server that has a DHCP service running, as well as a FreeLAN, which should allow clients to join and gain their IP address automatically. The issue I am having is that my clients who connect are having inconsistent results in obtaining an IP address.

The Host:
The host is run

[2021-01-21 07:09] richman1000000 commented on #235
I usually store latest version I've built for myself here https://yadi.sk/d/U3Z7QK7Aing6D?w=1
If you want, you can use it too

[2021-01-21 07:28] richman1000000 commented on #236
I tried to use DHCP with Freelan. But it is better to just use settings in config.
I think return of Freelan Server will solve IP lease problems

[2021-01-21 13:56] ndo360 commented on #235
How would I get this onto my linux build and install it? Would I use apt-get that link, and install it that way or?

[2021-01-21 13:58] ndo360 commented on #236
Is it confirmed that the FreeLAN Server will make a return in version 3.0?

[2021-01-21 22:12] ndo360 commented on #235
I figured out how to go about it and got it working. Thanks.

However I will keep the issue up as the website does need to be updated.

[2021-01-27 00:52] ndo360 opened #237 "Static IP despite DHCP enabled."
Greetings!

I noticed an odd bug that can occur to clients that are set to grab their IP via DHCP. At times, if you were to disconnect and reconnect, the tap adapter gets the static IP of 9.0.0.1 instead of waiting for a DHCP server to assign its address.

**The Host:**
The host is running dnsmasq for the DHCP server, and it listens on the tap interface for incoming connections. FreeLAN is started

[2021-03-09 09:48] M507 commented on #234
[code]

[2021-03-14 23:45] asafgb opened #238 "Freelan not connection establise"
I try to connect 2 computers

1. Windows 10
2. Windows 7

The computer 1 Now will be called A (my computer).
The computer 2 Now will be called B (my Bro computer),
Get mine Presentation, my Certification

Output On B server

on A server
I got output

On Wireshark check
I got on send (from A to B, the establish connection the full certificate)
You can see full certificate request
![like here](https

[2021-03-14 23:49] asafgb commented on #223
write here your config file

[2021-03-17 13:50] richman1000000 commented on #223
[freelan.txt](https://github.com/freelan-developers/freelan/files/6156847/freelan.txt)

[2021-03-17 14:04] asafgb commented on #223
run the freelan.exe with parameter -d
steps
1. open cmd as admin
2. stop the service of freelan
3. cd the cmd to freelan Folder
4. run freelan.exe -d
5

So your config is that

[2021-03-17 15:10] richman1000000 commented on #223
[freelan_run_debug.txt](https://github.com/freelan-developers/freelan/files/6157411/freelan_run_debug.txt)

[2021-03-17 15:32] asafgb commented on #223
I new as you on that Software
but It looks on the debug that it success to reach
it reach to Destination computer
what the debug On the other computer

[2021-03-17 18:06] richman1000000 commented on #223
no, problem is always happens on the Windows. I was testing freelan on Windows 7 about 5 years ago. The issue still exists on Windows 10 and Windows 2019 server.
Currently I only have 1 windows computer - my laptop which runs freelan.
All others machines are linux, they have no problem.

[2021-05-24 07:23] EliasHasle opened #239 "Download links for Windows binaries are broken"
Both the Windows download links (to Bintray) on https://www.freelan.org/download.html#windows are broken. They lead to the most fancy 404 page ever, with playable Breakout...

[2021-05-28 22:15] ghost commented on #239
![image](https://user-images.githubusercontent.com/69373044/120046663-4831da80-bfd8-11eb-86b0-88fad63f8074.png)

[2021-06-13 18:07] eagl3s1ght commented on #239
FYI: You can still download via the releases page on Github: https://github.com/freelan-developers/freelan/releases

[2021-07-10 09:04] ErikBuer opened #240 "Not building on CentOS 8 stream, with solution."
When attempting to build from source on  CentOS 8 stream I get the following error:
/usr/bin/ld: cannot find -lboost_thread-mt

Removing "-mt" from apps/freelan/SConscript lets it build.

[2021-09-14 19:49] AndrewDragonCh commented on #239
They still should update the links. The original host, bintray, seem to have been replaced by jfrog. For an ordinary user, they may just give up.

[2021-09-15 05:51] richman1000000 commented on #239
https://github.com/freelan-developers/freelan/releases/tag/2.2
binaries still here

[2021-09-15 14:43] AndrewDragonCh commented on #239
Yea, but the issue isn't with the binaries in general, its the fact the binaries on the website don't exist anymore. Who ever is in charge of the website should have it redirect to the GitHub releases tab. It makes things a whole lot less complected when things just do what they're supposed to do, especially something as simple as changing a few links. Heck, if they wanted to use a file host like

[2021-09-24 02:54] lkobus commented on #186
@guilhermecugler did you manage to make this work? I would like to know your point of view and the results you achived.

[2021-09-25 03:01] guilhermecugler commented on #186
yes, but I had to generate 1 certificate for each new machine, I even managed to generate it automatically for a while but it stopped working... I ended up migrating to OpenVPN which suited me perfectly. (the lan was for a p2p game)

[2021-09-28 11:09] xtaran commented on #235
@ndo360 wrote on 20th of January 2020:

freelan 2.2-1 was uploaded to Debian Unstable already on 13th of January 2020. So in theory this issue could have been closed immediately as the issue was already solved a week before.

But of course this won't update the package version in any already released Debian Stable release (Debian 10 Buster back then — which is probably where @ndo360 wanted version

[2021-10-08 16:28] rica01 opened #241 "[ERROR] UPnP discovery/port mapping failed: Success"
Hello. Im trying to add a node on a docker. I get this error message

[code]

they only lines on my config file are:
[code]

[2021-10-09 01:58] richman1000000 commented on #241
`No user certificate/private key or pre-shared key set`
you didn't made any authentication  settings. this error is correct.

[2021-10-09 02:01] richman1000000 commented on #241
you need to specify
`passphrase=`
or
`signature_certificate_file= `
`signature_private_key_file=
`

[2021-11-09 06:34] havardAasen opened #242 "Fails to build with OpenSSL 3.0 due to `ERR_GET_FUNC`"
OpenSSL has removed `ERR_GET_FUNC` since version 3.0 https://github.com/openssl/openssl/commit/561e5cda7b7139c665dd9d2f39058b4081da54d2

https://github.com/freelan-developers/freelan/blob/779a1421adbbfa35568cea9b212d1ba0635570e1/libs/cryptoplus/include/cryptoplus/error/error.hpp#L243

[2022-01-17 15:42] allywilson opened #243 "Is this project dead?"
Last commit almost 2 years ago. Not seeing issues being closed either.

[2022-01-18 20:04] ereOn commented on #243
Original author here.

There was a soft hand-off of the project done a couple of years ago to a friend of mine that was involved in development from day 1.

The project is not dead, but to be fair it's not really alive either.

It is a bit hard to dedicate so much time on something, not getting much in return and sometimes get insulted because the free software people got didn't exactly match thei

[2022-01-18 20:30] allywilson commented on #243
I fully understand, and appreciated your points. Hope you, or someone else, has the ability and patience to pick it up again in the future.

Thank you for your hard work.

[2022-01-18 20:30] #243 closed, assigned to nobody

[2022-09-03 09:30] KOYK commented on #239
The download links re-direct you to an other site, I assume this was not intended and to say the least this might end up being harmful for the users if the targeted site is not safe.

[2022-10-09 01:10] polemion opened #244 "Keep getting "but no presentation is available. Ignoring." and no connection."
[code]

Hi,

I keep getting a "but no presentation is available. Ignoring." message when establishing a connection which keeps repeating as shown above and no connectivity is established in between the nodes.

I have no other errors on the debug output. No server, just peers, certificates are correct.

Any ideas?

[2022-10-09 02:01] polemion commented on #244
OK, stupid me I guess.

The certs were correct, but I have used the ca.crt for the one node which didn't have the updated creds of the other node's certificate.

For anyone having the same issue on the future, first sign all of the certificates to the authority and then copy the ca.crt at the end :)

[2022-10-22 08:12] polemion commented on #244
Scratch that, it worked once and then started having the same issue again.

Two machines, one Linux the other Windows.

The Linux machine is throwing the aforementioned  error, the Windows machine does not.

It doesn't make any sense at this point.

[2022-11-20 20:42] Fabxx commented on #242
The program becomes useless unless you downgrade OpenSSL, which is not recommended in any way, either update this tool or archive this repository and report it as not usable.