[2012-04-25 11:55] ereOn opened #1 "More specific instructions from the Windows installer"
As it stands, the installer does not explain that the user has to modify the configuration file and to start the service for freelan to work.

This leads to an enormous amount of people asking "What do I do ?" and you could easily be avoided by giving instructions in the installer.

[2012-04-26 14:29] ereOn opened #2 "Commit the Mac OS X installer"
The repository lacks the Mac OS X installer files.

As it stands nobody can rebuild the Mac OS X installer as its source files are not available.

[2012-05-01 21:48] #1 closed, assigned to nobody

[2012-05-04 11:28] vincsilver opened #3 "Is FreeLan available on Windows XP ?"
Hello,

I have installed FreeLan on a Windows XP SP3 Virtual Machine.

Installation seem to be correct but when i'm going on "Windows services" I can't see "FreeLan Service" in the list.

The command : net start "freelan service" in a prompt, return a error which say that the service is not valid.

Hope this Issue help !

Best Regards,
Vincent

[2012-05-04 11:44] #3 closed, assigned to nobody

[2012-08-21 15:03] ereOn opened #4 "Missing sections in the wiki"
The wiki's tutorials are currently wrong as they lack the `[sections]` in the sample configuration files.

Those sections **must** be added quickly as they could confuse some users.

[2012-08-27 11:56] #4 closed, assigned to nobody

[2012-10-24 16:13] ereOn opened #5 "Update the two-host configuration sample to show good-practice"
The [Two hosts configuration sample](https://github.com/freelan-developers/freelan-all/wiki/Two-hosts-configuration-sample) could be improved to teach best-practice regarding CA certificate usage.

Actually, it tells the user to directly specify the user certificates as `authority_certificate_file` but providing the CA here would probably be nicer.

[2013-02-08 22:58] #5 closed, assigned to nobody

[2013-04-10 09:24] ereOn opened #8 "Create build-machines"
Creating build machine for each of the operating system would be nice.

http://buildbot.net/ seems like a good candidate for that.

[2013-09-30 00:39] danmoz opened #9 "Freelan Windows (un)installer breaks OpenVPN install"
I uninstalled Freelan on my Windows box using the uninstall tool, and it removed my OpenVPN TAP adapter, in addition to the Freelan TAP device. The version I used was v1.1.

Expected behaviour: the uninstaller removes its own TAP device only, and leaves the TAP driver installed, in case other applications are using it.

[2013-10-25 07:03] #9 closed, assigned to nobody

[2013-10-27 05:11] bchavez opened #10 "libbost 1.49 and Ubuntu 12.04"
Hi there,

Thanks for all your work on **Freelan**. It's a great P2P VPN.

I've installed **Freelan 1.0** on Ubuntu and everything is running great.

I tried updating to **Freelan 1.1**, but noticed the dependencies for 1.1 require `libbost 1.49`.

Unfortunately, `libboost 1.49` isn't available for 12.04. Is there anyway to support Ubuntu 12.04 and `libboost 1.46` or **48**?

[code]

Thanks,
Brian

[2013-11-26 11:13] #2 closed, assigned to tony707

[2013-11-26 11:15] #10 closed, assigned to nobody

[2014-01-12 13:53] alex2108 opened #11 "Installation of TAP adapter fails on Windows 7 x86"
when installing Freelan on Windows 7 x86 the TAP adapter does not get installed.

in the console windows that pops up i get the following error: https://dl.dropboxusercontent.com/u/4210971/freelan.png

The reason i think it could be is that the files in the folder C:\Program Files\FreeLAN\driver are empty after installation (size 0kb).
The same files are also empty on github on the x86 version (ht

[2014-01-16 07:46] #11 closed, assigned to ereOn

[2014-02-09 11:40] gabrin opened #12 "Installation issue with FreeLan"
I have installed Freelan on different computers (package for Windows 7 x64), and have same problem "Not found MSVCR120.dll"

[2014-02-10 17:38] #12 closed, assigned to nobody

[2014-02-11 14:59] dkorzhevin opened #13 "RADIUS support?"
Hi,

Please, tell - does freelan vpn supports auth using radius server/plugins/anything?

[2014-03-04 20:20] hosanz opened #14 "x64 win vcpp redistributable 2013"
Error: Missing msvcp120.dll

Fix: Install x64 VC++ 2013 Redistributable

Solution: Ship it with release?
Or instruct User to do it manually.
http://msdn.microsoft.com/en-us/library/ms235299.aspx

[2014-03-06 14:40] #14 closed, assigned to nobody

[2014-03-20 10:14] #13 closed, assigned to nobody

[2014-03-23 17:39] Anime4000 opened #15 "Add option Internet Gateway and DNS IP"
I has been looking better P2P VPN,
so far I tried Hamachi, LAN Bridger, Tunngle, TeamViewer VPN and SoftEther.
These VPN quite unstable in some computer and SoftEther cause game frequent disconnect and not Direct client to client, LAN Bridger seem no longer support and not decentralized.

FreeLAN give much more faster, decentralized, lightweight and less overhead, so far none I found.

I has been

[2014-04-14 10:00] HLFH opened #17 "Public freelan nodes"
Hi,

I would like to know if it's possible to connect automatically to others public freelan nodes or if, for the P2P VPN Freelan, all the configurations are manual and only with private nodes.

[2014-04-14 22:46] champtar opened #18 "mtu log messages is wrong"
Hi

log message:

[code]

ip addr:

[code]

config:

[code]

[2014-04-14 23:12] champtar opened #19 "cryptoplus::error::cryptographic_exception"
Hi

These log are from a fedora 20 (not) connecting to an openwrt

Fedora freelan log

[code]

Fedora "openssl ciphers"

[code]

strange thing is that even if i put one "cipher_capability" like this

[code]

i still have 2 in the exception

Openwrt freelan log

[code]

Openwrt 'openssl ciphers'

[code]

[2014-04-15 21:16] champtar opened #20 "Switch to dtls 1.2"
Hi,

First, as always, thanks for your good work.
This is a long term feature request :) (freelan 3?)

I've asked in the past why not using DTLS and this was a bit buggy, maybe too soon.

DTLS 1.2 (january 2012) offer everything we need for secure udp point to point connections, including recent cyphers (elliptic curves and GCM).
It's not yet available in openssl (will be in 1.1), but is available

[2014-04-16 09:21] ereOn opened #21 "Add colored output for logs on UNICES"
See http://stackoverflow.com/questions/12827143/using-c-c-how-do-you-print-to-stdout-in-color-but-only-if-the-terminal-suppo for information.

[2014-04-16 17:17] champtar opened #22 "Change binary and default directories names"
Hi

Freelan 2 will  be unable to talk to Freelan 1 nodes, so it can be cool to be able to install both at the same time?
To avoid any conflicts I suggest adding the major version number at the end of freelan binary (-> freelan2), and also default directories (/etc/freelan2, ~/.freelan2, ...)

What do you think about this?

[2014-04-18 09:39] #17 closed, assigned to nobody

[2014-04-18 23:16] champtar opened #25 "Don't parse command line output, use direct calls"
In libs/asiotap/src/posix/posix_system.cpp, you're calling /bin/ip,
but on fedora/openwrt, ip is at /usr/sbin/ip
and on ubuntu, ip is at /sbin/ip
I'm not even sure they will all produce exact same result ...

We should use netlink calls
some links
https://github.com/miguelfreitas/twister-core/blob/master/libtorrent/src/enum_net.cpp
https://github.com/berkus/libnat/blob/master/lib/maidsafe_gateway.

[2014-04-20 09:46] #19 closed, assigned to ereOn

[2014-04-24 08:31] #22 closed, assigned to ereOn

[2014-04-24 11:09] #18 closed, assigned to ereOn

[2014-04-24 16:20] #21 closed, assigned to ereOn

[2014-04-26 16:17] #25 closed, assigned to ereOn

[2014-04-26 20:27] ereOn opened #26 "Implement more of the netlink possibilities on Linux"
We are still using calls to external process on Linux to add/delete routes while we now have the [NETLINK messaging base-code](https://github.com/freelan-developers/freelan-all/issues/25).

Here is a [list of possibilities](http://man7.org/linux/man-pages/man7/rtnetlink.7.html) of NETLINK messaging.

We may want to replace these calls with more reliable/portable NETLINK calls.

[2014-04-26 20:29] ereOn opened #27 "Create proper exceptions for failures in the netlink code"
We now have [NETLINK functions and classes](https://github.com/freelan-developers/freelan-all/issues/25) but the current implementation of exception here is crappy.

We need to fix that.

[2014-05-01 07:41] ereOn opened #28 "Allow for selection of the ECC curve"
Some [security specialists](https://www.schneier.com/blog/archives/2013/09/the_nsa_is_brea.html#c1675929) believe the recommended curves were chosen by the NSA (or that the people making the decisions were influenced).

In this context, it makes sense to allow the user to choose its curve.

We must change:
- [x] The FSCP protocol specification
- [x] The libfscp implementation
- [x] The libfreelan

[2014-05-03 11:02] #27 closed, assigned to ereOn

[2014-05-09 09:20] singalen opened #29 "Didn't build in virtualenv by the doc on Ubuntu 14.04"
I tried to build freelan in Python virtualenv.

`teapot build` on Python 2.7 gives:

[code]

and on Python 3.4:

[code]

(apparently written for Python 2).

[2014-05-12 13:21] #29 closed, assigned to nobody

[2014-05-17 09:19] ereOn opened #30 "Embed tuntaposx in the installer"
We currently rely on tuntaposx to be installed for freelan to work.

This assumption is painful for the user: Viscosity and Tunnelblick both embed their own tuntaposx packaged extensions (with custom version string so they do not collide with the legacy one).

Viscosity also seems to dynamically load the extension whenever needed and unloads it if it was him that loaded it in the first place. That

[2014-05-20 10:15] abolfazlsj opened #31 "error LNK1104: cannot open file 'libboost_date_time.lib' in vs2013 after compiling freelan project"
Hello I am using boost_1_55_0 for freelan I could compile all the projects on vs2013 except freelan project. and I saw error below :

error LNK1104: cannot open file 'libboost_date_time.lib' freelan

when I compiled boost libraries I get some libs with some names like below :

libboost_date_time-vc120-mt-1_55.lib
libboost_date_time-vc120-mt-gd-1_55.lib

as you see there is no 'libboost_date_time.l

[2014-05-29 01:26] wrouesnel opened #32 "Clarify build instructions"
The build instructions need to be clarified that on Linux-y systems it's totally unnecessary to do the `teapot build` phase of things, and also currently impossible (no teapot build filters in the party file).

What is needed is a list of apt packages to install on various distros.

For Ubuntu/Debian/Mint the list seems to be:
[code]

so far. I plan to get started on spinning up some apt packages

[2014-05-30 11:25] wrouesnel opened #33 "libcryptoplus exception: elliptic curve routines:EC_POINT_cmp:incompatible objects"
[code]

After building freelan from source on Ubuntu 14.04 I'm seeing this error from the `freelan2` binary when the servers try to connect.

I have `openssl 1.0.1f-1ubuntu2.1` installed.

[2014-06-07 07:29] #26 closed, assigned to ereOn

[2014-06-22 13:20] #28 closed, assigned to ereOn

[2014-06-22 14:20] #33 closed, assigned to nobody

[2014-06-22 14:21] #31 closed, assigned to nobody

[2014-06-23 04:11] wrouesnel opened #34 "Support OpenSSL PSK ciphersuites"
The requirement to setup X509 certificates is fairly burdensome for users - OpenSSL includes support for pre-shared key ciphersuites out of the box (don't know if the C++ wrapper in Freelan does though).

It would be great to support setting a pre-shared key in the freelan2.cfg file, to use the VPN in a "group password" mode (similar to Hamachi) and a much more comprehensible use-case for users.

[2014-08-17 23:01] wrouesnel opened #35 "Use bittorrent trackers/DHT for peer discovery"
To provide for a casual P2P VPN discovery, some sort of global rendeavouz server is needed. Probably by far the biggest network providing this type of function is the network of BitTorrent trackers + the Mainline DHT Kademlia implementation.

The idea here is a new contact mode called "bittorrent" could be added to Freelan to take advantage of this to do peer discovery and CA distribution.

Each f

[2014-08-20 13:16] wrouesnel opened #36 "Support using preconfigured tuntap devices"
On Linux it's not possible for a regular user to create a tuntap device, or configure it in anyway (bring it up/down, set the IP address etc.) but freelan uses the user's home directory to perform operations and store configuration.

It would be good to break out the code which opens tuntap devices from the code which configures them, so the latter could be added as a binary/daemon which runs as s

[2014-09-15 21:38] TopHatProductions115 opened #37 "MSVCP120.dll missing"
As required by the instructions for FreeLAN, "Freelan requires the Visual C++ 2013 runtime to operate". I have already installed this on my Windows 8 laptop, but FreeLAN returns an error pertaining to a missing Visual C++ 2013 runtime environment. It says that MSVCP120.dll is missing. But, when I searched my system for the dll, I found it in Windows\System32. I have tried to fullfill the requireme

[2014-10-10 22:50] #37 closed, assigned to nobody

[2014-10-10 22:55] ereOn opened #38 "Reimplement the client/server HTTP mechanism"
The old `core.cpp` file still contains some code for the HTTP client that hasn't been migrated to the new core design.

We need to finish porting that code to get rid of the old files and merge the (badly named) `cppnetlib` branch back to `master`.

[2014-10-17 08:37] S-Erion opened #39 "Using path with space"
Hi all,

Using Microsoft Windows 7 x64, I tried to set the security path to the installation path and I have an issue.
After some tests, it appears that FreeLAN doesn't realy like the keys signature_certificate_file, signature_private_key_file, authority_certificate_file if there contains some spaces.

Configuration :
	OS : Microsoft Windows 7 Enterprise / Professional SP1 x64bits
	Installation Pa

[2014-11-05 14:31] ereOn opened #41 "As a freelan user, I want freelan to have a better throughput"
The refactoring caused a dramatic performance impact which needs to be addressed.

This is likely caused by the fact that `io_service` use a mutex internally, causing all threads to wait for it to be free (which harms the throughput).

The code needs to be changed such that all network/tap adapter operations happen in a single thread. This could mean adding a dedicated thread and/or `io_service` i

[2014-12-22 22:30] fcore117 opened #42 "Easy speed create lan"
Please add fast way to create direct LAN without messing with horrible certs, i would like to get rid of Evolve or Hamachi and use Freelan for LAN connectivity.

[2014-12-22 23:36] #42 closed, assigned to ereOn

[2015-01-03 02:11] ereOn opened #43 "Update the reference to the tap0901"
A new version of OpenVPN's tap-adapter was released and until we can't sign our own we have to maintain and update the device driver to match, or it prevents users to install both OpenVPN and FreeLAN at the same time.

[2015-01-04 09:29] fcore117 commented on #42
it is really good to see that active development goes on, keep up really good work. Now i wait when i can finally uninstall Hamachi & Evolve horror and install Freelan.

[2015-01-05 04:43] richman1000000 opened #44 "option dynamic_contact_folder instead dynamic_contact_file"
I am using freelan client from home and adding dynamic_contact_file line when it needed is really uncomfortable. The more certificates the more complicated this situation becomes. It would be easier to use one folder instead fol multiple files

[2015-01-06 09:09] idistech opened #45 "Struggling to Build on Ubuntu 14.04"
Hi,
Are there any further clarity on the build process for a linux install..
The 'teapot build' stage fails with no 'party' files.

Any guidance greatly appreciated.

Many Thanks

Gary

[2015-01-06 15:58] ereOn commented on #45
Hi @idistech,

The build instructions can be blurry at times indeed.

There is no need for the `teapot` step on Linux. You can (and should) install the required dependencies from your package manager (`apt`) instead.

You'll need (from memory, please adapt if the name do not match exactly. I have no access to a linux environment at the time being) :
- `boost-all-devel`
- `libssl-dev`
- `libcrypto-

[2015-01-06 20:54] idistech commented on #45
Thanks so much for getting back.

Instructions look good. Im just doing it for a second time , just to confirm the process, and then Ill post the answer back !

Many Thanks again

Gary

[2015-01-06 21:20] idistech commented on #45
This is what I did...

sudo apt-get install  libboost-all-dev libssl-dev git scons g++ libcurl4-openssl-dev
git clone https://github.com/freelan-developers/freelan-all.git
cd freelan-all
scons all samples

and its built...

many Thanks

Gary

[2015-01-06 21:20] #45 closed

[2015-01-08 16:12] White-Tiger opened #46 "DHCP proxy should respond to ARP like a real device"
The DHCP proxy does currently not reply to ARP requests, this also troubles Windows higher than XP as their screwed up networking requires a default gateway to be set on ones network to identify it and allowing traffic across it.

[2015-01-09 01:33] #38 closed

[2015-01-09 01:33] #43 closed

[2015-01-09 01:50] ereOn opened #48 "HTTP client sometimes hangs on Windows"
The client gets stuck and also prevents the app from shuting down.

[2015-01-17 23:01] fcore117 commented on #42
Now i tried OpenVPN to create LAN but no success and ultra hard config and certificate fuzz. Just left from Evolve VPN because i got messages daily basis that servers are overloaded. Tried Hamachi but their forced IP addresses are out of my needed range.

How this HTTP mechanism works? do i just enter friends IP and usernama and password and LAN is created?

[2015-01-18 01:35] ereOn commented on #42
@fcore117 At least one host still has to create a certificate authority (the one hosting the server) and makes sure his public IP address is reachable by the others. Then the others can just connect using an username and a password.

Having a 100% certificate-less solution is unlikely and would provide poor security. As much as I intend to make FreeLAN's configuration as easy as possible, I won't

[2015-02-25 14:46] CristianCantoro commented on #32
I may add that some information about the minimun required version for build tools and library can be helpful. I have installed the current master (https://github.com/freelan-developers/freelan-all/commit/30dd3972f5804d1d81d92fbc26f39a0231e6110f) on an Ubuntu 14.10 laptop (see [freelan.debian issue #1](https://github.com/freelan-developers/freelan.debian/issues/1)) and I wanted to install it also

[2015-02-25 18:49] ereOn commented on #32
@CristianCantoro Indeed, it makes sense to be accurate regarding the versions.

Thanks for the feedback !

[2015-03-03 09:53] stephank commented on #30
There's apparently also utun starting in 10.7, which is already the minimum for freelan. Maybe this can replace tuntaposx completely?

http://www.opensource.apple.com/source/xnu/xnu-2782.1.97/bsd/net/if_utun.h

[2015-03-03 14:33] ereOn commented on #30
@stephank : That is interesting indeed, but it would seem it doesn't support tap adapters sadly.

I will still look at it at it could be a nice alternative for tun-only configurations.

[2015-03-06 10:51] jackslayter opened #49 "Compiling from source"
Hi, I try to install freelan from sources on virtual debian machine before install on rpi.
my install is with  debian-7.4.0-amd64-netinst.iso.
I install all requirements
sudo apt-get install python-setuptools
sudo apt-get install gcc-4.7
sudo apt-get install build-essential
sudo apt-get install git-core zip
sudo wget http://prdownloads.sourceforge.net/scons/scons-2.3.3.zip
sudo python setup.py ins

[2015-03-06 14:02] tinoutinou commented on #49
Hi,

You should try to install ssl headers:
sudo apt-get install libssl-dev

[2015-03-06 17:42] jackslayter commented on #49
thank you.
but now I have this error
scons: Reading SConscript files ...
scons: done reading SConscript files.
scons: Building targets ...
g++ -o build/release/libs/netlinkplus/src/manager.o -c -Wno-missing-field-initializers --std=c++11 -Wall -Wextra -Werror -pedantic -Wshadow -O3 -isystem third-party/install/include -Ibuild/release/libs/netlinkplus/include/netlinkplus -Ibuild/release/include bui

[2015-03-06 18:21] ereOn commented on #49
Which version of `g++` are you using ?

    build/release/libs/netlinkplus/include/netlinkplus/messages.hpp:254:56: note: '<:' is an alternate spelling for '['. Insert whitespace between '<' and '::'

This means trigraph support is enabled and that is **not** a good thing. It may seem some of your tools are too old.

[2015-03-06 18:34] jackslayter commented on #49
gcc-4.7

[2015-03-07 10:55] jethrocarr opened #52 "IPv6 fine in tap mode, broken in tun mode"
When I run freelan in tap mode, both IPv4 and IPv6 works perfectly fine. However when I run it in tun mode, no IPv6 packets get delivered to remote peers. I've done some tracing and it looks like some internal routing issue within Freelan - built with debug enabled, I can see:

[code]

Test shows IPv4 working OK, but IPv6 failing to be delivered:
[code]

Network config on the machines appears fine

[2015-03-07 10:58] jethrocarr commented on #52
Additional information - issue occurs when `routing_method=switch` as well as when `routing_method=hub`.

[2015-03-07 14:48] ereOn commented on #52
Thanks for this thorough bug report. I'm adding this to next milestone (2.0), as it seems its a defect.

Note that the `routing_method` should only have an effect in for `tap` network, as it operates at the Ethernet layer.

[2015-03-07 14:51] ereOn commented on #32
Just for reference #50 took care of some of the concerns here.

[2015-03-07 15:03] ereOn commented on #49
After some research, here is [a question on StackOverflow](http://stackoverflow.com/questions/8338121/what-is-the-significance-of-the-syntax-in-c) that explains exactly what happens.

Basically you need to find a way to disable digraphs/trigraphs handling by your compiler (and possibly set the `CXXFLAGS` environment variable accordingly before building). FreeLAN's source is C++11 compliant so this

[2015-03-07 15:03] #49 closed

[2015-03-07 17:07] jackslayter commented on #49
I have no knowledge to fix this

[2015-03-07 21:39] jethrocarr commented on #52
Thanks - let me know if you want me to run anything or try anything to get more details on what's broken. I'm not particularly good at c++, but happy to help out where I can.

[2015-03-07 22:33] ereOn commented on #49
@jackslayter Give it another go. I could reproduce the problem on a fresh debian install and altered the files so that the compilation goes through even with digraphs enabled.

[2015-03-08 05:41] #41 closed

[2015-03-09 12:25] jackslayter commented on #49
Thank.
I reinstall all (new debian) and the error has disappeared but an other appear :/

scons: Reading SConscript files ...
scons: done reading SConscript files.
scons: Building targets ...
g++ -o build/release/libs/freelan/src/core.o -c -Wno-missing-field-initializers --std=c++11 -Wall -Wextra -Werror -pedantic -Wshadow -O3 -isystem third-party/install/include -Ibuild/release/libs/freelan/inclu

[2015-03-09 12:43] ereOn commented on #49
@jackslayter Thanks for mentioning this. I forgot to commit a change I had locally.

Should work now :)

[2015-03-09 14:03] jackslayter commented on #49
yes works , thank you.
for continued I follow https://github.com/freelan-developers/libasiotap/issues/5#issuecomment-35096778
but in freelan-all dir after scons install prefix=/usr/local/ , I don't found lib.....so for put in /usr/local/lib

[2015-03-11 07:10] jackslayter opened #53 "connection problem"
after install from sources on debian, I start freelan but I have a problem ping freelan localhost network works but not distant machine.

root@debian:/usr/local/bin# freelan2 -f -d
Reading configuration file at: "/etc/freelan2/freelan.cfg"
2015-03-11T07:57:19.580066 [DEBUG] Opening core...
2015-03-11T07:57:19.580340 [INFORMATION] Starting FSCP server...
2015-03-11T07:57:19.580530 [IMPORTANT] Core

[2015-03-12 16:12] ereOn commented on #49
@jackslayter I'm sorry but I really don't understand your question.

Remember that the more effort you put in your questions, the easier it is for us to answer them.

[2015-03-13 07:04] jackslayter commented on #49
what is the correct scons command to build freelan sources ?

[2015-03-13 12:44] ereOn commented on #49
Well I'm a bit confused, it seems you have the right command from day 1:

`scons all` should build everything in both debug and release mode.
`scons samples` should build the samples (tests for the different components, but you probably don't need those)

Finally, you can install freelan to some other directory with:

    scons install --prefix=/some/location/of/your/choice

This will only copy th

[2015-03-13 16:45] jackslayter commented on #49
Thank you so I done the correct syntax.
But I have problems, see https://github.com/freelan-developers/freelan-all/issues/53
Very thank you for your help

[2015-03-13 23:19] ereOn commented on #53
What's the configuration and log for the remote machine ?

[2015-03-14 09:13] jackslayter commented on #53
The remote machine is a Windows, and I have the same problem, local ping works, remote not.

[2015-03-14 13:52] ereOn commented on #53
@jackslayter Did you compile the latest version of freelan for Windows then ? Or did you use the released one ? (that can't work)

Which versions do you have on both computers ?

The current development version of freelan is incompatible with the previously released one as there was some necessary protocol changes.

[2015-03-14 14:18] jackslayter commented on #53
Indeed , I have freelan 1.1 on Windows

[2015-03-14 19:30] ereOn commented on #52
@jethrocarr Sorry, I forgot to come back at you. I think I have enough to look at this right now.

I'll let you know if I need any more feedback or if I can't reproduce the problem on my side.

Thanks !

[2015-03-15 13:42] ereOn opened #54 "Allow for a transparent relay mode"
The current relay mode implies that the relay be part of the mesh and thus can decode messages it relays (LAN emulation).

We'd also need a mode where the relay is oblivious of the content of the messages and just acts as a relay for a given pair of hosts.

To do that I suggest the following implementation :

If A & B want to connect to each other but can't, yet can connect to C, they can ask a th

[2015-03-15 14:36] leggewie opened #55 "RFE: UPNP support"
It would be nice if freelan had a way to request via upnp for routers to open a port for incoming communications.  To keep the maintenance burden low on freelan it would be good to try and identify an external tool that does the job.

I believe tribler and transmission already do this.  I didn't find a dependency on an external package, maybe there ought to be one.  But in any case it might be pos

[2015-03-15 15:01] leggewie commented on #54
Julien, thank you for picking this up.

As discussed on the mailing list, it would also be possible to use an external service or app at least for some aspects of this. Furthermore, we touched on this being two separate, but related aspects. 1) aiding node discovery for mobile nodes (with changing IP) and b) relay of UDP traffic when all clients of a particular VPN are behind a symmetric NAT.

Esp

[2015-03-15 15:06] leggewie commented on #54
Is the ca.crt or some information derived from such as a particular hash shareable information or is it akin to the private key in GPG?

[2015-03-15 15:29] ereOn commented on #54
@leggewie What you describe is, I believe, the dynamic contact request that is already implemented and functional :)

If C is connected to both A & B, but A & B don't know where to reach each other, they can ask C if it knows a contact address (this is based on the certificates as you suggest).

[2015-03-15 15:35] ereOn commented on #54
Also the transparent relay mechanism **must** be oblivious of the certificate part of things, or it prevents its use with #34.

[2015-03-15 19:39] ereOn commented on #34
This is now implemented and functional.

There are a few new configuration options, the most interesting one being :

`security.passphrase` which takes an arbitrary string from which a pre-shared key is derived using PBKDF2 (configurable salt and iterations count). This PSK is used instead of the certificates to sign and verify `SESSION` and `SESSION_REQUEST` messages with a HMAC-SHA256.

The clie

[2015-03-15 19:39] #34 closed

[2015-03-15 20:20] atenhotep commented on #54
Not an expert, but isn't the original request basically asking for a TURN server? And aren't the requests for coordinating connections basically the same as signalling in other contexts that is done by STUN servers?  Finally, aren't these both incorporated in [ICE](https://tools.ietf.org/html/rfc5245) spec?  I know these exist primarily in context of SIP service, but haven't the solved exactly the

[2015-03-16 09:33] leggewie commented on #54
@ereOn I assume the dynamic contact request feature requires C to be part of the VPN, right?  I want C to be able to introduce A and B to each other without the need of C being part of the VPN.

@atenhotep That sounds good.  I don't know enough to evaluate this from a technical POV.

[2015-03-16 09:37] leggewie commented on #34
Awesome, thank you!

[2015-03-16 10:35] leggewie commented on #54
@ereOn If indeed ca.crt is not injectively clear (no one-to-one relation between ca.crt and VPN) then certainly in the case of #34 it could be ca.crt plus code word.  I guess the clients still need to decide on their own if they want to talk to another.

What is the best identifier for a VPN?  $IP:$port certainly is a poor choice in my opinion.

[2015-03-16 14:37] leggewie opened #58 "courtesy copies and Debian"
Am I correct to assume that everything under libs and third-party represents a courtesy code copy of other projects that freelan is compiled against?  Debian doesn't like that.  It would be good to push that to a separate branch (or submodule as you did in the past, something I am not so familiar with in git).

[2015-03-16 15:01] leggewie commented on #54
I was just wondering if the supernode binary of n2n might actually be such a relay?  It probably doesn't do much more than the relay we are discussing here.  I'll just throw this in the ring for now.

[2015-03-16 15:23] ereOn commented on #58
Regarding `libs`: in the past, freelan was split in several libraries that were supposed to evolve separately. That did never happen and I merged everything in one repository for maintenance reasons.

**You can consider everything in `libs` as direct source files for freelan, not something external.**

Regarding `third-pary`: on Linux this folder is not used at all. The only files that live in the

[2015-03-16 15:24] leggewie commented on #58
It seems I am mistaken for the most part.  libs/ is the libs you programmed for the freelan project.  Only thirdparty/ is code taken from outside sources.

third-party/source/libiconv-msvc (seems to be relevant only to Windows)
third-party/patches/boost/ (from a cursory look this one seems to be in Debian already in 1.55 and later)

[2015-03-16 15:27] leggewie commented on #58
@ereOn Thank you for your comment.  I realized my mistake just this minute. Our comments now crossed.  If you can drop anything from thirdparty/ that would be good (for Debian and in general) but this is not a big concern anymore.  The fact that code isn't linked to is a legally valid argument, but the ftpmaster's don't want to check that and thus ALL shipped code has to pass some tests (legal and

[2015-03-16 15:39] leggewie commented on #35
#54 and #35 discuss the same thing

[2015-03-16 15:39] leggewie commented on #54
#54 and #35 discuss the same thing

[2015-03-16 15:41] leggewie opened #59 ""scons all" only installs the freelan2 binary"
Did my first successful compilations, but scons does not seem to install anything much.

$ find install/ -type f
install/bin/freelan2

Is that really all?

[2015-03-16 15:45] leggewie opened #60 "freelan2 identifies itself as OSX binary on a Linux host"
On my Ubuntu machine:

$ ./install/bin/freelan2 --version
freelan 2.0.0 (1.1-osx-2825-gb799941) Mon 16 Mar 2015

[2015-03-16 15:54] ereOn commented on #60
That's expected: it executes `git describe` to get the latest tag (which happens to be `1.1-osx` here).

It's a non issue because the next release will get its own tag which will not contain any platform specific naming.

[2015-03-16 15:54] #60 closed

[2015-03-16 15:56] ereOn commented on #59
The installation target is platform agnostic. It only copies the generated binaries (and it happens that there is only one).

I guess we could extend that to copy the configuration files as well.

[2015-03-16 16:02] ereOn commented on #58
I'm just reopening this as a reminder to delete the Boost patch if it is not needed anymore on OSX.

[2015-03-16 17:19] leggewie opened #61 "integrate freelan in freetz"
Reminder to self to do some work to compile freelan for freetz and publish the results.

[First steps - How to start your first freetz package](http://freetz.org/wiki/help/howtos/development/developer_information/package_development_start)

[2015-03-16 22:41] #58 closed

[2015-03-17 01:26] ereOn commented on #39
I could not reproduce the problem you mentionned: by quoting the path with `"` I could load certificates with spaces in their names.

I also updated the [configuration examples](http://freelan.org/configuration_examples.html#) page.

[2015-03-17 01:26] #39 closed

[2015-03-17 02:34] ereOn commented on #30
It seems tuntaposx was updated (in regards to signing need for Yosemite), and should be updated in the repository.

[2015-03-18 01:28] ereOn opened #63 "Port SCons scripts to Python 3"
SCons is moving towards Python 3 and so should our compilation scripts.

Note that all `SConscript` and `SConstruct` files should be updated, including those in `packaging`.

The build instructions should be updated as well.

### Conditions of success

- [ ] Port the compilation scripts to Python 3
- [ ] Port the packaging scripts to Python 3
- [ ] Update the build instructions

[2015-03-18 13:25] #53 closed

[2015-03-19 01:55] ereOn commented on #15
Interesting (although a bit old) entry for implementing this on Windows [here](http://www.codeproject.com/Articles/7654/Programmatically-Changing-IP-address-Domain-Name-S).

[2015-03-19 13:14] ereOn commented on #32
#56 Added a `README.linux` file that also gives additional instructions.

[2015-03-19 17:46] ereOn opened #64 "Update OpenSSL's version in the party file"
A new security release of OpenSSL was just made and we need to update the references.

[2015-03-19 22:07] #64 closed

[2015-03-19 23:58] #32 closed

[2015-03-20 20:34] ereOn commented on #59
@leggewie : The more I think of this, the more it seems to me that installing the configuration file is the responsibility of the packaging system/installer system, not the build system.

After all, the configuration files are not an artifact of the build system.

Do you see any reason why this should be done ?

[2015-03-20 20:37] ereOn commented on #61
Removing the milestone as it doesn't prevent the upcoming release.

[2015-03-21 06:39] leggewie commented on #59
well, it seems to be standard practice. let me ask you back: "why bother with an install command at all if it's the responsability of the packager?"

[2015-03-21 14:11] ereOn commented on #59
@leggewie

The main issue I have with that is that the installation phase takes a `prefix` but this doesn't work for Debian :

Where should the configuration file go ? Usually configuration files go to `/etc/` but with the specified prefix, we are out of luck. Or is it acceptable to have the configuration file in say `/usr/local/etc/` ? I would then need to change freelan's configuration file disc

[2015-03-21 14:20] leggewie commented on #59
Sure that is acceptable.  I maintain scanbd in Debian and that is how their default is.  Obviously, for Debian I change that from /usr/local to /

[2015-03-21 14:33] ereOn commented on #59
@leggewie Good ! How do you "change" that ? Patch ? Compilation flag ?

What would be your preference ?

[2015-03-21 15:48] ereOn commented on #59
@leggewie : I pushed to the `configuration_as_build_artifact` branch, the changes you requested.

Could you please let me know if that seems okay to you ?

Basically, here is what changed:

* Calling `scons install prefix=/usr/local` creates both `/usr/local/bin/freelan2` and `/usr/local/etc/freelan/freelan.cfg`
* On Windows, the `etc/freelan/` part of the path is `config/` instead.
* The installa

[2015-03-21 16:59] leggewie commented on #59
I haven't tested this yet.  I believe there are other files that should be shipped as well.  But I guess they can be added later as necessary now that the plumbing seems to be in place.

Where is the default installation location? /usr/local? ./install/ as previously?  I'm sorry, but I can't grok the change you made at this time of day.  Good night.

[2015-03-21 20:59] ereOn commented on #59
The "default" is indeed `./install` because that's convenient when testing. I'd like to leave it that way if possible.

I assume it's not a problem since the packaing `Makefile` can just specify `prefix=/` instead.

[2015-03-23 06:00] leggewie commented on #59
"The installation path is hardcoded in the binary (via a compilation flag generated for you automatically)" Is that a relative or an absolute path?  I don't think either will work, in fact.  Debian often builds in a chroot, so the relative installation path would be debian/freelan/, for example, installing to debian/freelan/{etc,usr/sbin}.  The binary package will then be installing to /etc and /u

[2015-03-23 08:46] leggewie commented on #59
seems like the hardcoding isn't creating an issue (at least that is my interpretation of ldd).  freelan2 binary should be in /usr/sbin to be FHS-standard compliant (/usr/bin if freelan can be used by ordinary users). I think it would be nice if freelan2 retained the name of simply freelan.

[2015-03-23 13:15] ereOn commented on #59
@leggewie Makes sense.

`freelan` can be used by ordinary user : they just won't be allowed to create/configure a tap adapter (but freelan can be used without one, in the case of non-members relays for instance).

I'm gonna change the following things this evening:

* Add a `install_prefix` option to the SCons scripts : `install_prefix` will be the thing that gets hardcoded in the binary such that

[2015-03-24 04:46] leggewie commented on #59
The freelan binary should reside in /usr/bin, then. Does the program emit a warning when run without sufficient privileges and trying to create/configure a tap adapter?
I tested my Debian packages only briefly but it didn't look like the split into --prefix=debian/freelan/ and --install_prefix=/ was necessary.

[2015-03-24 13:28] ereOn commented on #59
@leggewie If the user tries to create a tap adapter but doesn't have the permissions to do so (he doesn't have to be root by the way, he can just have the `CAP_NET_ADMIN` capability), the program stops with a fatal error indicating that the tap adapter could not be created (not just a warning, since in this case FreeLAN cannot possibly reach its goals - it would be pointless to run without a tap a

[2015-03-25 02:47] leggewie commented on #59
I was theoreticizing. After doing the actual build I found out that this seemed to work as expected. I think it's safe to drop a1db80e
Moving the binary to /usr/bin sounds like the thing to do.

[2015-03-28 16:26] leggewie commented on #61
The people in the Freetz community are morons. I feel I can't be bothered with helping them. So sad to see so many projects crippled by technically skilled but socially inept people.

Closing ticket as wontfix.

[2015-03-28 16:26] #61 closed

[2015-03-29 02:02] g4jc opened #67 "AUR PKGBUILD now available"
Hello,
I took the time to make a PKGBUILD for this from git, you can find it here:
https://aur.archlinux.org/packages/freelan-git/

So if you'd like to mention it on the wiki:

For Arch Linux users, you may install the very latest build via -
yaourt -S freelan-git

Also would appreciate someone leaving me a comment there if any package breaking things happen. (directory moving or changing to pytho

[2015-03-29 21:22] ereOn commented on #67
@g4jc Awesome, thanks !

I'll close this up since it's not really an issue. I'll try to remember to post any breaking changes here but I can't promise I can do that for non-release builds.

[2015-03-29 21:22] #67 closed

[2015-03-29 21:23] ereOn commented on #61
@leggewie That's too bad :(

Thanks for trying though, I appreciate it.

Do you have any online post/mail archive to reference here perhaps in case someone asks for this in the future ?

[2015-03-29 21:33] ereOn commented on #59
@leggewie Thanks for testing this !

I just merged those commits (except for https://github.com/freelan-developers/freelan-all/commit/a1db80e967fd691c75a393a11d67827614a618f6) in [`master`](https://github.com/freelan-developers/freelan-all/tree/master).

[2015-03-29 21:33] #59 closed

[2015-03-31 10:16] leggewie opened #68 "cross-compilation in openwrt fails"
This came up during a test build for openwrt #62 but it possibly hints at something of wider significance.
Unfortunately, github is stupid and you can't even attach a txt file (seriously? Hello?!) so I will link the build log to a pastebin here that will expire in 90 days. http://paste.debian.net/164080/

[2015-03-31 10:48] leggewie commented on #68
Injecting -Wno-error=return-type to TARGET_CFLAGS didn't seem to paper over this problem;
mipsel-openwrt-linux-uclibc-g++ -o build/release/apps/freelan/src/configuration_helper.o -c -Os -pipe -mno-branch-likely -mips32 -mtune=mips32 -fno-caller-saves -fhonour-copts -Wno-error=unused-but-set-variable -msoft-float -I/media/rolf/DATA/tmp/compile/wrt/git/staging_dir/target-mipsel_mips32_uClibc-0.9.33.

[2015-03-31 11:04] ereOn commented on #68
@leggewie What version did you compile ? The error seems to happen on a line that was changed a while back.

[2015-04-07 00:06] ereOn commented on #52
@jethrocarr From my tests it seems that 32d399e526b154c425e8acc937845fa5b63a84d5 fixed the problem. Can you please confirm that ?

Also related on Windows: c91af3feca774250a059d631a0a62ecf43228e4b

[2015-04-07 11:34] ereOn commented on #52
Need to make sure IPv6 network adresses are handled in the windows netsh command.

[2015-04-07 13:29] ereOn opened #69 "Implement proper IPv6 neighbor discovery"
The `netsh ipv6 add neighbor` command added in #52 does not support subnets (by design). For Windows tun networking to work reliably we probably need to emulate [IPv6 neighbor discovery](http://fr.wikipedia.org/wiki/Neighbor_Discovery_Protocol) pretty much like the ARP proxy we have for IPv4.

[2015-04-07 13:29] #52 closed

[2015-04-11 19:23] #69 closed

[2015-04-12 12:19] ereOn commented on #68
@leggewie Ping ?

[2015-04-12 15:23] ereOn opened #70 "Implement a mssfix mechanism"
A lot of IP fragmentation happens in the tunnel.

We need to override the MSS for TCP SYN frames inside the tunnel to avoid it.

[2015-04-13 15:12] ereOn opened #71 "Improve logging when there is no installed tap adapter"
On Windows, when no tap adapter is found, the program still says that `""` was opened and tries to configure an empty interface, which results in an "invalid parameter" exception.

This is not obvious to users and needs to be adressed.

[2015-04-14 00:46] #70 closed

[2015-04-14 04:42] richman1000000 commented on #44
using server mode is much better then my suggestion.
I thing we should close this issue

[2015-04-14 04:42] #44 closed

[2015-04-15 00:26] ereOn commented on #44
@richman1000000 I still might implement this in the future, but indeed the server mechanism kind-of lowers the need for this feature.

Thanks for following up on your requests: I appreciate it.

[2015-04-15 08:25] leggewie commented on #68
Sorry about the delay in responding.  Somehow, your comment didn't get on my radar.  Thank you for the ping.

It seems that the latest proposal by @champtar in #62 was to compile against 22873e1c85.  That is indeed almost 10 months old.  I'll retry when I have the time.

[2015-04-15 14:15] ereOn commented on #68
@leggewie No problem. I plan to release real soon now, so I'd just wanted to make sure there was nothing else we could change to avoid having to re-release soon after.

[2015-04-15 21:51] #71 closed

[2015-04-16 07:09] leggewie commented on #68
OK. I was able to try a build against the latest HEAD 20894fda7367 and it seems now a [different issue comes up.] (http://paste.debian.net/167037/)
build/release/lib/libmongooseplus.a: error adding symbols: File in wrong format

[2015-04-16 13:15] ereOn commented on #68
@leggewie I don't have much experience with those kind of builds but here are some things I could find, looking for the error message you get:

- [A Stack-Overflow answer](http://stackoverflow.com/a/8169234/279259) for somebody that is facing the same issue we do.
- [A mailing-list archive email](http://lua-users.org/lists/lua-l/2010-11/msg00878.html) that gives a probable root cause for the probl

[2015-04-17 10:24] leggewie commented on #68
I've prepared a ready-to-use openwrt cross-compile environment for you to [download] (https://mediencenter.t-online.de/auth/guest/shareToken/E357E819D6E410C09AEA225078C2A4ABF391C307).  You can simply enter the openwrt directory and issue a "make V=99".

http://wiki.openwrt.org/doc/howto/build

[2015-04-17 13:56] ereOn commented on #68
@leggewie That is awesome @leggewie ! I'll check this out this week-end and keep you posted should I make any progress on the matter :)

[2015-04-18 19:50] #30 closed

[2015-04-18 20:04] ereOn commented on #68
@leggewie The download link you gave me does not work. Any chance you can post that elsewhere ?

[2015-04-19 05:10] leggewie commented on #68
I'm sorry about that.  I created a new [link] (https://mediencenter.t-online.de/auth/guest/shareToken/9C5B2D5A200B1580EC99D1231A08646CB209EFEC).

[2015-04-19 20:36] ereOn commented on #68
@leggewie I managed to compile FreeLAN for OpenWRT.

I based my work out of your archive but rebase it on top of the current OpenWRT `master`.

It wasn't easy, and not only because I didn't knew OpenWRT at all : mostly because FreeLAN SCons scripts needed some tweaking. That being said : the SCons scripts no longer have OpenWRT specific code. They should work better for all platforms out there.

H

[2015-04-23 22:45] ereOn commented on #63
SCons doesn't and won't support Python 3 any time soon apparently...

[2015-04-23 22:45] #63 closed

[2015-04-24 11:57] richman1000000 opened #72 "freelan stops without server"
When freelan client application is starting with 'servers mode enabled' and  server is unavailable, client do not retries to connect, just exits.

[2015-04-24 21:17] ereOn commented on #72
@richman1000000 You are absolutely right that this is not a good behavior.

The client should indeed retry as long as it have to.

[2015-04-24 21:22] #72 closed

[2015-04-25 04:33] richman1000000 commented on #72
freelan 1.1 amd64

[2015-04-25 16:26] ereOn commented on #72
@richman1000000 So yes, this has been fixed already.

[2015-05-05 23:48] #15 closed

[2015-05-05 23:51] ereOn commented on #15
For the record, this has finally been implemented :)

Under Windows, system calls make this easy to automate.

Under Mac OS X and Linux, the user is responsible for providing a script that will add/remove DNS server entries. With the upcoming release, that's the best I can do.

[2015-05-06 16:39] Anime4000 commented on #15
:+1: epic implementation!

[2015-05-06 17:03] ereOn commented on #15
Note that the actual implementation is not just the mentionned commit but the 15 or so commits before as well.

[2015-05-06 19:49] Anime4000 commented on #15
by the way, in Windows, when FreeLAN connected, all traffic redirected to FreeLAN network?
and this settings, it will be P2P with Gateway (Server) right?

[2015-05-06 20:00] ereOn commented on #15
@Anime4000 Depends on the route you setup :)

You can indeed redirect all trafic, or just some. And you can configure this on a remote peer that will transmit its routes automatically. You have all the options in the world !

[2015-05-07 14:11] Anime4000 commented on #15
@ereOn Man... it's make virtual home or home over internet :+1:

[2015-05-10 09:20] bchavez opened #74 "Possible Memory Leak in Freelan 2.0"
Hi,

I downloaded Freelan 2.0 from the releases tab here on Github.

I've installed Freelan 2.0 on Windows (via x64 installer on release tab) and memory seems stable at about 95MB.

I've compiled, built, and installed Freelan 2.0 (via source on relase tab) on `Ubuntu 14.04.2 LTS`, all compiles fine and runs OK.

I have a 5 windows nodes and 1 Linux node setup in a star topology. The Linux node is

[2015-05-10 10:08] bchavez commented on #74
I tried only using passphrases and the problem persists on Linux.

I added a few more nodes to the network, now 7 windows PC nodes connected 1 Linux server.

If you bring up each node one by one. The problem seems to begin around adding the 5th or 6th node to the Freelan network in a star topology...

One way I've found to reliably reproduce the memory leak is to:

1. Turn on all nodes in the netw

[2015-05-10 10:48] bchavez commented on #74
Seems like windows is not immune.

I swapped the center linux hub node with a windows node, and problem persists with a windows node/hub:

![screen402](https://cloud.githubusercontent.com/assets/478118/7553949/40ac45d4-f6c6-11e4-80a8-6d519496226d.png)

830M+ memory usage and continues to climb.

Below is a dump of the center hub (windows) when memory explodes:
[code]

[2015-05-10 12:09] ereOn commented on #74
@bchavez Thanks for the thorough bug report.

I'll give a serious look at this today and keep you posted.

[2015-05-10 13:39] ereOn commented on #74
@bchavez Could please detail the setup you used to reproduce this ?

I started 6 instances on the same Linux box (one central - 5 clients) and ping flooded the whole mesh but couldn't notice a memory increase.

I also tried with an OS X instance and Windows instances both connected to the same mesh I described, but couldn't notice a memory increase either.

I'm convinced there is something to impr

[2015-05-10 15:52] ereOn commented on #74
@bchavez I still couldn't reproduce the issue, but made an attempt to fix it anyway.

Could you please try the `memory_usage` branch ?

[2015-05-10 16:22] bchavez commented on #74
Hi @ereOn,

Thanks so much for your help. Indeed, very strange. I'll try everything to help.

The setup topology is a star topology, specifically no nodes are allowed to talk to each other, only through a centralized hub node.

The overall topology is similar to:

[code]
*(please excuse my weak attempt at ASCII art)*

My configuration files:

**Linux Hub**:
[code]

**Windows node**:
[code]
Other w

[2015-05-10 16:22] ereOn commented on #74
@bchavez Don't bother right now: this commit introduces a bug that I'm trying to fix.

[2015-05-10 16:33] bchavez commented on #74
@ereOn Sure thing, whenever you're ready I'll be happy to help. Totally understandable, it's quite frustrating not being able to reproduce the issue. :(

[2015-05-10 16:59] ereOn commented on #74
@bchavez Okay, I hardcoded some limits in the memory allocation.

Could you test it ?

[2015-05-10 17:16] bchavez commented on #74
Yes sir, will test right now. BTW, I'm on IRC channel if needed.

[2015-05-25 20:39] Anime4000 opened #75 "Too many contact= at config"
This might be silly question, as my current config, every time new client to enter, all other existing client had to edit and add `contact=` on config file, expecting home user has dynamic IP and some of my friend don't have DDNS.

I have server running, Iodine (VPN over DNS), Free LAN (P2P) and Dante SOCKS 5 Proxy *ehem... bittorrent, ehem bypass WiFi Login Protal using Iodine*

IF I ask my frien

[2015-05-26 13:46] ereOn commented on #75
If you are using certificates for authentication and you specify `dynamic_contact` entries on the clients, FreeLAN will indeed behave as a tracker and share peers addresses to other peers.

[2015-05-26 13:46] #75 closed

[2015-06-09 17:31] noanti opened #76 "Why is speed so slow in my setup ?"
I compiled freelan2.1 on my vps and connected it successfully,but speed is very slow.
When I access my  vps directly,download speed can reach 850kb/s.
But if I access vps via freelan(9.0.0.1),download speed only 90kb/s.

Debug info output lots of follow message:

I config vps  following the Quick-start.

vps:

[code]

pc:

[code]

[2015-06-09 17:31] noanti commented on #76
#asdsadas
*sdfsdf

[2015-06-09 17:39] ereOn commented on #76
Are you using FreeLAN through a WIFI link ?

[2015-06-09 17:43] noanti commented on #76
yes

[2015-06-09 17:49] ereOn commented on #76
VPNs are particularly vulnerable from packet losses/reordering (which happen a lot more on WIFI links).

At this point, I'd suggest trying the following things before tweaking FreeLAN's configuration:
- Try to perform the same tests on a wired connection: the VPN speed should obviously still be lower than the direct speed (security and encapsulation come at a cost) but not 10x slower. On my last b

[2015-06-09 18:24] noanti commented on #76
Download speed is decreasing on a wired connection...
On beginning,it can reach around 700kb/s.Finally speed is 100+kb/s
I have tested many times,it always like this.
![- 2015 06 10 - 02 22 12](https://cloud.githubusercontent.com/assets/6761874/8066012/baa4898c-0f17-11e5-8dfd-9dc475ddc561.png)
![- 2015 06 10 - 02 22 42](https://cloud.githubusercontent.com/assets/6761874/8066014/bfa029aa-0f17-11e5-

[2015-06-09 18:38] ereOn commented on #76
At this point I would try playing with the `mtu` value (and the `mss_override`) to see if that changes anything. From what you describe, it seems that your TCP stack is too optimistic and starts the TCP transfer way faster than the underlying link can handle. I wouldn't trust the value given in the first seconds of the download.

Can you use a tool like [`iperf` ](https://iperf.fr/) and perform a

[2015-06-10 08:11] noanti commented on #76
If I have 2 nodes behind NAT,and I don't have permission to config port forwarding.Can I connect them with a public server just like how n2n works?

[2015-06-10 14:39] ereOn commented on #76
Yes. FreeLAN can adapt to any network topology. In this case you'd have to host a FreeLAN host that acts as a `relay` (it doesn't need to have a tap adapter).

Check the configuration file comments for details about those options.

[2015-06-10 15:50] noanti commented on #76
Do the two node communicate with each other directly or all traffic will go through relay host?

[2015-06-10 16:01] ereOn commented on #76
If you want the nodes to communicate directly, you will need to make sure your NAT routers aren't symmetric and/or to open the ports to do so. This is no specific to FreeLAN : any other peer-to-peer software will have the same requirement.

The alternative is to have the host communicating through a relay in which case the connection will be indirect.

[2015-06-10 16:15] noanti commented on #76
Thank you :)

[2015-06-15 11:39] leggewie opened #77 "nitpicks about the 2.0 release"
2.0.tar.gz isn't an optimal filename.  freelan-2.0.tar.gz would be better.

The build system looks around for a git directory.  The tarball release is not a VCS and an error message is displayed.  No further problems during the build.

[2015-06-15 11:49] leggewie commented on #77
A much more serious problem is that the tarball is not identical to the 2.0 tag.  There is a diff in the file packaging/windows/files/README.txt

[2015-06-15 13:30] ereOn commented on #77
@leggewie That is weird. The archive is generated by Github, from the tag. I don't understand how that can differ. Could you please copy-paste the diff so I can have a look ?

Regarding the name, I sadly can't change it as it is Github that dictates this.

[2015-06-17 05:25] leggewie commented on #77
The diff was indeed a local diff I hadn't yet push because it was so minor.  I did now and created pull request #78.
As regards filenames, I do not know how github wants people to handle this, but maybe freelan/2.0 or freelan-2.0 is the better tag?
Were you able to confirm the complaint during the build about the missing git information?

[2015-06-17 10:35] richman1000000 opened #79 "compilation error on debian jessie amd64"
Hi!
I have this problem during compiling freelan 2.0
![untitled](https://cloud.githubusercontent.com/assets/9943374/8205022/b0a7172c-150e-11e5-9e79-bb401874e77b.png)

Does any one have this issue?
My version of gcc (Debian 4.9.2-10) 4.9.2

[2015-06-18 03:25] leggewie opened #80 ".md mark-up in releases"
The Markdown files are hard to read outside of github.  And the very long lines don't help.  Is it possible to some more sane format during the build or release?

[2015-06-18 03:42] leggewie opened #81 "freelan lacks a man-page"
freelan lacks a man-page.  Do you want to maintain it as a separate file or rather auto-generate it after compilation, for example with help2man?

[2015-06-18 11:28] leggewie commented on #79
Do you know how to work with dsc files?  If so, then get http://oss.leggewie.org/wip/freelan/freelan_2.0-0rl1.dsc and compile that.  It compiles fine here.

[2015-06-19 06:32] richman1000000 commented on #79
Now, I don't. But I will learn now.
In your file dsc file there is a additional dependence  "python-argparse" which is not included in original BUILD.md. I installed that dependency and everything compiled fine.
Thank you

[2015-06-20 13:29] ereOn commented on #79
@richman1000000 Is it safe to assume that your issue is resolved ?

If so, can we close it ?

[2015-06-20 13:33] ereOn commented on #80
Actually, my choice of Markdown is not because of Github: it's because I believe it to be a very nice raw format for writing textual docs. The fact that Github displays it nicely is only a bonus.

My editor has line-wrapping enabled so the long lines are not really an issue for me but I can understand how a different setting might cause a different opinion.

I don't might limiting the length of li

[2015-06-20 13:34] ereOn commented on #81
I actually tried `help2man` and the result was very nice. I almost had nothing to change (thanks to Boost Program Options which generates a standard help string).

Is it possible to auto-generate the man pages as part of the package build ?

[2015-06-20 15:44] leggewie commented on #81
On 20.06.2015 21:34, Julien Kauffmann wrote:

I was thinking the same.

Should be simple

1) test for existance of help2man binary
2) call help2man binary and redirect output to freelan.1

That should really be it

[2015-06-20 15:46] leggewie commented on #79
On 19.06.2015 14:32, richman1000000 wrote:

I'm happy to hear things are working for you now.  But I can hardly
imagine that the python-argparse dependency is what fixed things for
you.  I added that to compile on lucid which by now has even reached
end-of-life after being released more than 5 years ago.  It still used
python 2.5.  python-argparse was incorporated into python in 2.7 IIRC.

In any

[2015-06-21 04:25] richman1000000 commented on #79
Yes ,I think you can close it!

By the way I learned how to created dsc and deb file now.
I really thankful for your help!

On Sat, Jun 20, 2015 at 9:46 PM, leggewie <notifications@github.com> wrote:

[2015-06-21 12:06] leggewie commented on #68
For the longest time, boost fails to build for me in openwrt.  Do you have the same problem?

[2015-06-21 21:59] #79 closed

[2015-06-21 22:00] ereOn commented on #68
I haven't tried in a while I have to say. And I'm not too experienced with OpenWRT.

What is the error you get ?

[2015-06-22 03:09] leggewie commented on #68
The error depends on the way I build freelan and might be unrelated to freelan.  When I try to build the package by itself then boost fails to build.  It sounds like something is broken in openwrt here.  When building with "make menuconfig;make" I get the following error.

[code]
That sounds like a simple glitch in linking which wouldn't have to be treated as an error but should be easy enough to

[2015-06-22 04:06] leggewie commented on #68
I managed to get past that warning with "TARGET_CFLAGS += -Wno-error=cpp" now, but than ran into the following

[code]

[2015-06-23 02:08] ereOn commented on #68
I never had that.

Is the compiler from your toolchain fully C++11 compatible ?

[2015-06-23 04:46] leggewie commented on #68
OpenWRT builds its own toolchain so I assume we must have he same, no?

[2015-07-14 11:49] MHamburg opened #82 "Cannot ping remote host or connection"
I am currently trying to setup a peer-to-peer VPN environment between 2 nodes (for now). However, after connecting the 2, I am unable to ping both sides (ping 9.0.0.x). Here is my setup (fake IPs are used):

Side notes:
No WiFi
Fresh OS installations
No separate VPN connection
Port 12000 are opened on both ends (NAT)

[Node1] [Azure VM/cloud]
Windows Server 2012 R2
FreeLan V2.0
IP: 192.169.226.73:

[2015-07-14 12:59] ereOn opened #83 "Connexion between Linux / Windows - over WAN"
This is a message from the mailing-list that I copied here for tracking.

---

Hello all.

I finaly decide to migrate from FreeLan 1.1 to FreeLan 2.0 and I have a problem.

My network is the following.
Two computers at home under a classic LAN, one with Windows (computer A), the second with Raspbian (computer B).
A laptop from outside this network under Windows (computer C)

The communication betw

[2015-07-14 13:44] ereOn commented on #82
From your logs it seems the connection was successfully established. We can see for instance that "routes requests" messages are sent and received, which mean the VPN tunnel is functional.

I would suspect that at least one of the host has firewall restrictions on the VPN interface (**not the physical one**, or the VPN connection would not have been established) : this happens very often on Window

[2015-07-14 14:11] MHamburg commented on #82
After checking out your suggestions, it works. Many thanks for your quick response!

[2015-07-14 14:17] ereOn commented on #82
@MHamburg You are most welcome !

Glad I could help.

[2015-07-14 14:17] #82 closed

[2015-07-15 03:24] MHamburg opened #84 "Client -> Server error Server returned nothing (no headers, no data)"
Currently I am using the built-in webserver for a multi node registration setup. While the following setup works on the localhost (both client and server). A remote host is unable to connect, manually I can connect (using fiddler).

Environment:
WIndows 2012 R2

[Node 1] [Config]
[server]
enabled=yes
listen_on=0.0.0.0:443
protocol=https
server_certificate_file=crt\server.crt
server_private_key_fil

[2015-07-17 13:16] zoopp commented on #68
This comment isn't really OpenWRT specific but it might be related. Before I go any further I should mention that I don't have a lot of knowledge about freelan or boost and as a consequence what I say might not be correct.

Anyway, I tried to build the 2.0 release on my Archlinux machine and I get a similar error to @leggewie.

[code]

I dug around and found out that ```proxy``` is an ```boost::va

[2015-07-19 11:30] zoopp commented on #68
```if (!(proxy == asiotap::endpoint(asiotap::hostname_endpoint::null())))``` at libs/freelan/src/curl.cpp:149:13 fixes the compilation error described above however I'm not sure if the check does what it was intended to do.

[2015-07-19 21:09] ereOn commented on #68
@zoopp Your change seems equivalent to the original code.

Can you try with:

    if (!(proxy == asiotap::hostname_endpoint::null()))

And see if that's work too ? I suspect somehow the boost version available to you doesn't define the `operator!=` overload for variant types for some reason. Could it be it is not as up to date as for the Linux/OSX/Windows version ?

[2015-07-22 21:28] zoopp commented on #68
Sorry for the late response. I'll have a look at it tomorrow.

[2015-07-23 09:51] zoopp commented on #68
Here are my findings:
* As you can see in the
[variant operators](https://github.com/boostorg/variant/blob/master/include/boost/variant/variant.hpp#L2190-L2282) defined in boost variant, the only comparisons allowed are between variants. I've looked throughout versions 1.45 - 1.58 and did not see anything hinting the possibility of doing comparisons between a variant and variant types;
* I've mana

[2015-07-23 12:07] ereOn commented on #68
@zoopp Actually, variants should have a implicit one-parameter constructor for each of their variant types, which means they can be implicitely constructed thanks to argument-dependant-lookup when `operator!=` is called. For this to work obviously, one has to declare the operator in the same namespace as the variant which is why it was implemented in the first place.

That being said, I have absol

[2015-07-27 11:36] jpastuszek opened #86 "[2.0] build failing on Centos 6 (Amazon OS)"
Hi,

I am trying to get freelan v2.0 (from tag, 661b7e1) building on Amazon OS and I am getting following compilation error:

[code]

I am using g++ (GCC) 4.7.2 20121109 (Red Hat 4.7.2-8) and following boost libs:

[code]

Do you recon it is possible to build it or my libs/compiler are too old?

[2015-07-27 14:02] jpastuszek commented on #86
Also getting same error with HEAD (0f55777a25).

[2015-07-27 14:30] ereOn commented on #86
@jpastuszek Hi, yes `boost-1.53` is probably too old (the latest version is boost-1.58).

`g++-4.9` or more recent is recommended as well. An older version might work as long as the C++11 support is complete enough.

Any chance you use a more recent version of Boost ?

[2015-07-29 09:18] jpastuszek commented on #86
I have updated boost to latest version (1.58) and now it fails on:
[code]

[2015-07-29 12:07] ereOn commented on #86
@jpastuszek This is a known issue on some platform and there is a PR up to fix that.

See https://github.com/freelan-developers/freelan/pull/85 for details.

I will ping @zooop to see if there is any progress on his side.

[2015-08-02 17:00] leggewie commented on #68
#85 is absolutely not the same issue as this one (although #85 might have affected this problem for a while).  Unfortunately, freelan fails to build again as of today in OpenWRT, but to build against the latest OpenWRT HEAD and provide a log will take until tomorrow when I have better internet connection.  Please unmerge #85 and this ticket @ereOn.

[2015-08-03 21:06] ereOn commented on #68
@leggewie : I'm not sure to understand: Are you saying that this merge caused a compilation issue ?!

I would have thought that with the CI build passing and the conditional statement on the Boost version, this was pretty safe. I'm surprised.

Or are you talking about referencing the other ticket from this one ?

[2015-08-03 21:08] ereOn commented on #86
@jpastuszek Could you retry now that #85 was merged ?

[2015-08-03 21:17] ereOn commented on #84
@MHamburg Sorry, I was offline for a while during the summer and I just realized I forgot this thread.

It is unclear to me what happens in the last case: does Fiddler show that the server indeed replies with some content when you request the `request_ca_certificate/` URL ?

[2015-08-03 21:21] ereOn commented on #46
@White-Tiger Can you describe exactly how you'd want FreeLAN to behave in that regard and what is the problem you'd like to solve ?

It is unclear to me what exactly constitutes a problem as FreeLAN usually operates well even on Windows. Do you have some particular networking setup that causes problems ?

[2015-08-03 23:06] White-Tiger commented on #46
this issue got created because I've been asked to do so in a different communication. (mailing list)

Windows requires a default gateway that answers to ARP requests to identify a network. An identified network is important to be able to save settings, as well as to configure it as "public", "private" or "work". Otherwise Windows' firewall blocks most traffic.

The answer I've got (from you) on th

[2015-08-03 23:10] ereOn commented on #46
@White-Tiger I recall now. Sorry, for not doing so earlier, I'm kinda swamped with tasks these days.

Thank you for the additional information as well as the graphics. I'll see how that can be implemented.

[2015-08-04 00:18] leggewie commented on #68
I am only referring to the fact that the tickets are not duplicates but deal with totally different issues.

[2015-08-05 08:19] leggewie commented on #68
[code]
This is the error I get now. As of today freelan is again broken against the latest freelan HEAD.

[2015-08-05 11:22] ereOn commented on #68
This is a bug in g++. Can you add -Wno-missing-field-initializer to the cxxflags ?
This should be done already by the scons script when g++ is detected so i suppose the detection doesn't work in your case for some reason.
Le 5 août 2015 4:19 AM, leggewie <notifications@github.com> a écrit :make[2]: Entering directory `/usr/src/wrt/my-feed/net/freelan'
rm -f /media/rolf/DATA/tmp/compile/wrt/git/sta

[2015-08-07 13:38] show0k opened #87 "Update of deb package"
Hi,
I just tried to install freelan on a Debian base GNU/Linux distribution, and I seen that [deb package](http://debian.freelan.org/) is 2 years old, and I failed to add your pgp public key in the trusted dependencies...
I would be far easier to provide a standalone deb package or a binary compiled with statical links of all dependencies. As you use travis-ci to test you code, you could also use

[2015-08-10 08:07] leggewie commented on #68
I added lines 51 and 52 to http://paste.debian.net/290831/ yet it didn't seem to have any discernible effect.  I don't think the CXXFLAGS were actually changed.  Do you have an idea?

[2015-08-10 20:38] MHamburg commented on #84
@ereOn
 Please find my respons below:

does Fiddler show that the server indeed replies with some content when you request the request_ca_certificate/ URL ?

- Yes the certificate is returned in binary form

Did you run fiddler from a remote host as well ?

- Yes you can do the same if you wish (it is a sandbox setup and will be removed later on):

Request GET: https://191.238.149.167/request_ca_c

[2015-08-10 21:18] ereOn commented on #68
I'm not sure those go through SCons properly.

Can you try adding those in the SCONS_VARS instead ? As CXXFLAGS.

Le 10/08/2015 04:07, leggewie a écrit :

[2015-08-10 21:23] ereOn commented on #87
Hi,

Yes the current Debian repository was not maintained in a while and the
new version 2.0 was not advertised yet. There is an ongoing request for
having freelan 2.0 packages listed in the official Debian repositories
but this takes time and we don't have any ETA on the request.

I can't commit on delivering anything on the side, as I simply don't
have enough time. In the meanwhile, if you are k

[2015-08-10 21:38] ereOn commented on #84
@MHamburg That is super weird.

Would you happen to be behind a proxy ?

Could you run wireshark on the client to look at what the client/server sends/replies when that happens ?

[2015-08-10 21:39] show0k commented on #87
I managed to make it work, but I wrote the issue because the compilation instructions are not so well documented so a GNU/Linux user who has no dev practice can't easy make it.
If I work again with it I'll try to wrote a pull request  for making the install more quick and play for Linux users.
Good luck with this project,
Cheers,
Théo

[2015-08-10 21:48] #87 closed

[2015-08-10 22:03] ereOn commented on #83
For the record, here is the log on C:

    2015-07-15T11:22:53.520005 [INFORMATION] Reading configuration file at: "c:\Program Files\FreeLAN\bin\..\config\freelan.cfg"
    2015-07-15T11:22:53.582398 [INFORMATION] Loaded signature certificate from: "C:\ProgramData\FreeLAN\laptop-nxo.crt"
    2015-07-15T11:22:53.613595 [INFORMATION] Loaded signature private key from: "C:\ProgramData\FreeLAN\laptop-n

[2015-08-11 05:35] leggewie commented on #68
[code]
indeed seems to do it.

[2015-08-11 21:33] ereOn commented on #68
@leggewie Glad it solves the problem !

[2015-08-13 04:04] leggewie commented on #68
Yes, let's close the task. Thank you

[2015-08-13 04:04] #68 closed

[2015-08-14 14:34] parruda opened #88 "Can't compile 2.1 on OSX Yosemite"
Followed these instructions: https://github.com/freelan-developers/freelan/blob/master/BUILD.md
All dependencies installed via HomeBrew.

[code]

This is the output of scons:

[code]

[2015-08-21 05:48] richman1000000 commented on #83
Hi!
I have same error  on windows computers (32 and 64 bit) computers, and my main contact server is debian x64.
One of the computers always is make this crash when I start freelan.
I was trying several options and setting up  cipher_capability=ecdhe_rsa_aes128_gcm_sha256
in freelan.cfg stoped this strange exit. Now I made this change to main server. In last 2 days freelan daemon did not exit and

[2015-08-23 14:13] ereOn commented on #83
@richman1000000 Haven't had any time to look at this yet but this will likely help.

Thanks for this feedback. I appreciate it.

[2015-08-23 14:17] ereOn commented on #88
Hi @parruda,

I've never seen those deprecation warnings before. Have you installed OpenSSL via Homebrew or did you take the one from the system ?

[2015-08-28 18:27] parruda commented on #88
I installed it from homebrew:

[code]

[2015-08-28 22:45] ereOn commented on #88
@parruda That's why. I believe homebrew let's you choose which OpenSSL version you use : for FreeLAN you need at least 1.0+.

There was some API break in OpenSSL 1.0 that FreeLAN relies upon so using a version before 1.0 isn't an option.

[2015-09-01 03:40] richman1000000 commented on #83
hi!
I started crashing again :(

[2015-09-01 04:06] richman1000000 commented on #83
root@richard-srv:~# freelan  -f -s -t 4 -c /etc/freelan/freelan.cfg.2
2015-09-01T10:06:05.410264 [INFORMATION] Reading configuration file at: "/etc/freelan/freelan.cfg.2"
2015-09-01T10:06:05.411423 [INFORMATION] Loaded server certificate from: "/etc/freelan/apache2.crt"
2015-09-01T10:06:05.411592 [INFORMATION] Loaded server private key from: "/etc/freelan/apache2.key"
2015-09-01T10:06:05.411830 [I

[2015-09-01 04:55] richman1000000 commented on #83
root@richard-srv:~# freelan  -f -d -t 4 -c /etc/freelan/freelan.cfg.2
2015-09-01T10:28:46.294177 [INFORMATION] Reading configuration file at: "/etc/freelan/freelan.cfg.2"
2015-09-01T10:28:46.296500 [INFORMATION] Loaded server certificate from: "/etc/freelan/apache2.crt"
2015-09-01T10:28:46.296747 [INFORMATION] Loaded server private key from: "/etc/freelan/apache2.key"
2015-09-01T10:28:46.297081 [I

[2015-09-01 05:20] richman1000000 commented on #83
I used strace  utility to create additional debug information. you can find debug files here
https://yadi.sk/d/U3Z7QK7Aing6D

[2015-09-05 15:51] wrouesnel opened #89 "Read failed on freelan0. Error: End of file"
[code]

Running the latest builds on Ubuntu Vivid, syslog fills up the with preceding message. This is on kernel `3.19.0-15-generic`.

The problem seems to be a regression in behavior for asynchronous reads in this kernel which breaks the boost async_io functions. freelan still works, but it will spam the logs with this message continuously while it's not sending data (and use a lot of CPU while d

[2015-09-07 12:45] tfft opened #90 "Raspbian port - Raspberry Pi Support"
Hi, its great that you guys make the .deb packages available (http://debian.freelan.org) - would it be possible to,

 1. Include a Raspberry Pi (RPi) port - Raspbian distro - ARMv6/ARMv7 - Debian armhf based
 2. Your repo is rather dated (circa 2013), "jesse" (version 8) has already been released

Thanks.

[2015-09-10 06:54] richman1000000 commented on #83
hi!
Yesterday I saw that  you made little changes to source code about a month ago.
I rebuilded .deb file with fresh code and reinstalled debian server and  freelan.
I is working now.

[2015-09-15 08:51] aanno opened #91 "Getting server information from ... fails"
Using freelan from the wheezy-backport repository, I encounter the following

<pre>
# freelan -f -d -c /etc/freelan/freelan.conf
Reading configuration file at: "/etc/freelan/freelan.conf"
2015-09-15T10:49:13.264737 [DEBUG] Core opening on 0.0.0.0:12000...
2015-09-15T10:49:13.264920 [INFORMATION] Server mode enabled.
2015-09-15T10:49:13.265141 [INFORMATION] User agent set to "freelan/1.1".
2015-09-

[2015-09-15 08:55] aanno opened #92 "python_freelan_server: Can't use 'freelan_server network create'"
Using python_freelan_server from the wheezy-backport repository, I encounter the following:

The help of freelan_server says:
<pre>
# freelan_server network create -h
usage: freelan_server network create [-h] name

positional arguments:
  name        The network name.

optional arguments:
  -h, --help  show this help message and exit
</pre>

But using leads to:
<pre>
# freelan_server network creat

[2015-09-16 23:40] ereOn commented on #92
The freelan server (as a Python package) was a prototype that was never fully officialy supported. It is not compatible with the latest FreeLAN release anyway. The better solution is to use the freelan binary (as you seem to do anyway from #91)

Feel free to reopen the issue if you really want to spend some time make it work (but it won't be a walk in the park).

[2015-09-16 23:40] #92 closed

[2015-09-16 23:42] ereOn commented on #91
Can you give details about your configuration ?

If I had to guess, I'd say your `client.server_endpoint` configuration is empty.

[2015-09-16 23:44] ereOn commented on #83
@richman1000000 Sorry for the delay and glad updating the sources made it work !

I'll close the issue but feel free to reopen it should the problem arise again. Thanks for the feedback.

[2015-09-16 23:51] ereOn commented on #89
@wrouesnel At first glande it seems to me that the only possible place for a fix is in Boost Asio's codebase.

Here is the code in FreeLAN that reads data:

	template <typename MutableBufferSequence, typename ReadHandler>
	void async_read(const MutableBufferSequence& buffers, ReadHandler handler)
	{
		m_descriptor.async_read_some(buffers, handler);
	}

As you can see, I used `async_read_some` whic

[2015-09-17 06:50] aanno commented on #91
My conf within only minimal comments:
<pre>
[server]

enabled=yes
network=mynetwork

public_endpoint=0.0.0.0
public_endpoint=::
hostname_resolution_protocol=ipv4
listen_on=0.0.0.0:12000
hello_timeout=3000
accept_contact_requests=yes
accept_contacts=yes
cipher_capability=aes256-gcm

[tap_adapter]

enabled=yes
ipv4_address_prefix_length=9.0.0.1/24
ipv6_address_prefix_length=2aa1::1/8
arp_proxy_enabl

[2015-09-17 07:04] aanno commented on #92
Well, I didn't noticed that it is/was a prototype. A word of warning from within the server (on the main page) would avoid such hassle...

[2015-09-17 09:36] richman1000000 commented on #83
:( this error returned in freelan client-server configuration.
1st client on windows, 2nd is client-switch on linux
I placed new strace generated file "freelan.log" here  https://yadi.sk/d/U3Z7QK7Aing6D
this time error happens after few reconstructions from windows client to linux client which is also "switch" for my network.
the regular si

[2015-09-17 11:52] ereOn commented on #92
@aanno Could you point me to the incorrect recommandation you followed to use the server ? This way I can fix it, and as you said, avoid the hassle for other people.

Thanks.

[2015-09-17 12:08] ereOn commented on #91
Something is off with the configuration you posted. It must differ somehow from the one you used for your first test as the lines:

    2015-09-15T10:49:13.265327 [INFORMATION] Getting server information from ...
    2015-09-15T10:49:13.265496 [DEBUG] Sent: GET https:///api/information

Indicate that the `client` feature was enabled, which is not the case in your configuration.

Also, specify `sig

[2015-09-17 16:55] aanno commented on #91
Hhm, when I use the configuration as I posted it:
<pre>
# freelan -f -d -c freelan-test.conf
Reading configuration file at: "/root/freelan-test.conf"
2015-09-17T18:51:47.754268 [DEBUG] Core opening on 0.0.0.0:12000...
2015-09-17T18:51:47.754525 [INFORMATION] Server mode enabled.
2015-09-17T18:51:47.754805 [INFORMATION] User agent set to "freelan/1.1".
2015-09-17T18:51:47.755064 [INFORMATION] Getti

[2015-09-17 17:00] aanno commented on #92
Well, perhaps it is just me. As I indicated, I'm using freelan from the wheezy-backport repository. Hence I added the repo, and used synaptic to see what is there. I felt about python_freelan_server and as I wanted to have one node in 'server-only' mode, I installed that. The documentation on the web site is a bit fuzzy about the server option...

[2015-09-22 10:57] richman1000000 opened #93 "Error deciphering data message from"
On debian x86_64:

[code]

Sometimes, after this error appears freelan cannot be started properly again untill computer is rebooted.

[2015-09-24 02:18] ereOn commented on #83
@richman1000000 Sorry to read that. I'll reopen the issue to make sure I look at it when I have time. (Which may not be soon sadly).

[2015-09-25 03:19] richman1000000 commented on #83
hi!
I managed to reduce amount of crashes by increasing the swap file up to 4 GB (I have 4GB memory on server) and setting up in sysctl.conf
vm.overcommit_memory = 2
vm.overcommit_ratio = 100

I think this problem somehow related to issue #74

[2015-09-30 06:58] richman1000000 opened #94 "user requires contact information"
In  freelan log there is this record.
1) in server mode there is  error "user (ip) asked for contact information without an active registration. Denying."
during this time client cannot connect to new peers.
Instead of denying, server must request client to registration again. Client receives this answer and instantly will re-register.

this 2 errors is related
2) in log of peer (ip1) "Received a

[2015-09-30 11:45] ereOn commented on #94
I'm not sure to understand completely what the issue is.

The error message: "user (ip) asked for contact information without an active registration. Denying." has a simple solution: the client must properly register before issuing requests to the server. Am I missing something ?

[2015-10-01 03:26] richman1000000 commented on #94
when server is denying request in client log  this error appears. "
2015-10-01T09:10:10.383536 [DEBUG] Sending HTTP(S) request to http://(server ip)/get_contact_information/: 200
2015-10-01T09:10:10.391528 [ERROR] Failed to get contact information from the web server: Unsupported content type (freelan::web_client_error:1)."

Client do not attempt to proper register until wrong registration informa

[2015-10-06 11:52] richman1000000 commented on #83
I think I managed to reproduce this error
1) start freelean on server (swtich mode) (ip2)
2)  stop client untill, and wait for this message in server log
" Session with (ip1) lost (timeout)"
3) run "route" in console and check if route to (ip1)  is still exists
4) restart freelan on server and client.
5) run "route" in console and check if route to (ip1)  is still exists
after that if client will

[2015-10-08 10:15] richman1000000 commented on #83
also addin "-t 8" parameter increases amount of this crash!

[2015-10-21 08:38] richman1000000 opened #96 "dynamically established link is not used for data messages"
Server C with public ip and relay mode enabled  is contacted by 2 clients - A and B.
A and B dynamically contact each other.
After dynamic connection is established data still goes through server C.
Data path is A-C-B.
If I turn off server C - clients A and B will exchange session information, but no data goes through. Inside VPN they are unreachable.

clients must switch to dynamically establishe

[2015-10-24 12:14] ereOn commented on #96
That is surprising. Are you in tun or tap mode ?

In tap mode, the internal virtual switch should expire entries after a while so that the proper route be taken by the next frames.

When this happens, can you try and send a broadcast message from A or B ? Something like a broadcast ping or broadcast UDP message. If the link between A & B is established, the other side should receive the message an

[2015-10-25 10:05] Tr4at opened #97 "Dynamic Contact Server IP"
Hi,

First of all very good job on this project :)

Quick question tho, lets say i have several clients connecting to 1 server but the server's public ip is dynamic so it changes all the time..., is there any easier way to adjust to this situation other than changing the contact ip address in the config file under each client manually?

[2015-10-25 15:52] ereOn commented on #97
@Tr4at This is the exact problem solved by DNS names.

It is actually not directly related to FreeLAN: you basically create an named alias that will be resolved later as the actual server's IP address. So instead of putting the raw IP address in the configuration file, you just write down the named alias. This is BTW exactly what happens when you browse on Github for instance: the name `github.com

[2015-10-25 15:52] #97 closed

[2015-10-27 08:57] richman1000000 commented on #96
hi!
I use tap mode. Yes, I tried to send ping pockets inside network from A to B - does not work.
If C with relay mode goes down - AB cannot reach each other

I turned off relay mode on C, and  configured clients to  dynamically contact each other - A searches for B, B searches for A. This reduced VPN connection downtime, but with relay mode on connection will more stable

PS. interesting fact.
se

[2015-11-10 18:46] Anime4000 opened #98 "Linux static build"
I have trouble to install FreeLAN on minimalist Ubuntu Server, where Disk space is limited,
If you can provide static build of FreeLAN, it will be much easier to install on any kind of Linux

![root iodine](https://cloud.githubusercontent.com/assets/1908715/11071898/29a83552-881e-11e5-8dad-44480e39ff7d.png)

[2015-11-19 08:39] gouthamvel opened #99 "Issue installing on ubuntu 14.04"
Followed instructions on http://www.freelan.org/download.html#debian

[2015-11-26 04:24] ereOn commented on #98
I am swamped with many things these days and can't promise any date for this.

Generating a binary that is statically linked should be quite easy (provided you have a computer with enough disk space). That being said: shared libraries usually lower the necessary disk space, not the other way around so I'm not sure that would help at all.

[2015-11-26 04:27] ereOn commented on #99
I suspect you tried installing the 1.1 version.

The official freelan Debian package for the 2.0 version is slowly making its way through the official Debian channels. In the meanwhile, it is highly recommended to compile from source. It's really easy to do on Linux and all the instructions are provided in the repository `master` branch.

[2015-11-26 04:27] #99 closed

[2015-11-26 05:45] Anime4000 commented on #98
like server running on CentOS, they intend use older version: `if not broken, don't fix it`.
to be easy static compile, it can be run any linux distribution

because, when I compile in Ubuntu, copy `./freelan` to CentOS, it wont run because having old version

[2015-12-14 05:00] bhzhu203 commented on #94
uncomment   “enabled=yes” will help
[server]
#enabled=yes

[2015-12-14 05:12] richman1000000 commented on #94
bhzhu203 I think you did not read properly or understood the issue. "in server mode" - Server is enabled on server machine.

[2015-12-14 05:17] bhzhu203 opened #100 "Why freelan must use public IP and ports"
Why freelan must use public IP and ports？If the other side （might be client） is behide NAT，we need to make public ports to use freelan. Could freelan be as OPENVPN or PPTP to go through NAT with one-direction connection ?

Thanks.

[2015-12-31 12:55] jwheatp opened #101 "Error when building from source"
Hi,

I got this error when I made `scons` :

[code]

I'm under Ubuntu 15.04

[2016-01-28 05:10] leggewie opened #102 "Mongooseplus licensing issues"
you disabled web server support in c5bf9ab0677e96, albeit only for linux.  The license violation the commit addresses is platform-agnostic and you cannot ship binaries with web server support at all at the moment.  web server support should be disabled across the bank for now, I guess.

[2016-01-28 05:10] leggewie commented on #101
Can you compile the Debian package?

[2016-01-28 05:16] leggewie commented on #100
This is a duplicate of #54

[2016-01-28 05:16] #100 closed

[2016-01-28 05:23] leggewie commented on #90
We've only very recently gotten freelan into Debian proper.

Would https://packages.debian.org/sid/armhf/freelan/download address your issue?  I'm away from my RPi for about a good week.  I might consider providing Raspbian packages if necessary, I'll probably use them myself.

[2016-01-28 05:30] leggewie commented on #90
I kind of figured that mixing packages from Raspbian and Debian is not a good idea and indeed it isn't. https://www.raspbian.org/RaspbianFAQ#Can_I_mix_packages_from_the_Debian_repositories_with_Raspbian.3F

For the next few days at least your best option is to dget http://http.debian.net/debian/pool/main/f/freelan/freelan_2.0-1.dsc and compile yourself.

[2016-01-28 05:31] leggewie commented on #54
Any news here? Can we merge this ticket with #35, please?

[2016-01-28 05:39] leggewie commented on #98
The argument that shared libs save space when compared to static compilation still stands.  As such, it should be considered to close this ticket as invalid/wontfix.

If you are THAT tight on space Ubuntu is probably not your best option.  Have you trimmed down the Ubuntu system to remove unnecessary stuff?  Some hints on how to do that: look through "aptitude search ~i\!~M", use "aptitude markaut

[2016-01-28 05:42] leggewie commented on #98
I just looked at your graphic again and I think your problem is really a different one.  This is a support request.  What version of Ubuntu are you running? Do you know what you need to do to compile a dsc file into the binary package you desire?  The latter is what you need to do (and I might do it for you and publish the result in a PPA).

[2016-01-28 06:36] leggewie opened #103 "publicly-accessible mailing list archive"
as far as I know, there is no publicly accessible archive of the mailing list available.  gmane.org expires the articles after about two weeks.

[2016-01-28 06:56] leggewie commented on #98
Bitteschön:

https://launchpad.net/~r0lf/+archive/ubuntu/stable/+sourcepub/5996700/+listing-archive-extra

I don't think the freelan project should publish more binary packages, that includes a static-linked binary package.

[2016-01-28 08:56] Anime4000 commented on #98
@leggewie I rented a VPS, it come with minimal ubuntu server, pretty much everything I run static builds because of portable, just send the file and run right away...

[2016-01-28 12:27] ereOn commented on #102
@leggewie That makes sense indeed.

I'll remove the code altogether. This feature doesn't fit with the new philosophy I intend to apply for the next major versions anyway.

[2016-01-28 12:40] ereOn commented on #54
@leggewie Those two are somehow related but I don't believe they denote the exact same concept.

This issue is about a transparent relay that acts as a fallback mechanism in case direct connection is not possible. #35 is more about a helper node that allows for automatic peer discovery. Those could be the same entity or they could be entirely separated (which I actually prefer).

In any case, I mu

[2016-01-30 04:25] leggewie commented on #98
Running a VPS responsibly requires a certain skill set.  I hope you've got it but I'm not sure.  In any case, this is a support request, not a bug and information has been provided for you how to run freelan.

[2016-01-30 04:25] #98 closed

[2016-01-30 15:54] Anime4000 commented on #98
All right, thanks for that.

[2016-02-10 01:07] Justinzobel commented on #67
aur moved, please update.

[2016-02-12 20:53] sbeckwithiii commented on #74
Was this issue resolved?

[2016-02-12 20:56] ereOn commented on #74
@sbeckwithiii It might have been. There is actually no confirmation that the issue was real nor that the "fix" changed anything.

[2016-02-14 01:12] g4jc commented on #67
I don't have time to maintain the PKGBUILD in AUR at the moment, however here is the PKGBUILD. It still works: http://pastebin.com/raw/xpTYVpfN

[2016-02-14 21:33] Justinzobel commented on #67
@ereOn are you able to maintain freelan in the AUR or one of the members of the team? That way it can be updated when you guys release.

[2016-02-16 23:18] ereOn commented on #67
@Justinzobel I sadly can't commit to anything. Time is pretty scarce for me these days. I'm having a hard time finding time to fix upstream features so managing the different target platforms at the packaging level is even less likely.

[2016-02-21 16:21] Raumy opened #104 "nothing happened when I ran freelan"
Hi,

I've build freelan from github source and "scons install -prefix=/opt"
`/opt/etc/freelan# /opt/bin/freelan
2016-02-21T17:16:00.084182 [INFORMATION] Reading configuration file at: "/opt/etc/freelan/freelan.cfg"

/opt/etc/freelan#
`

and that's all... no freelan process, no udp port 12000 open.
I'm using a virtual machine with debian jessie :
Linux 3.2.0-4-amd64 #1 SMP Debian 3.2.60-1+deb7u3 x8

[2016-02-21 16:28] ereOn commented on #104
Can you run it in foreground with `-f -d` and check out if it says anything ?

[2016-02-21 16:36] Raumy commented on #104
compile with debug option not done but on my other computer -ubuntu 15.10), I've these logs

./freelan -f -d
2016-02-21T17:35:14.686136 [INFORMATION] Reading configuration file at: "/opt/etc/freelan/freelan.cfg"

2016-02-21T17:35:14.687136 [DEBUG] Opening core...
2016-02-21T17:35:14.687174 [WARNING] No user certificate/private key or pre-shared key set. Generating a temporary certificate/private k

[2016-02-21 16:42] Raumy commented on #104
Forget my previous post on ubuntu 15.10.

In fact, it had been started the first time without any message more than
`
/opt/bin# ./freelan
2016-02-21T17:40:30.721559 [INFORMATION] Reading configuration file at: "/opt/etc/freelan/freelan.cfg"
`
Now I'm waiting my other compile to finish.... and I'll keep you informed

[2016-02-21 18:15] Raumy commented on #104
HEre is the logs from my virtual machine, with debug option it's more verbose :) but process is not running...

`
/opt/bin# ./freelan -f -d
2016-02-21T19:14:33.318108 [INFORMATION] Reading configuration file at: "/opt/etc/freelan/freelan.cfg"

2016-02-21T19:14:33.360341 [DEBUG] Opening core...
2016-02-21T19:14:33.361002 [WARNING] No user certificate/private key or pre-shared key set. Generating a

[2016-02-22 12:17] Raumy commented on #104
It seems tun or tap device is not created. I've saw some issues for OpenVPN
[code]

But I didnt find solution yet...

[2016-02-22 23:02] ereOn commented on #104
@Raumy This seems like you indeed don't have the kernel module.

This is weird, as it comes with most linux distributions, built-in. Did you build your kernel yourself ?

[2016-02-23 19:19] Raumy commented on #104
Well in fact it seems KVM virtual machines dont have tun or tap devices, or I need to configure in xml config file... not sure... same problem to run OpenVPN in a KVM virtual machine.

[2016-03-08 08:58] chrisidefix commented on #88
I recently compiled under El Capitan and it works, IF you make sure that:

1. `openssl` `include` and `library` paths are part of the build environment
2. `boost_thread` library can be found (or simply resort to the `boost_thread-mp` version

After that everything worked smoothly. The documentation could probably include these details as they would be very common issues for anyone building under M

[2016-03-08 09:02] chrisidefix commented on #88
Note how `homebrew` it even reminds you to take care of this, when installing:

[code]

The simplest way to solve the issue related to `boost_thread` might be to just create an alias pointing to the `homebrew` installed `boost_thread-mp` version or you could adjust this in the build setup scripts.

[2016-03-08 09:10] chrisidefix opened #106 "Error when validating [...]: certificate has expired"
I wanted to start using `freelan` again (under Mac OS X El Capitan) and installed the most recent version, which I compiled from source today. Everything is set up the same way I had used it in the past with signed certificates for every node.

Unfortunately, no connection is established and I am repeatedly seeing the following message (in the console):
[code]

Obviously, you might think some cert

[2016-03-08 09:55] chrisidefix commented on #106
Alright, after a quick search it turns out you can check the expiry date with:
`openssl x509 -enddate -noout -in ca.crt`

Looks like my originally created signing certificate expired only a month after I created it - no idea if this is supposed to work like that, but looks like the problem is indeed simply an expired certificate.

If anyone knows how I can fix this, don't hesitate to tell me, plea

[2016-03-08 12:37] ereOn commented on #106
Hi @chrisidefix,

Yes indeed, the error message is pretty straightforward in this case: you'll have to create another (self-signed) certificate. You can do so using the same private key if you want to.

Usually, the steps for doing that are:

- Create a Certificate Request (`.csr` file) from your private key. (`openssl req -new -key your.key -out your.csr`)
- Sign that Certificate Request to obtai

[2016-03-08 12:37] #106 closed

[2016-03-08 12:40] ereOn commented on #88
@chrisidefix Indeed. That is a good idea.

Feel free to make pull requests regarding any of the improvements you suggested. I'll happily merge it.

[2016-03-08 20:32] chrisidefix commented on #106
Thanks, I was able to create a new certificate, but didn't get it to work with that after all. I now get these messages:
[code]

Would I have to sign each of the existing client certificates with this new certificate (again) before I can use this new certificate or should it work with the existing (already deployed) client certificates?

[2016-03-08 20:53] chrisidefix commented on #106
Ok, so I also created a new certificate request for the client and signed it. It works now, but I am still wondering if this is the expected procedure or if the older signed client certificate (that was still valid) should technically still have worked?

If I would want to have a "short" life-span of certificates, which appears to be preferred, do I continuously have to re-sign all clients or shou

[2016-03-08 21:18] chrisidefix commented on #8
I noticed you have a travis config included already. Travis supports linux and os x (possibly Windows in the far-far-away future), but I guess for now the config could be extended to os x

[2016-03-08 21:24] ereOn commented on #8
@chrisidefix Indeed. If you have some experience with it, feel free to submit a PR with the necessary changes !

[2016-03-08 21:30] ereOn commented on #106
You have two things to consider here:

- The CA certificate, which is usually self-signed and trusted, which is used along with its private key to sign other, client certificates. This certificate usually has an extended validity period, which can be several years (because when it becomes invalid, you have to resign the client certificates). Obviously, the private key for this certificate has to b

[2016-03-09 07:43] chrisidefix commented on #106
Yes, this absolutely makes sense and I think so far I did understood the process as you describe it.

What I was / am unsure about is if I absolutely have to resign the client certificates, as you said, once the main CA certificate expires. When I generate a renewed CA certificate **from the same private key** - according to the accepted answer in this post, I was wondering if resigning the client

[2016-03-24 04:41] richman1000000 commented on #83
maximum_routes_limit=0
setting this option stopped "Invalid route metric" crash on my server

[2016-04-05 22:15] retep998 opened #107 "Freelan mangling paths in config"
Windows 10 64-bit using the version of FreeLAN from the website (1.1)
I have freelan installed to "C:\Program Files\FreeLAN".
The config is at the default location of "C:\Program Files\FreeLAN\config\freelan.cfg"
I have the following line in my config: `authority_certificate_file="D:\foo\bar\ca.crt"`
Upon attempting to run freelan I get this error: `Error: No such file: "D:\Program Files\FreeLAN\b

[2016-04-09 22:38] ereOn commented on #107
@retep998 I recently sadly had to dramatically reduce my amount of contribution to open-source software due to personal reasons. This lack of time prevented me from updating the website.

You may find the most recent version for Windows [here](https://github.com/freelan-developers/freelan/releases/tag/2.0). Sorry for the confusion.

[2016-04-09 22:38] #107 closed

[2016-04-09 22:39] ereOn commented on #104
I'm closing this issue as invalid, as it not so much a problem of FreeLAN but rather a configuration issue.

[2016-04-09 22:39] #104 closed

[2016-04-26 05:52] xp-1000 opened #108 "Webserver does not send certificate"
Hi all,
I recently discovered freelan, it is a wonderfull tool. Very good job.
I currently try to replace my centralized vpn (openvpn) by hybrid vpn with freelan.
Almost all features I have with openvpn works on freelan except 2 things :
- Provide dynamic ip via internal dhcp (not the subject here)
- Provide certificates to clients from webserver
# Situation

I works on windows 7 64 bit with this

[2016-05-15 15:26] strobe opened #109 "CentOS 7.2 - got a error:100AE081:elliptic curve routines:EC_GROUP_new_by_curve_name:unknown"
I've compiled master branch (43062cd97e869df3334c72abf0f99797ff20e539) and got this error on 2 CentoS 7 hosts:

[code]

[code]

[code]

[code]

[code]

[2016-05-28 08:46] Split7fire commented on #67
I managed to package freelan-git. It is available now https://aur.archlinux.org/packages/freelan-git/

[2016-05-30 11:50] ereOn commented on #67
@Split7fire That's great ! Thanks !

[2016-06-02 02:48] ErickNogueira opened #110 "DHCP lease time"
Hi,

I have Freelan running on Windows Server 2008 R2. Is it normal 60 minutes for DHCP lease time?

I got twice errors per hour at the server logs (DHCPNACK).

How can I extend the DHCP lease time for the TAP adapter?

[2016-06-14 21:47] Anime4000 opened #111 "UDP Hole Punching"
Beside using UPNP to allow incoming, UDP Hole Punching is great alternative to allow incoming connection, many application like Skype, Hamachi, TeamViewer VPN, etc... use this tricks to establish P2P connection.

to achieve this either using `relay` server or `pwnat`.

Tool:
[pwnat](https://github.com/samyk/pwnat)

[2016-06-14 22:13] ereOn commented on #111
UDP hole punching is always (and has always been) implemented in FreeLAN.

There is nothing specific to do for that : you just have to make sure both peers try to reach each other via their configurations, and UDP hole punching kicks in if at least one of the routers is not a symmetric NAT.

Closing this. Feel free to reopen and give more precisions if that was not what you meant.

[2016-06-14 22:13] #111 closed

[2016-06-17 19:32] Anime4000 opened #112 "Windows TAP conflict"
on my VPS, I installed `isc-dhcp-server` and tell FreeLAN to use DHCP server instead proxy it.

Other application use Windows TAP and leaving their settings into `IP Manual Configuration`, and causing FreeLAN using that `IP Manual Configuration`.

I suggest that FreeLAN always set Windows TAP to `Auto Configuration`.

[2016-06-26 11:43] leggewie commented on #110
DHCP is done at the DHCP server level.  This is not a freelan bug.  Check with the DHCP server you have running locally.

[2016-06-26 11:43] #110 closed

[2016-06-26 11:44] leggewie commented on #101
closing as wfm

[2016-06-26 11:44] #101 closed

[2016-06-26 11:46] leggewie opened #113 "fails to compile against openssl 1.1.0"
I was informed in http://bugs.debian.org/828304 that freelan fails to build against openssl 1.1.0

https://breakpoint.cc/openssl-1.1-rebuild-2016-05-29/Attempted/freelan_2.0-1_amd64-20160529-1418

[2016-06-28 22:27] ereOn commented on #113
@leggewie Do you know how to reproduce it locally ?

From the logs, I'd guess that OpenSSL's include files were somehow reorganized and one is now missing:

[2016-06-29 07:40] leggewie commented on #113
I've not tried to reproduce it locally, yet.

[2016-06-29 21:02] paralin opened #114 "Configure using a certificate chain"
How can I use a certificate chain with Freelan?

I have the following chain:
- Root cert
- Intermediate 1
- Intermediate 2
- User certificate

I tried putting the 2 intermediates and root in order (top to bottom) in the `authority_certificate_file` file, but got the error when connecting `unable to get local issuer certificate`.

It made sense that freelan should be presenting the chain when attem

[2016-07-04 11:58] ereOn commented on #114
This question was also asked on the mailing-list, so here is a copy of my reply.

Hi Christian,

How exactly did you put the intermediate and root certificates “in order” ?

Did you repeat the authority_certificate_file option in the configuration file or did you put them all in the same .crt file and referred to that file in the configuration ?

The latter should work (but not the first), if my m

[2016-07-15 10:48] snizzleorg commented on #90
anyone got it running on the raspberry pi?

[2016-07-15 12:17] ereOn commented on #90
Yep. I did. It only depends on your operating system.
Le 15 juil. 2016 6:48 AM, snizzleorg <notifications@github.com> a écrit :anyone got it running on the raspberry pi?

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-16 15:45] leggewie commented on #90
On 15.07.2016 20:17, Julien Kauffmann wrote:

Did you compile the source straight away or use the Debian packaging to
compile?

[2016-07-16 17:11] ereOn commented on #90
@leggewie It was a while back. Long before the official Debian packaging so I compiled from sources.

Anyway, FreeLAN should work and compile on every platform OpenVPN does as they use the same underlying principles/low-level APIs.

[2016-07-19 08:32] leggewie commented on #90
I've now published an RPi binary at http://oss.leggewie.org/freelan/

@ereOn Feel free to add a pointer from the web page.

[2016-07-19 08:32] #90 closed

[2016-08-06 14:19] ereOn commented on #90
@leggewie I finally updated the website. Thank you so much for handling this and providing the packages !

I wanted to add a special thanks on the website, but I figured I'd ask you first if you want to be mentioned.

[2016-09-23 03:12] richman1000000 opened #115 "self-contact"
I do not know if this is issue, but I use 2 servers of freelan
One of them behind NAT and  get this error
freelan[497]: Ignoring PRESENTATION from 192.168.15.233:12000 as an active session currently exists with this host.

for some reason server tries to contact itself through NAT, and causes to go offline itself.
I've added never_contact=192.168.15.233 into configuration.
Now it is working but I

[2016-10-27 16:09] leggewie commented on #113
I was able to reproduce it locally now.  freelan will be removed from Debian in about two weeks unless this FTBFS error is fixed.

[2016-10-28 10:45] ereOn commented on #113
@leggewie I'm setting up a Debian VM and will try it out locally. It has to compile on the current Debian testing, right ?

[2016-10-28 10:52] leggewie commented on #113
In this case, please compile against experimental

[2016-10-28 10:57] ereOn commented on #113
@leggewie Okay. Will do and keep you posted. I may not have the time to finish this today but I'll try to clear things up before monday.

Thanks for the follow-up.

[2016-10-30 21:40] ereOn commented on #113
@leggewie I started a branch [openssl1.1.0](https://github.com/freelan-developers/freelan/tree/openssl1.1.0) to try and fix the build but the folks at OpenSSL changed the API a lot (some functions we used just disappeared...) and this is huge work. I'll try to work on it some more during the week.

[2016-10-30 22:10] ereOn commented on #113
@leggewie Actually, it took less time than expected. I could manage to compile it with OpenSSL 1.1.0b.

Could you please give it a try ? I compiled it in my Windows subsystem for Linux bash which means I can't execute it. All my attempts at setting-up a Debian testing VM failed mysteriously on both VirtualBox and HyperV for some reason.

[2016-11-01 10:12] ThibaultLemaire opened #116 "SCons compilation fails on Debian 8 Jessie"
After following [build instructions](https://github.com/Naughtylus/freelan/blob/master/BUILD.md), scons fails to compile on debian 8.6 with the following error:

[code]
Tested with current [HEAD](https://github.com/freelan-developers/freelan/tree/43062cd97e869df3334c72abf0f99797ff20e539), and tags [2.0](https://github.com/freelan-developers/freelan/tree/2.0) and [debian/2.0-1](https://github.com/f

[2016-11-01 10:30] Naughtylus commented on #116
Looks like I'm missing the compilation flags in my environment...

Could it be because I didn't use teapot? I thought this was OK since I could install the dependencies via apt.

[2016-11-01 11:15] Naughtylus commented on #116
Alright, I'm an idiot. **I was just missing the g++**.

I reinstalled my machine fairly recently and forgot I hadn't installed it.

So, for idiots like myself who forget they need a compiler to compile source code, should we :

1. Add `g++` to the list of dependencies in the [build instructions](https://github.com/Naughtylus/freelan/blob/master/BUILD.md) ?

2. Add a compilation warning to the SCon

[2016-11-01 11:50] ereOn commented on #116
@Naughtylus Glad you solved it !

You are not an idiot: idiots usually don't try when it doesn't work the first time ;) Also, I made the exact same mistake last week so at least you are not alone !

For 1. that seems like a good idea. I wrongly assumed that only people that play with C++ everyday would try to compile FreeLAN from sources, but that's obviously a wrong assertion.

I'm not sure about

[2016-11-01 15:16] Naughtylus commented on #116
Well yeah, freelan being only available in the Stretch repository (currently testing), I can't get any packages for my Jessie machine.

So I decided to compile directly from source (and I believe I won't be the only one in this case, hence the idea of an explicit error).

[2016-11-03 05:13] ereOn commented on #116
@Naughtylus Just to make a follow up: is this still an active issue ?

If not, can we close it ?

[2016-11-03 05:14] ereOn commented on #115
It could be that your NAT router somehow redirect unwanted traffic to your own host.

The solution you found makes sense and the second error message is actually expected in this case (but should not have any negative effect).

[2016-11-03 05:14] #115 closed

[2016-11-03 10:37] Naughtylus commented on #116
I was planning on closing it once the merge request is closed so anyone having the same issue in the meantime could stumble upon this issue and hopefully fix it by themselves, but I guess you can close it now if you want.

[2016-11-04 12:56] leggewie commented on #113
Unofrtunately, it still fails.

http://oss.leggewie.org/freelan/freelan_2.0-1rl1_i386.build

[2016-11-15 06:15] leggewie opened #118 "change install location for binary"
SConstruct installs the binary to /bin.  Shouldn't that be /usr/sbin?

[2016-11-15 06:18] leggewie commented on #113
I am sorry, I looked at the wrong branch.  Your work does indeed fix the issue.

[2016-11-15 06:24] leggewie commented on #113
In just a short while https://sources.debian.net/src/freelan/2.0-2/debian/patches/openssl.patch/ should have the squashed patch that I extracted from your work

[2016-11-15 12:53] ereOn commented on #113
@leggewie Awesome. Thanks !

[2016-11-15 12:54] ereOn commented on #118
I was expecting the Debian package to override that upon calling of the `SConstruct` script.

I don't mind changing the default though.

[2016-11-17 02:10] leggewie commented on #118
Well, before having Debian deviate from the upstream default I'm trying to find out why you chose "bin as install location.

[2016-11-17 09:28] richman1000000 opened #119 "freelan and openvpn windows conflict"
This happens only on Windows systems.
If during installation of openvpn option   "add OpenVPN to path"  is enabled , (which is enabled by default),
freelan will not start, resulting in error.
OpenVPN folder contains files ssleay32.dll and libeay32.dll. FreeLAN have same names in it's folder.

I did disabled "add OpenVPN to path" and both FreeLAN and OpenVPN is working correctly

[2016-12-15 14:42] nxtreaming opened #120 "I can run freelan by command line , but I fail to run it by Windows service?"
I can start freelan by command:

E:\Program Files\FreeLAN\bin>freelan -c ..\config\freelan.cfg
Reading configuration file at: "E:\Program Files\FreeLAN\bin\..\config\freelan.c
fg"
Enter PEM pass phrase:
2016-12-15T22:38:40.949014 [INFORMATION] Tap adapter "{AD75A1B2-13D3-4186-A6B4-F
9A1285FD45C}" opened with a MTU set to: 1500
2016-12-15T22:38:41.093023 [INFORMATION] Execution started.

2016-12-15

[2016-12-15 17:27] nxtreaming opened #121 "Fail to establish session"
Windows peer(Win 7):

E:\Program Files\FreeLAN\bin>freelan.exe -c ..\config\freelan.cfg -d
Reading configuration file at: "E:\Program Files\FreeLAN\bin\..\config\freelan.cfg"
2016-12-16T01:19:38.537397 [DEBUG] Core opening on 192.168.12.226:12000...
2016-12-16T01:19:38.549398 [DEBUG] Sending HELLO_REQUEST to 103.6.222.217:12000...
2016-12-16T01:19:38.562398 [DEBUG] Opening tap adapter "" with a de

[2016-12-15 17:33] nxtreaming commented on #120
The service can be started if I use empty pass phrase .

[2016-12-15 17:33] #120 closed

[2016-12-22 11:01] korzec opened #122 "Network status and log files - where to find them on windows, mac and linux?"
Hi,
I cannot find documentation on checking status of the freelan network and have trouble locating log files.
I run on windows and mac. No luck compiling from source on Linux centos yet.
I see some messages in mac log console,  but I hope there is more somewhere.

Where are the log files?

How to check network status?

Thanks for any help!

[2016-12-28 17:55] MarekBrychta commented on #121
I was going to create a new topic about the same issue but in the last second I noticed this :)

I have the same problem.
I've got two nodes config, both Debian 7. Freelan version 1.1 Thu 10 Oct 2013.
My endpoints are public IP adresses.
Session fails to establish.

Debug logs (IP adresses and cert attributes are hidden)

**NODE A**
2016-12-28T18:17:28.503262 [DEBUG] Sending HELLO_REQUEST to W.X.Y

[2016-12-30 20:49] korzec commented on #55
one way could be to allow a shell command to be set in config file that would run the upnp function for example using the [PortMapper](https://github.com/kaklakariada/portmapper) can be a simple multi-latform solution:

`java -jar PortMapper.jar -add -externalPort 1200 -internalPort 1200 [-ip <ip-addr>] -description desc`

[2017-01-03 22:21] albocc opened #123 "Change default IPv4 address"
According to the `README` the default configuration of freelan is to pick the 9.0.0.1 IPv4 address for inside the emulated network:

This should be changed since the 9.0.0.0/8 network [is not a private address space](https://www.iana.org/assignments/ipv4-address-space/ipv4-address-space.xhtml) and therefore might be used for actual internet servers. If a client attempts to access a resource on tha

[2017-01-05 16:28] ereOn commented on #123
@albocc This decision was actually made to avoid conflicts as much as possible.

Having the virtual private network reuse a private network (like the ones you mention) causes conflicts in most personnal and sometimes professional setups as you can't usually have two different network card in the same network.

The decision to use 9.0.0.0 (which is an IBM-allocated address space) was made because i

[2017-01-05 16:28] #123 closed

[2017-01-17 10:44] helgebetzinger opened #124 "Performance issue, if freelan manages thousands of logical connections."
Hi,

we observed an exponentiall increase of cpu usage by freelan with the increasing number of  logically connection through a single, physically freelan link. We observed it only with increasing number pg logically connections, not with the increase of bandwith. So, we conclude an misbehaving algortithm within freelan while handling many connections. See the attached image with our measurements.

[2017-01-19 07:58] zaitsxl commented on #109
Hi fellas,

voting for the same problem. Platform is as follows
CentOS Linux release 7.3.1611 (Core)

OpenSSL 1.0.1e-fips 11 Feb 2013
built on: Sun Nov  6 03:45:24 UTC 2016

secp384r1 : NIST/SECG curve over a 384 bit prime field
secp521r1 : NIST/SECG curve over a 521 bit prime field
prime256v1: X9.62/SECG curve over a 256 bit prime field

ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:E

[2017-02-02 13:21] achedeuzot commented on #93
I got this message a lot lately with a lot of

[code]

I'm using freelan with cross connections between all my servers: each server is connected to all the others directly through public IPs. I currently have 9 servers. Since this morning, nearly all the connections are unstable and can't stay up. Any idea what could be causing this ?

[2017-02-02 15:58] jenwe commented on #124
You can reproduce this with netcat, with these short scripts

script to receive:

[code]

script to send:

[code]

[2017-02-03 04:07] richman1000000 commented on #93
I think this is some sort of ssl library error.
Freelan work fine several month, but what I did is setup each server configuration like this.
ipv4_address_prefix_length=10.18.0.10/23 (address of this server)
never_contact=10.18.0.10 (again address of this server)

[2017-02-13 22:31] leggewie commented on #90
Sure, I love to read my name in famous places ;) Besides, it's in the domain name, anyhow ;-)

[2017-02-22 15:44] ferdynice opened #125 "Create VPN for NAT nodes with only a single reachable node."
Nodes A and B are behind NAT. Only B is public reachable. (Using port forwarding for example). Is it currently possible to create a VPN between the two nodes?

If so, perhaps an addition to the documentation or FAQ would be nice.

If not, are there any plans to do so? Please have a look at PeerVPN, which supports this types of connection.

Thank you in advance.

[2017-02-25 15:31] wesx opened #126 "Fail to compile against boost 1.63"
I'm currently trying to compile freelan on arch linux and struggled with the new boost version. On 1.63 they changed something on the optional syntax(https://svn.boost.org/trac/boost/ticket/12788) so that the build fails.  I added the suggested workaround and added "#define BOOST_NO_CXX11_UNIFIED_INITIALIZATION_SYNTAX". It compiles with these fixes, but afterwards it tries to use /usr/lib/libboost

[2017-02-25 15:43] wesx commented on #126
Here is the commit to fix the compile https://github.com/wesx/freelan/commit/41d2f2c3108fd7190dc18b271d467e1f4fe5535d

[2017-02-28 22:07] ereOn commented on #126
@wesx I'll happily take a PR for this !

Thanks.

[2017-03-01 19:39] wesx commented on #126
I created one. Do you have any idea of the 1.60 boost dependency?

[2017-03-04 17:38] blackd commented on #125
Since B is publicly accessible you should just point A to it in the configuration by adding contact in [fscp] part of the configuration

[fscp]
contact=public_ip:open_port

[2017-03-05 13:22] ereOn commented on #126
@wesx I lack information to answer reliably. One thing is certain though : do not mix boost versions.

If we explicitely rely on 1.63, then you'll have to download, compile & install that version on your system and refer to it (and not another one).

`INCLUDE`, `LIBRARY_PATH` and `LD_LIBRARY_PATH` can help with that.

[2017-03-05 13:26] wesx commented on #126
ok, thanks. I will play around with that in the next days and see if i can get it to work with LIBRARAY, LIBRARY_PATH or LD_LIBRARY_PATH.

[2017-03-07 12:15] ferdynice commented on #125
Thanks.

[2017-03-07 12:15] #125 closed

[2017-03-07 18:35] wesx commented on #126
Thanks for your help. For the people with the same problem it works with`env LD_LIBRARAY_PATH=/usr/lib/libboost_data_time.so:/usr/lib/libboost_filesystem.so:/usr/lib/libboost_iostreams.so:/usr/libboost_program_options.so:/usr/lib/libboost_system.so:/usr/lib/libbosst_thread.so ./freelan`

[2017-03-07 18:35] #126 closed

[2017-03-20 17:19] Hoeze opened #128 "Fails to compile on ArchLinux"
Hi,
I'm trying to install freelan on ArchLinux using 'freelan-git' from AUR, but it runs into following error:
[code]

[2017-03-30 15:29] wesx commented on #128
This is because of the new glibc version in arch linux. Since 2.25  this warning occurs. See the release notes for the new version. I will create a merge request to fix this, but i don't know how it behaves with older releases of glibc.

[2017-03-31 04:34] #128 closed

[2017-04-16 15:29] richman1000000 commented on #124
Hi! I think your problem related to problem of freelan contacting itself.

In all my setups I've did that.
When you build configuration for the freelan instance, immediately  block it from contacting itself by adding same ip to never contact list in same configuration file.
"ipv4_address_prefix_length=10.18.0.10/23" - here you assign local ip
"never_contact=10.18.0.10" - here you deny contacting l

[2017-04-16 15:32] richman1000000 commented on #122
Hi!
I only know how to collect logs in 2 systems.
In windows you can start it from console with parameters -d
In debian adding parameter -ddd into file /etc/default/freelan makes it to log lot of information.

[2017-04-16 15:42] richman1000000 commented on #83
Hi!
A little update on that matter.
I did not seen this error "invalid route metrics"  in logs since i've discovered problem of freelan contacting itself and resolving that behavior by adding self ip to block list
"ipv4_address_prefix_length=10.18.0.10/23" - here you assign local ip
"never_contact=10.18.0.10" - here you deny contacting local ip.

Can you check this resolution?

[2017-04-16 15:46] richman1000000 commented on #121
I had same issue on Freelan version 1.1
But in freelan 2.0  there is added session identifier of some sort, preventing freelan to create new unnecessary connections with same host.
use freelan 2.0

[2017-04-16 15:58] richman1000000 commented on #74
Hi!
I haven't seen memory blows of freelan processes since i've discovered problem of selft-contact.
Can  you try to block local ip from contact list?
"ipv4_address_prefix_length=10.18.0.10/23" - here you assign local ip
"never_contact=10.18.0.10" - here you deny contacting local ip.
also can you check #83

[2017-04-24 09:16] jenwe commented on #124
Thank you for the advice.
I tested your suggested configuration, but it didn't solve the problem.

[2017-04-25 03:20] richman1000000 commented on #124
The thing is - I had do add self block on all Freelan instances in my network.

[2017-05-10 15:28] wesx commented on #113
Hi,
i tried to build freelan against OpenSSL on ArchLinux. The comman "scons build" fails, because you removed functions like generate_params from dh_key and dsa_key. These functions are used in some of the sample cryptoplus files. The command "scons install" succed, i guess the files are not compiled in for this step.

Im not completely sure what this files are for im a bit worried of changing so

[2017-05-14 20:56] jchevali commented on #112
I thought every application would use its own TAP device, configured independently from others.

[2017-06-08 10:42] richman1000000 commented on #74
hi!
I got this memory link!
I had freelan crashing, so reading this topic I've increased my swapfile by 50 GBs
How can I collect and send you debug data? I'm not a developer, but admin.
If you will provide me step by step instruction, I will send it to you.
![image](https://user-images.githubusercontent.com/9943374/26924801-17dfbf64-4c69-11e7-81af-a74ee13a4d8c.png)

[2017-06-26 04:28] richman1000000 commented on #93
this error
[ERROR] Error deciphering data message from 10.1.2.3:2121: error:00000000:lib(0):func(0):reason(0)
happens when there is not enough virtual memory during  memory leakage  described  in
https://github.com/freelan-developers/freelan/issues/74#issuecomment-307067381

But setting up swap-file to 50 Gb resolved this problem partially

[2017-06-27 17:44] sklipnoty opened #130 "Parameter is incorrect?"
2017-06-27T19:41:39.361488 [DEBUG] Opening tap adapter "" with a desired MTU set to: auto
2017-06-27T19:41:39.369989 [INFORMATION] Tap adapter "{890DF886-384C-43A6-9C2B-F4AE7A7D713D}" opened with a MTU set to: 1500
Error: The parameter is incorrect

[2017-07-01 13:57] ereOn commented on #130
Sorry but you tell nothing about what you've tried, your operating system, your configuration and you just posted an error log message with no context whatsoever.

I won't put more effort in solving that issue (if it is one) than you did in posting it. Closing this until you provide the minimal information needed for resolution.

[2017-07-01 13:57] #130 closed

[2017-08-05 05:14] leggewie commented on #116
No need to explicitly depend on g++ as that is pulled in via the package build-essential.

Use "dpkg-checkbuilddeps" in the source directory with debian directory to find out if you are missing a build-time dependency.

Closing as invalid, but thank you for the discussion.

[2017-08-05 05:14] #116 closed

[2017-08-05 05:24] leggewie commented on #118
Is there a reason to ever install it to /bin?

[2017-08-05 05:27] leggewie commented on #121
version 1.1 of freelan is no longer supported.  Please update.

[2017-08-05 05:27] #121 closed

[2017-08-05 05:39] leggewie commented on #113
@ereOn It seems that fixing the build for openssl 1.1.0 now makes it the required version.  That's bad, both for backporting purposes as well as for compiling it in Ubuntu which hasn't made the switch for openssl even in the latest development release.

[2017-08-05 06:48] leggewie opened #131 "freelan fails to build against gcc7"
https://bugs.debian.org/853406

I was able to verify it locally

[code]

[2017-08-05 16:49] ereOn commented on #118
I don't know. I should not matter. I don't mind aligning the defaults to something that eases Debian packaging as its the main target.

[2017-08-05 18:19] s-vincent commented on #131
I made a pull request to address this issue (#132).

[2017-08-05 18:22] s-vincent commented on #131
This patch applies also cleanly on openssl1.1.0 branch.

[2017-08-05 18:29] s-vincent commented on #113
We can use some couples of "#ifdef OPENSSL_VERSION_NUMBER >= 0x10100000L" to support both OpenSSL 1.1.X and 1.0.X. I will do a patch/PR for openssl1.1.0 branch.

[2017-08-05 19:54] s-vincent commented on #118
According to the [Filesystem Hierarchy Standard](http://refspecs.linuxfoundation.org/FHS_3.0/fhs/index.html), /bin is more for basic system binaries.

The default installation prefix should be either /usr/ or /usr/local/.

[2017-08-05 20:09] ereOn commented on #118
Let's go for `/usr/local/` then. As I said, I picked this without a second thought.

[2017-08-05 20:10] ereOn commented on #113
@s-vincent Thanks ! Glad to see you back !

[2017-08-06 05:00] s-vincent commented on #113
Pull request #133 against openssl1.1.0 branch.

I compiled/tested on Debian testing (OpenSSL 1.1.0) and Ubuntu 16.04 LTS (OpenSSL 1.0.2).

If all is good, I believe we can merge openssl1.1.0 to master branch now ?

[2017-08-06 10:45] leggewie commented on #131
Awesome!  Thank you.

Backported to the version in Debian.

[2017-08-06 10:45] #131 closed

[2017-08-06 11:57] leggewie commented on #118
s-vincent is right, this isn't a Debian-specific thing.  This is about the FHS.

 /usr/local is usually for local installations.  Debian (and I believe other distros as well) do not install anything there.  It is an area for the user to install stuff in.  Distro packages live in /usr.  So, /usr/local is a sane default for personally compiled installations.  Debian will need to install to /usr.

[2017-08-06 15:24] s-vincent opened #134 "Vagrantfile does not work anymore"
When we run vagrant with the Vagrantfile provided by FreeLAN, it failed to create virtual machines.

[code]

We should update our vagrant/ansible files to support Ubuntu 16.04 LTS.

[2017-08-06 15:26] s-vincent commented on #134
I take care of this one.

[2017-08-06 18:33] s-vincent commented on #134
Pull request #135.

[2017-08-07 05:12] s-vincent commented on #134
PR merged.

[2017-08-07 05:12] #134 closed

[2017-08-07 10:58] leggewie opened #136 "reproducible builds"
please have a look at https://gist.githubusercontent.com/lamby/ecf8a75b06aab0b91b519b6157422288/raw from https://tests.reproducible-builds.org/debian/rb-pkg/unstable/amd64/freelan.html

[2017-08-07 11:54] s-vincent commented on #109
Hello,

You can add the following to your [fscp] section:
elliptic_curve_capability=secp384r1

I have tested between a GNU/Linux Debian testing and Centos 7.3 and both peers manage to communicate OK.

@ereOn It seems that CentOS 7.x does not support secp571k1 elliptic curve (which is a default value), maybe we should check if system supports it before communicating with a peer with these capabilit

[2017-08-07 15:52] s-vincent commented on #136
For the section `objdump --line-numbers --disassemble --demangle --section=.text {}`, it seems that the binary has not been stripped.

[2017-08-07 16:22] s-vincent commented on #86
More than 2 year without responses.

Feel free to reopen if you still have issues on this OS.

[2017-08-07 16:22] #86 closed

[2017-08-08 09:28] s-vincent commented on #102
For the moment, we can add a #define like USE_MONGOOSE in the SConscript.

So all in all, compilation will be platform agnostic without mongoose by default waiting for replacement.

@ereon WDYT ?

[2017-08-08 10:50] s-vincent opened #138 "Use brew packages on macOS"
If I understandard correctly dependencies (libssl, boost, ...) on macOS are built with .party files. But we can use brew packages (https://brew.sh/) instead.

I already have something working by doing the following steps:
- `brew install scons openssl boost `;
- Modify SConstruct/SConscript to add the brew's OpenSSL include/lib path to CXXFLAGS/LDFLAGS/LIBPATH as well as using boost_thread**-mt**

[2017-08-08 11:19] s-vincent commented on #102
PR #139 to review.

[2017-08-08 11:26] s-vincent commented on #76
Any news on this issue ? Still performance problems ?

[2017-08-08 11:29] s-vincent commented on #89
Any news on this issue ? Still problems with recent kernel or Boost version ?

[2017-08-08 11:33] s-vincent commented on #88
Similar to #138. I have a POC which modify the SConsctruct with what @chrisidefix said as well as adding boost_thread-mt for 'darwin' build.

[2017-08-08 11:56] s-vincent commented on #83
Tested the procedure that mentionned @richman1000000 with 8 threads and a basic configuration (no never_contact), I got an "Unable to add system route" warning in logs but no crash.

I close this issue. Feel free to reopen if you still have problems.

[2017-08-08 11:56] #83 closed

[2017-08-08 12:09] s-vincent commented on #93
@richman1000000 do you still use a freelan 2.0.0 binary ? It comes from official debian package ?

I tried some stuff recently and I cannot see any growing leaks with latest code (2.1). Can you try with master repository ?

[2017-08-08 12:10] s-vincent commented on #74
Does it happens with latest code from master repository or with some official version / Debian package ?

[2017-08-08 12:57] s-vincent commented on #55
The [libminiupnpc](http://miniupnp.free.fr) (C library) is portable on GNU/Linux, macOS and Windows so it can be a good candidate.

The code to add a mapping does not seems too much complicated: https://stackoverflow.com/a/25789141.

[2017-08-08 15:47] bchavez commented on #74
@s-vincent , for me the last time I checked, this happened with the [Freelan 2.0 official release](https://github.com/freelan-developers/freelan/releases/tag/2.0). The problem existed in both Windows and Linux Debian release `apt` package. IIRC I also tested some versions built by @ereOn that had memory modifications presumably built from `/master` at the time and the problem still existed.

Since

[2017-08-08 16:11] s-vincent commented on #88
With the PR #140, it should be OK out of the box (if boost/openssl/scons brew packages are installed first).

[2017-08-08 16:12] s-vincent commented on #8
A tentative to add macOS build to travis is done in PR #140.

[2017-08-08 16:13] s-vincent commented on #138
See PR #140 for detail.

[2017-08-09 03:12] richman1000000 commented on #93
Hi!
Ok, I can compile linux version, but I do not know how to compile windows version :( .

[2017-08-09 03:59] richman1000000 commented on #93
got error during compilation and package build.
debian 9.1 all packages up to date with main repository.

![image](https://user-images.githubusercontent.com/9943374/29104696-4e473d7e-7ce9-11e7-85fa-45af53c60903.png)

[2017-08-09 05:22] s-vincent commented on #93
GNU/Linux Debian 9.1 uses OpenSSL 1.1.0. You can use openssl1.1.0 branch (see #113). Hopefully we will merge it to master soon.

[2017-08-09 08:28] richman1000000 commented on #93
yes, this branch successfully compiled.
Do I need to install it on all clients? Cause memory leak occurs only on central server with switch role.

[2017-08-09 13:31] s-vincent commented on #8
For Windows, we can use [AppVeyor](https://www.appveyor.com). It is free for open source projects and it can also be integrated in github like Travis CI (see https://github.com/marketplace/appveyor).

@ereOn WDYT ?

[2017-08-09 23:51] ereOn commented on #138
@s-vincent

It makes a lot of sense to use the libraries as provided by the standard (or de-facto standard) packaging system on the platform, and Homebrew is the de-facto standard packaging system on OSX: so I'm all for it indeed.

[2017-08-09 23:53] ereOn commented on #136
I'm not sure I get exactly what is asked of me here. I may be lacking context to fully understand how I can help and what I can answer.

[2017-08-09 23:54] ereOn commented on #122
This has been answered I believe. I you still have a question, feel free to reopen.

[2017-08-09 23:54] #122 closed

[2017-08-09 23:56] ereOn commented on #119
This is sadly a limitation and very common problem on Windows: DLLs found in the PATH can be picked up directly - or like I suspect in that case: indirectly - by binaries and other DLLs resulting at times in incompatibility problems.

Aside from compiling freelan statically with its dependencies, what you did is the correct course of action to fix the issue.

[2017-08-09 23:56] #119 closed

[2017-08-09 23:57] ereOn commented on #118
I don't think freelan uses `bin_prefix`, no.

[2017-08-09 23:59] #114 closed

[2017-08-10 00:01] ereOn commented on #93
@richman1000000 The two versions should be compatible, but if you have the chance, it's always safer to use the same version on both sides.

[2017-08-10 00:02] ereOn commented on #113
I'd wait for @leggewie for a second confirmation, but I see no reason why we shouldn't merge the two branches.

[2017-08-10 00:04] ereOn commented on #109
If I remember correctly (it's been a while since I done that), I chose an elliptic curve that I deemed common enough to all implementations to mitigate those issues.

With you incoming PR the negotiation should always succeed (or fail with an explicit error).

[2017-08-10 00:05] ereOn commented on #81
Closing this since we agreed on a solution. Feel free to reopen in any case.

[2017-08-10 00:06] ereOn commented on #102
That works for me.

[2017-08-10 00:06] #102 closed

[2017-08-10 00:07] #94 closed

[2017-08-10 00:09] ereOn commented on #89
Let's close this for now. Feel free to reopen if there is relevant news on that topic.

[2017-08-10 00:09] #89 closed

[2017-08-10 00:14] ereOn commented on #76
Fell free to reopen if you still have an issue/questions on this.

[2017-08-10 00:14] #76 closed

[2017-08-10 00:16] ereOn commented on #8
@s-vincent I already tried AppVeyor a while back but didn't come up with a satisfying setup. It was a while back though so things have likely changed for the better on that front.

I'd be obviously more than willing to consider it if you want to give this another go !

[2017-08-10 02:38] leggewie commented on #102
Great!

Just make sure the binaries built by the official project are built without mongoose for all platforms.

[2017-08-10 02:41] leggewie commented on #113
Sebastien is way more skilled than me.  Seeing that he verified compilation on platforms with openssl 1.1.x and 1.0.x, I think this can be merged.

It's his patch that I used to compile on Debian unstable again, after all.

[2017-08-10 03:47] leggewie commented on #136
+-- [ https://wiki.debian.org/ReproducibleBuilds/About ]
|
| With free software, anyone can inspect the source code for malicious flaws. But Debian provide
| binary packages to its users. The idea of “deterministic” or “reproducible” builds is to empower
| anyone to verify that no flaws have been introduced during the build process by reproducing
| byte-for-byte identical binary packages from a gi

[2017-08-10 04:09] leggewie commented on #118
I don't see a way to override whatever default installation path there is in freelan for binaries.  How should I do it?

[2017-08-10 04:13] leggewie commented on #113
I successfully backported 5014a8023b to compile in debian unstable against OpenSSL 1.1.x.  This has already been released to debian unstable.  Today, I tested the backport of 44087faf7338 and I am happy to confirm that compilation in trusty works with that patch.

Thumbs up from me.

[2017-08-10 04:16] s-vincent commented on #109
@ereOn In fact the version of OpenSSL used is not the fault, it is CentOS that disables explicitely EC2M in the openssl.spec (to build RPM package) with no-ec2m flag.

[code]

[2017-08-10 04:23] s-vincent commented on #8
@ereOn I am currently on it :). But I have to push first some changes to build with VS 2017.

Can you can install AppVeyor github app for freelan repository ?

[2017-08-10 04:45] s-vincent commented on #118
In master branch, compile with `make PRODUCT_PREFIX=/usr`.

In the debian/unstable branch, you can modify Makefile and use `scons install prefix=/usr` for install target. By the way PRODUCT_PREFIX stuff has been added in commit d782a42eaeecdce9b4377a7b41dc60b9fecca31c.

[2017-08-10 04:45] s-vincent commented on #88
PR #140 merged.

[2017-08-10 04:45] #88 closed

[2017-08-10 04:46] s-vincent commented on #138
PR #140 merged.

[2017-08-10 04:46] #138 closed

[2017-08-10 08:21] s-vincent commented on #113
PR #133 merged.

[2017-08-10 08:21] #113 closed

[2017-08-10 08:31] s-vincent commented on #8
I have written an appveyor file [here](https://github.com/s-vincent/freelan/blob/appveyor/.appveyor.yml). I have not tested it yet. When the AppVeyor app will be configured I will do a PR to trigger a build and fix the yml if necessary.

[2017-08-10 08:54] s-vincent commented on #93
@richman1000000 To build on Windows it is a little bit tricky! I have done some stuff yesterday about that so be sure to use last revision of the master repository.

First you need to install Visual Studio 2017 with C++ support and Windows 10 SDK 10.0.5063.0 (desktop edition). Normally it is proposed by the online installer of Visual Studio 2017 Community.

You will need Python 2.7, ActivePerl pac

[2017-08-10 09:01] s-vincent commented on #80
@leggewie @ereOn A possibility could be to generate a plain-text with pandoc during the packaging state:
`pandoc -f markdown -t plain --wrap=auto --columns=80 README.md -o README`

[2017-08-10 09:17] s-vincent commented on #77
Github uses the tag name to generate the archive file. It is apparently not possible to use a specific name before the tag version (see https://stackoverflow.com/a/40835009). A possible way (not tested) could be to tag a version with the archive name we want (i.e. freelan-2.1 instead of 2.1).

@leggewie Can you remind me what is the build system issue you mentionned ? Is it related to the fact tha

[2017-08-10 09:23] s-vincent commented on #91
FreeLAN version 1.1 is no longer supported. Please update to a more recent version.

[2017-08-10 09:23] #91 closed

[2017-08-10 09:28] s-vincent commented on #112
@jchevali It is true for Linux and macOS but not for Windows unfortunately.

[2017-08-10 10:01] leggewie commented on #80
While I am generally a fan of plaintext files, I'm afraid that with the original author using rich text there will be a loss of information, more importantly one that the original author may not take into account at the time of writing, resulting in confusing plaintext docs.

In the end, this is really a nitpick.

[2017-08-10 10:28] leggewie commented on #77
Here are the steps to reproduce the error

[code]
At least that's the one I came up with now ;-)

[2017-08-10 10:37] s-vincent commented on #77
The guilty line is `PRODUCT_VERSION:=$(shell git describe)` in the Makefile :(.

However it is no longer used in master repository since we now use a VERSION file.

I believe we can close this issue since it will not appear in future 2.1 release.

[2017-08-10 10:47] s-vincent commented on #80
In a93f3c1baf5544848168cdb3cc639092f0ba8c82 I wraps to 80 columns line so that we have something more "standard".

I close the issue. Feel free to reopen if any.

[2017-08-10 10:47] #80 closed

[2017-08-10 10:53] leggewie commented on #77
Good to know.  Thanks.

Only thing remaining then is to decide on a tag format that will not result in 2.1.tar.gz.  What are other github projects using?  Those that use github to release tarballs.

[2017-08-10 11:18] s-vincent commented on #77
I am affraid that the majority of github projects have releases like v1.x.y (docker-ce, ...). It is the way github works...

I also see that when the archive is uncompress it contains directory which are of the form project-name-archive (i.e. v2.0.tar.gz => myproject-v2.0). So the solution I proposed earlier (to tag with the project name and version) we will have something like freelan-freelan-v2.

[2017-08-10 13:16] parruda commented on #88
Thanks guys!

[2017-08-10 17:02] s-vincent commented on #118
BTW I update the default installation prefix in master, now it /usr/local (see c825a878cdca3497b0de5e02f757ac94950ed547).

[2017-08-11 01:14] ereOn commented on #136
So I should get rid of the time of build in the binary ? I don't mind if that's the case.

[2017-08-11 01:24] ereOn commented on #8
@s-vincent It seems it's setup already. From my previous try perhaps ?

[2017-08-11 05:40] s-vincent commented on #8
Well at least it does not seems to react to PR build. Maybe check the configuration (I have no access by myself), see http://help.appveyor.com/discussions/questions/203-auto-run-tests-on-pull-requests#comment_33212404.

[2017-08-11 06:21] richman1000000 commented on #93
Hi!
I will try to compile it for windows this weekend, but I would prefer to find a way to collect debug data into file so we can perform later analysis .

Cause as I see in log files, this error  and concomitant memory leak #74 , if it will appears,  always caused by same windows machine.

Aug 10 07:54:52 richard freelan[4524]: Error deciphering data message from 10.17.0.125:12000: error:00000000

[2017-08-11 06:26] s-vincent commented on #93
Hi,

You can try to run the command with valgrind --leak-check=full --show-reachable=yes ./the_program --arguments (see http://valgrind.org/docs/manual/mc-manual.html#mc-manual.leaks).

[2017-08-11 08:18] s-vincent commented on #118
@ereOn @leggewie In fact bin_prefix is used (in master repository). I believe prefix is used for configuration file (in / by default so /etc/freelan.cfg)  and bin_prefix in /usr. So if we agree on putting all in /usr/local, I have to modify also BIN_PREFIX in the Makefile.

[2017-08-11 11:56] s-vincent commented on #55
I begin an initial implementation for UPnP support with libminiupnpc. You can follow/test with the [upnp branch](https://github.com/s-vincent/freelan/tree/upnp).

[2017-08-11 14:58] s-vincent commented on #109
I update PR #137 to increases log level to warning and avoid an exception that exit application in case there are no cipher/elliptic curve match between two peers.

[2017-08-12 02:24] ereOn commented on #55
@s-vincent Terrific news ! You seem unstoppable these days ! I like that ;)

[2017-08-12 08:24] leggewie commented on #55
Great news. Thanks, Sebastien.

I especially like the fact that miniupnp is maintained already in Debian. Even if it seems to be using a pretty old upstream version (from 2014).

[2017-08-12 08:40] s-vincent commented on #55
@ereOn Thanks ;).

And here is the PR #144! Feel free to review and test.

[2017-08-12 12:59] leggewie opened #145 "RFE: provide public IP from command line"
As a way to make it easier for first-time users (and even veterans), it would be nice if freelan had a way to provide the public IP from the command line.
[code]
There are [some public APIs](https://stackoverflow.com/questions/3097589/getting-my-public-ip-via-api) and ipify.org might be a good choice (based on their policy and their google rank).  Then again, we might think about hosting this ours

[2017-08-12 13:39] ereOn commented on #145
I really like that idea. This may also be related with #144 in some ways, as I believe UPnP routers have APIs to inform about the external IP as well.

[2017-08-12 13:41] ereOn commented on #8
The "pull request" tickbox is already checked.

Perhaps the webhook URL is wrong ? Can you tell me which webhook URL Appveyor gave you ?

[2017-08-12 13:42] ereOn commented on #118
Yep. Makes sense.

[2017-08-12 13:56] s-vincent commented on #8
I don't know which URL use. Maybe uninstall the appveyor app from repository and reinstall it would be good ?

[2017-08-12 14:00] leggewie commented on #81
let's close this when we have integrated building the manpage into the build process (see my previous comment). OK?

[2017-08-12 14:10] leggewie commented on #96
This bug is marke to block release of 2.1.

@richman1000000 Are you still experiencing this issue? What version are you using?

[2017-08-12 14:22] leggewie commented on #84
@MHamburg Thank you for reporting this issue

unblocking for 2.1 until the issue has been successfully reproduced by a developer.

@ereOn What is the future for the web server support?

[2017-08-12 15:05] leggewie commented on #136
going by https://tests.reproducible-builds.org/debian/rb-pkg/unstable/amd64/freelan.html it seems there might be a few other things.  I haven't tested yet.

[2017-08-12 15:08] leggewie commented on #90
https://github.com/freelan-developers/website/pull/4

[2017-08-12 15:12] s-vincent commented on #145
We cannot rely on what UPnP said because of NAT444 Carrier Grade Nat (CGN) or in short ISP with double NAT. This kind of network are a lot represented in mobile ISP network (I hope to see FreeLAN running in mobile OS like Lineage or Sailfish OS ;).

So the service should be on the public internet. And yes I really agree to have something host in our side or in some open-source organizations (Debia

[2017-08-12 15:19] s-vincent commented on #118
I am closing since I believe it is fixed in upstream as well as the ticket has information on how to override default options.

[2017-08-12 15:19] #118 closed

[2017-08-12 15:28] leggewie commented on #145
On 12.08.2017 23:12, Sebastien Vincent wrote:

I agree.

I am already maintaining a server sponsored for Debian, specifically for
n2n VPN to act as relay for nodes that are both not publicly available.
In the case of n2n, this does not mean the host can see the traffic
inside the VPN.  You do not need to trust an n2n supernode.  This is
different for freelan, unfortunately, c.f.#54.

Indeed. #54

[2017-08-12 15:33] leggewie commented on #145
BTW, resolution #54 would essentially make the need for this request obsolete.

[2017-08-12 15:38] s-vincent commented on #136
@leggewie do you include the timestamp patch you mentionned in this reproducible build ?

For the GNU_BUILD_ID, I found an interresting link: https://blog.beuc.net/posts/Practical_basics_of_reproducible_builds/. In summary as Debian binary is always build with debug (-g option) then stripped, it differs because build ID is computed from non-stripped executable.

[2017-08-12 15:47] leggewie commented on #136
No, I haven't done anything about it, yet.  Except bring it on the radar.  It is a valid goal, but not the most important thing in the world.

[2017-08-12 15:48] s-vincent commented on #145
I found an interresting portable (Windows/Linux/macOS) STUN/TURN/ICE implementation in C: https://github.com/creytiv/re.

[2017-08-12 15:53] s-vincent commented on #145
I will open an issue for ICE implementation so that we keep discussing about this specific RFE here.

[2017-08-12 16:01] s-vincent opened #146 "ICE implementation"
As a P2P application, FreeLAN should work in any network conditions. The multiplication of NAT, CGN/LSN, firewall, ... could be a pain to reach another peer.

VoIP applications use generally [STUN](https://tools.ietf.org/html/rfc5389)/[TURN](https://tools.ietf.org/html/rfc5766)/[ICE](https://tools.ietf.org/html/rfc5245) stack protocol to be able to work in any case (use a relay in last resort).

W

[2017-08-12 16:05] leggewie commented on #146
Great idea!

This would basically solve #54 as well as make obsolete #145

[2017-08-12 16:15] s-vincent commented on #74
@bchavez Any chance for you to test the latest git revision (master branch) and see if memory leak still happens ?

[2017-08-12 16:22] leggewie commented on #80
JFTR, I am using the retext program to read markdown files nowadays.  That actually makes markdown shine and has changed my markdown-allergy to markdown-enthusiasm.  Still looking for a command-line markdown-reader.  And [pandoc might just be ticket for that](https://unix.stackexchange.com/questions/4140/markdown-viewer).

[2017-08-12 18:00] s-vincent opened #147 "Adds unofficial debian packaging files"
As freelan-debian.git repository has been removed (and was a bit outdated), it still be interresting that we propose the possibility to generate debian package in main repository.

I think of users that want to use/test latest git revision of FreeLAN but do not want to compile on every machines and prefer to have debian package to install on them.

Base can be of course debian/unstable branch but

[2017-08-12 18:01] ereOn commented on #8
I relogged and added back permissions. I also removed my previous freelan project.

Can you give it another try ?

[2017-08-12 18:02] ereOn commented on #81
No problem.

[2017-08-12 18:06] ereOn commented on #84
@leggewie Last time I checked, implementing a reasonably compliant web server in C++ was a lot of unpleasant work.

I have been toying around a few techs these days and I might come up with a rather "original" idea. I need more time to assess it's feasability though.

[2017-08-12 18:13] s-vincent commented on #8
I adds a new PR #149 with appveyor.yml file but still does not seems to trigger build :(.

[2017-08-12 18:27] ereOn commented on #8
@s-vincent They apparently don't have organization support... this sucks. I've manually added a project that seems to be able to fetch sources and start a build. It just doesn't work until your branch gets merged.

[2017-08-12 19:39] s-vincent commented on #136
I will commit the patch from Chris Lamb that uses SOURCE_DATE_EPOCH if available (and classic build time if not).

[2017-08-12 19:43] s-vincent commented on #109
PR #137 has been merged.

[2017-08-12 19:43] #109 closed

[2017-08-12 19:49] s-vincent commented on #112
@Anime4000 As a workaround you can maybe install a dedicated TAP adapter just for FreeLAN and configure it via configuration file (option `name` in `fscp` section)

[code]

[2017-08-12 19:51] leggewie commented on #136
Please do, but leave time to confirm that this issue is fixed entirely before closing the ticket.  There were comments that other changes will be needed.

[2017-08-12 20:24] s-vincent commented on #8
After some changes we have arrived to something with appveyor. At the moment first builds are baking for x64-Release (already passed success), x64-Debug, x86-Release and x86-Debug.

[2017-08-12 20:43] s-vincent commented on #77
@ereOn @leggewie So what your opinion for the future ?

Keeping tag name on the form 2.x and having 2.x.tar.gz/zip file (uncompressed as freelan-2.x directory) or having a tag named freelan-2.1and having freelan-2.x.tar.gz/zip (but uncompressed as freelan-freelan-2.x) ?

Personnaly I would rather vote for the first one (keep as it is now).

[2017-08-12 20:45] s-vincent commented on #108
Related to #84.

[2017-08-12 21:17] s-vincent commented on #8
Build success for the four targets :).

[2017-08-12 21:23] #8 closed

[2017-08-13 04:05] leggewie commented on #77
I am sure there has to be a better way.  At the moment, I can't suggest one, though.

[2017-08-13 04:17] leggewie commented on #77
One way, of course, even if not a good one is to specifically release the tarball alongside other binary files ([example](https://github.com/vbajpai/nfql/releases/tag/v0.7.1)). Just putting this out there as an option. Not endorsing this.

[2017-08-13 04:46] s-vincent commented on #36
It is possible to reuse an existing tun/tap interface with a little modifications in asiotap library if we pass an interface name:
 * do not try to create /dev/net/tun or /dev/net/tap in posix_tap_adapter::open() method;
 * do not failed if SIOCSIFTXQLEN ioctl() does not succeed;
 * do not failed if posix_tap_adapter::configure() failed.

And if the following is set on the system:
 * an tun/tap is

[2017-08-13 04:47] s-vincent commented on #55
PR merged.

[2017-08-13 04:47] #55 closed

[2017-08-13 05:04] leggewie commented on #8
Congratulations.

This is new to me, where can I read how this stuff works?

[2017-08-13 05:08] leggewie commented on #147
I'm not a big fan of this.  This will generally lead to a support nightmare.  People who are skilled enough to compile on their own will do so.  People who are not skilled enough will be at a big risk to mess things up or have an already messed-up system to begin with.  This will be a support and troubleshooting nightmare.  We should not condone the idea of getting third-party packages. We should

[2017-08-13 05:10] leggewie commented on #147
When necessary, I have backported individual upstream patches to Debian when they are fixing bugs.  That is a much better idea IMHO.

[2017-08-13 05:24] leggewie commented on #77
Here is [what Debian has to say about making a release from github](https://wiki.debian.org/Creating%20signed%20GitHub%20releases).  Unfortunately, it's inconsistent.  It seems like nobody is too concerned about the ugly and less-than-helpful filenames for the tarballs.  But it seems like that's the way it is.

Closing the ticket. We have no way to get around that github limitation in a reasonable

[2017-08-13 05:24] #77 closed

[2017-08-13 05:30] leggewie commented on #84
I'm OK with dropping that feature in favor of making the core function awesome and especially making the general setup drop-dead easy.  There's work underway and #144 was a good step in that direction, for example.  I hope we can release 2.1 soon.

My vote goes to closing this ticket as out of scope and drop the functionality.

[2017-08-13 06:06] s-vincent commented on #8
For Travis CI (Linux/macOS builds): https://docs.travis-ci.com/user/getting-started
For Appveyor (Windows builds): https://www.appveyor.com/docs/

Both projects are similar, basically you provide a kind of [Ansible](https://docs.chef.io/)/[Chef](https://docs.chef.io/) provisioning files (in .travis.yml and appveyor.yml) and for each push/PR it will trigger a new build.

[2017-08-13 06:12] s-vincent commented on #84
If we take into account that mongoose (library used for the web server feature) is disabled by default and violates GPLv3 (so we cannot ship binary), I am also in favor of dropping it.

But I think for 2.1 we need either a replacement feature for that or some kind of super-node feature (based on ICE protocol for example) or the mysterious "original" idea from ereOn :).

[2017-08-13 06:13] s-vincent commented on #147
It makes senses. I close the issue.

[2017-08-13 06:13] #147 closed

[2017-08-13 06:29] leggewie commented on #84
What is the web server doing that can't be (easily) done otherwise ATM?

[2017-08-13 06:41] s-vincent commented on #8
You can follow the build history for Travis CI here: https://travis-ci.org/freelan-developers/freelan/builds

[2017-08-13 06:53] leggewie commented on #84
I've added a pull request to add an FAQ to the website for a drop-dead easy configuration of freelan.  The only requirement still present would be for at least one of the VPN nodes to have one UDP port exposed to the web.  That's really not much different from the requirement for the web server that also needs one port (TCP) exposed.

https://github.com/freelan-developers/website/pull/5

[2017-08-13 07:52] Anime4000 commented on #112
I'll try...

[2017-08-13 11:35] s-vincent commented on #36
@wrouesnel You can check the [tun branch](https://github.com/s-vincent/freelan/tree/tun) if it fits to your needs.

@ereOn if you agree with the proposed solution, I can do a PR with this branch.

[2017-08-13 11:36] s-vincent commented on #36
@wrouesnel You can check the [tun branch](https://github.com/s-vincent/freelan/tree/tun) if it fits to your needs.

@ereOn if you agree with the proposed solution, I can do a PR with this branch.

[2017-08-13 15:00] s-vincent commented on #48
What is the state of this issue ? Do the commit 77e5ba1 fixed it ?

[2017-08-13 19:15] ereOn commented on #36
@s-vincent Seems sane to me !

[2017-08-13 20:23] ereOn commented on #48
I don't think so. It's been a while since I worked on that. I have no memories on the context sadly.

[2017-08-14 03:05] leggewie opened #150 "webserver still active in latest build?"
I compiled master and then issued a "freelan --help | head -n 28".  I got
[code]

I thought the web server was disabled in the latest builds?

[2017-08-14 03:31] leggewie opened #151 "freelan.cfg is overwhelming"
freelan.cfg is overwhelmingly complex.  I think it should only host the most important configurations to get freelan running quickly. Anything to be considered "tinkering" should be configured in another file.  Any optional configuration should be in another file or moved to the end of freelan.cfg and clearly labeled optional.

The user should find at the top two or three knobs he needs to configu

[2017-08-14 03:38] leggewie opened #152 "slim freelan down"
I'd like to use freelan on routers and other embedded devices. Potential platforms are openwrt, LEDE or freetz.  These devices oftentimes have only a few MB of flash storage.  On Ubuntu, the freelan binary weighs in at 3 MB without libraries.

Questions: What is a reasonable potential goal for a slimmed down version of freelan?  I wouldn't mind if some functionality was unavailable for that binary

[2017-08-14 06:25] s-vincent commented on #150
Yes it is! If you launch it you will have:
 `[WARNING] Web server support is not compiled in this version.`

But I just forgot to conditionnaly remove the help options. I will do it today.

[2017-08-14 06:34] s-vincent commented on #152
First we can try to compile with `-Os` option (optimized for size) and strip down the library. Just by stripping the x86_64 binary it lost 1 MB.

And IIRC ARM/MIPS binaries are a little bit light weight than x86/x86_64 ones.

[2017-08-14 07:12] s-vincent commented on #150
Fixed in 289e5ececeb8e259cd4ae5dc525ac837913d867a.

[2017-08-14 07:12] #150 closed

[2017-08-14 07:57] s-vincent commented on #150
Previous commit comes with a regression. It failed reading classic configuration file... I am on it.

[2017-08-14 08:55] s-vincent commented on #150
Fixed in 09a28364ccd3a6779dd8b4a9a43888ed8738399d.

[2017-08-14 09:18] s-vincent commented on #36
@wrouesnel @ereOn Please see, test and review PR #153.

[2017-08-14 09:42] s-vincent commented on #151
Yes I agree, configuration file could be very discouraging for beginner but with good documentation like a quick start guide it could be easily handled.

Here are the minimum options user has to set to use FreeLAN with X509-based authentication:
 * fscp.contact;
 * tap_adapter.ipv4_address_prefix_length.
 * tap_adapter.ipv6_address_prefix_length.
 * security.signature_certificate_file;
 * security

[2017-08-14 12:06] s-vincent opened #154 "AOSP port"
Android Open Source Project (AOSP) is a popular operating system for mobile. It is the base of Google Android, LineageOS, Replicant, CyanogenMod, ... It will be great to have a port of FreeLAN on this mobile OS.

This issue is to track compilation/usage fixes (if any) of FreeLAN on AOSP and _not_ for an GUI application. However a separate project freelan-aosp can be setup afterwards.

[2017-08-14 12:14] s-vincent opened #155 "Sailfish OS port"
[Sailfish OS](https://sailfishos.org/) is an operating system for mobile and tablets. It is used notably by Jolla smartphone and the Youyota tablet. It will be great to have a port of FreeLAN on this mobile OS.

This issue is to track compilation/usage fixes (if any) of FreeLAN on Sailfish OS and _not_ for an GUI application. However a separate project, freelan-sailfishos, can be setup afterwards.

[2017-08-14 12:16] s-vincent commented on #155
As I have a Sailfish OS based smartphone I take care of this one.

[2017-08-14 12:45] leggewie commented on #151
For the config file that we expect anyone to touch, I think we should focus only on

- PSK
- IPv4
- no salt

IMO, the user should supply a PW and a remote host/IP, nothing else.  As long as ports are opened/can be opened by UPnP, the goal should be for the user to be up and running after no more than 2 minutes.  Alterations and gradual tweaks can come after this initial 'success'.

Anybody who wan

[2017-08-14 13:59] s-vincent commented on #155
On the compilation side, it is OK :).

Note that miniupnpc library package is not available on Sailfish at the moment. So we may have to compile it by hand.

For the record, here are my notes for the setup/compilation.

[code]

[2017-08-14 19:39] s-vincent commented on #155
First test in PWK mode and it's working :).

[2017-08-14 20:45] s-vincent commented on #155
It is also simple to make a freelan RPM package for Sailfish OS:

[code]
Please note that the spec file is a bit different than the CentOS ones (`packaging/rpm/freelan.spec`) because some dependency packages have the same name.

As a side note [OpenRepos](https://openrepos.net/) is the community repository for Sailfish OS. It can be interresting to propose the freelan command-line package (like [O

[2017-08-15 05:13] s-vincent opened #156 "Systemd unit file for GNU/Linux"
Recent GNU/Linux distributions use systemd and although init.d scripts are still supported it should be better to have systemd unit file.

We should inspire of what OpenVPN do: https://github.com/OpenVPN/openvpn/tree/master/distro/systemd.

[2017-08-15 08:38] s-vincent commented on #155
RPM packaging for Sailfish OS added in f5b67c23b057430a13952fb03f83f4127b74638e.

[2017-08-15 08:38] #155 closed

[2017-08-15 08:40] s-vincent commented on #156
Added a systemd unit file for RPM packaging in 9775b1e5526e42a617594b0a6f840ead8ba1916a.

[2017-08-15 08:40] #156 closed

[2017-08-15 12:10] s-vincent commented on #81
@leggewie @ereOn Please see, test and review PR #157.

[2017-08-16 16:32] s-vincent commented on #36
PR #153 has been merged.

[2017-08-16 16:32] #36 closed

[2017-08-16 16:34] s-vincent commented on #81
PR #157 has been merged. I close the issue.

Feel free to reopen if you have problems.

[2017-08-16 16:34] #81 closed

[2017-08-17 10:17] richman1000000 commented on #96
Hi!
I do not use this model of connection for now, but I will check it again this week.
Also you can reproduce it yourself easily.

[2017-08-17 13:07] leggewie commented on #74
clearing 2.1 milestone until this can be successfully reproduced

[2017-08-17 17:18] bchavez commented on #74
Hi @s-vincent , sorry for the late reply. I'll be happy to test this if there are some windows binaries available. IIRC, it was painful last time I built `freelan` from source to produce its associated binaries. It's been a while and I don't remember all the intricacies.

[2017-08-18 07:18] s-vincent commented on #74
I have not binaries right now. Please see one of my comment of issue #93, I added step-by-step instructions for Windows some days ago. Only addition is to install cmake package.

[2017-08-18 20:03] s-vincent commented on #46
@ereOn Any news on that ?

If I understand correctly, if DHCP proxy is enabled, we should just answer to all ARP request "the ethernet address corresponding to IP you ask is my ethernet address" ? Right ?

[2017-08-24 03:58] richman1000000 commented on #93
Hi!
I've tried to compile it in windows but after successfully compiling, adding any certificate to file freelan exits with error
![image](https://user-images.githubusercontent.com/9943374/29648897-a6002ba0-88b2-11e7-9a6d-7192def6215c.png)

[2017-08-24 04:00] richman1000000 commented on #93
trying to compile openssl1.1.0 branch (see #113). ends up with error
![image](https://user-images.githubusercontent.com/9943374/29648958-02f56640-88b3-11e7-8336-caae5005dd01.png)

[2017-08-24 04:22] s-vincent commented on #93
@richman1000000 According to https://www.openssl.org/docs/faq.html, try to add the following in apps/freelan/src/main.cpp somewhere before namespace fs:

#ifdef MSV
#include <openssl/applink.c>
#endif

[2017-08-29 04:49] richman1000000 opened #158 "freelan need additional connection status check"
Hi!
currently freelan have a problem with unstable connection.
If connection between 2 computers is broken freelan does not tries to establish new one.
The fallen out computer can be offline in freelan network for days.

see in the video the way to reproduce it
https://yadi.sk/d/U3Z7QK7Aing6D/2017-08-29_10-37-14.mp4

PS.
I use latest compiled version from  https://github.com/freelan-developers/fre

[2017-08-29 04:59] richman1000000 commented on #158
In addition if I will restart client on other client this errors occur.

on this error system must try to check current session and if it is not working - drop and create new one
Ignoring PRESENTATION from 10.17.0.103:12000 as an active session currently exists with this host.

system must send new session request instead of ignoring
Received a data message from 10.17.0.254:12000 but no session ex

[2017-08-29 06:19] leggewie commented on #96
Did you have a chance to check this, @richman1000000?

[2017-08-29 06:28] leggewie commented on #77
JFTR, apparently github does "rename" the 2.0.tar.gz to freelan-2.0.tar.gz when downloading in the browser (I assume there is some JavaScript hack going on). Good for the browser, but it doesn't work for tools like wget.  Ugly is all I can say, but it's really a github issue they need to consider.

[2017-08-29 06:29] richman1000000 commented on #96
Hi!
Yes, I've checked it.

In new version, compiled from master branch it worked perfectly. I think we can close this issue.

[2017-08-29 07:08] leggewie commented on #96
Awesome!  Thank you.

Closing.

[2017-08-29 07:08] #96 closed

[2017-08-29 07:10] leggewie commented on #93
@richman1000000 Any progress here?

[2017-08-29 07:19] leggewie commented on #158
I tried, but was unable to reproduce this issue in the following way.  I have two computers with a PSK-VPN.  I verify I can ping to and from both computers.  I keep ping running from computer 1 to computer 2 and disconnect the wifi on computer 1.  After about 5 seconds, I reconnect the wifi and after the net connection is established, freelan delivers the pings across the VPN again successfully.

[2017-08-29 08:15] richman1000000 commented on #93
In my test this error always  happens only during memory leak. #74
I think you can close this issue, it is just consequence of root cause described in #74

[2017-08-29 08:21] leggewie commented on #93
OK, thank you for reporting back.  Please don't hesitate to report any further issues you may find.

[2017-08-29 08:21] #93 closed

[2017-08-29 08:58] richman1000000 commented on #158
here few configuration points  that can be in effect
- linux server is in relay_mode=yes
- linux relay server  **does not contact anybody**, always contacted by all clients

[2017-08-31 05:17] richman1000000 commented on #74
as I mentioned in comment   https://github.com/freelan-developers/freelan/issues/93#issuecomment-321739161 I think memory leak always caused by same windows machine.

To configure freelan I use sometimes WinSCP and was surprised by some troubles I've encountered long ago. There is an invisible symbol at the end of the line or something like that.
Presence of this symbol at the end of the line **ip

[2017-08-31 05:49] leggewie commented on #74
What @richman1000000 is describing sounds like an incompatibility in CRLF to denote end-of-line for the config file in Windows. @ereOn and @s-vincent Can freelan or one of the libraries be thrown off the rails with an improper line-ending?  @bchavez Do you write your config files in Windows or Ubuntu? Can you check the format of the line-ending (file will do that on Unix).

https://stackoverflow.c

[2017-08-31 16:53] s-vincent commented on #74
@leggewie, for Windows the ipv4/6_address_prefix_length parameter goes to a netsh.exe command. On Linux it goes to netlink socket.

[2017-09-03 13:35] bhzhu203 opened #159 "How to fix " Invalid route metric" error?"
## Node A

[code]

Output:

## Node B

[code]

Node A starts first , then node B connects to A. Finally node A and B both exit with an "Invalid route metric"error.

FreeLAN version: `freelan 2.1.0 (2.1) Thu 31 Aug 2017   CentOS6`

[2017-09-03 13:37] bhzhu203 commented on #159
Removing  "tap_adapter.metric" and using default that  also no use.

[2017-09-06 17:54] ThibaultLemaire commented on #35
I believe [Tox](https://github.com/irungentoo/toxcore) uses a similar bootstrapping technique to connect its users.

[2017-09-09 09:35] leggewie opened #160 "Public test server"
I would like to provide and host a public test endpoint as detailed in the [FAQ](http://www.freelan.org/faq.html#).  Yet, I don't want to get in trouble relaying any kind of problematic content.  I would also like to isolate the testing setup from the rest of the host as much as possible.

How can I lock down a freelan VPN to have no more than 2 members? I was thinking to use a /30 netmask that on

[2017-09-15 09:06] s-vincent commented on #160
What you can do is:
- Do not allow IPv4/IPv6 forwarding for the VPN interface (see /proc/sys/net/ipv<4|6>/conf/<interface>/forwarding) so that the peer cannot go out on the internet from your host;
- You can also add a deny FORWARDING iptables/ip6tables rule for your interface;
- Have specific IPv4 network(s) that is allowed (INPUT/OUTPUT) for the VPN interface and deny other (via iptables rules);

[2017-09-15 09:47] s-vincent commented on #159
After looking a bit in the code, the metric is not taken into account on Unix OS and is always 0. Maybe older kernels (such as CentOS ones which is IIRC from a 2.6 series) do not like that.

It does not seems to hurt recent Debian distributions and CentOS 7 though.

[2017-09-20 03:09] richman1000000 commented on #158
I seems like problem is located on "server" side.
Which is receiving contacts but not contact anybody.

[2017-09-29 11:24] ereOn commented on #46
@s-vincent I'm not sure.

What you describes seems more like enabling the ARP proxy, for which the configuration states:

If I recall correctly, the DHCP proxy sends back its requests from the network address (so if we are in `192.168.4.0/24`, it will use `192.168.4.0` to reply - as weird as it might seem). Since this should not be a valid IP address for that range I think I never bothered to repl

[2017-09-29 11:30] ereOn commented on #159
@s-vincent If the metric is ignored, it's probably because at the time I implemented the mechanism I didn't see how to honor that parameter with the existing APIs.

There is no valid reason as to why it should remain that way if newer kernels do support it. Perhaps my assertion was wrong from the beginning (but it's been too long for me to remember the context).

[2017-10-25 10:17] srinat999 opened #162 "Client Server mode with Windows and Linux"
Hello,

Disclaimer: This could possibly be a duplicate of issue: 159

I'm trying to setup a L2 VPN using FreeLAN. The linux machine runs on Amazon EC2 with Ubuntu 16.04 and the Windows machine is my local laptop which is inside a NAT. In my Linux machine, I get the error on starting the freelan process from windows:
[code]
In the Windows machine, I get this message repeatedly:
[code]
I tried using

[2017-10-31 21:30] xnox opened #163 "Fails to build from source with boost1.65"
[code]

Full build log at https://launchpadlibrarian.net/343166191/buildlog_ubuntu-bionic-amd64.freelan_2.0-5ubuntu3_BUILDING.txt.gz

building on ubuntu/debian with:
[code]

[2017-11-05 16:15] s-vincent commented on #162
If your laptop can contact the linux machine over the internet no problem. The laptop does UDP punchhole so as long as it initiate the connection all will be good (contact=ip-or-fqdn-of-linux-machine).

What version of freelan do you use ? 2.0 or from git master repository ? I don't remember having "invalid route metric" in Ubuntu 16.04 with master git code.

For the web server stuff, it is used w

[2017-11-05 17:11] s-vincent commented on #163
It seems related to this boost issue (version 1.63+): https://svn.boost.org/trac10/ticket/12788.

According to this ticket, using BOOST_NO_CXX11_UNIFIED_INITIALIZATION_SYNTAX can get back old behavior and such compile again.

Note that it does not impact Windows build (using boost 1.64).

[2017-11-05 17:19] s-vincent commented on #112
@Anime4000 Any news on that ?

[2017-11-06 16:10] xnox commented on #163
Hm, can you add that define as part of build system configure to build freelan with that define on?

[2017-11-07 06:21] richman1000000 commented on #74
hello!
Do you think freelan is affected by this parameter?
/sys/kernel/mm/transparent_hugepage/enabled

[2017-11-08 12:11] Anime4000 commented on #112
can not use DHCP server 😢
freelan leave settings manual ip

[2017-11-27 02:50] leggewie opened #164 "FTBFS with glibc 2.25"
freelan FTBFS against glibc 2.25.  This will result in it being dropped from Debian testing eventually.

https://bugs.debian.org/882733
https://tests.reproducible-builds.org/debian/rb-pkg/unstable/amd64/freelan.html

[2017-11-27 08:07] s-vincent commented on #164
It is already fixed in master / 2.1 tag.

See #128.

[2017-11-27 09:14] s-vincent commented on #163
I will install latest Ubuntu Bionic Beaver daily build in a VM and I will test the define stuff and try if we can find an alternative.

[2017-11-27 17:36] s-vincent commented on #163
I setup a clean "daily build" Ubuntu Bionic Beaver then installed gcc, g++, libssl-dev,  libcurl4-openssl-dev, libboost-all-dev, libminiupnpc-dev, scons and git.

I then checkouted freelan "master" branch source and did a rebuild. Everything finished without errors.

It may be either "old" 2.0 sources or something has changed in boost 1.65 libraries packaged in Ubuntu.

Can you try to rebuild the

[2017-11-27 19:05] s-vincent commented on #164
@leggewie Feel free to backport the patch in the Debian 2.0 version.

On a side note I presume we can go for a 2.1 official release (@ereOn  ?).

[2017-11-28 11:01] xnox commented on #163
This was fixed in:

[code]

You say "old", yet https://github.com/freelan-developers/freelan/releases lists 2.0 as the "latest release" and any of the newer tags are not marked as the latest stable.....

[2017-12-01 04:00] ereOn commented on #164
@s-vincent I suppose we can yes. I still couldn't test on Windows (no progress). Does it work for you ?

[2018-01-22 05:54] vetash opened #165 "Client server example"
Hello!
i have three nodes with freelan and trying to set them to the one broadcast domain.

First node is server accesible from host A and B. A and B is behind NAT
Server:
`freelan --security.passphrase "my secret" --tap_adapter.ipv4_address_prefix_length 9.0.0.1/24 --server.enabled=yes --server.listen_on=0.0.0.0:443`
Node A:
`freelan --security.passphrase "my secret" --fscp.contact 192.168.20.120

[2018-02-08 20:25] msavitskiy opened #166 "Installation failed on mac os high sierra"

[2018-02-09 12:53] richman1000000 commented on #165
Hello!
You can do this using  certificate based vpn
on client A in file /etc/freelan/freelan.cfg
**dynamic_contact_file=B.cer
never_contact=9.0.0.2**
on client B in file /etc/freelan/freelan.cfg
**dynamic_contact_file=A.cer
never_contact=9.0.0.3**
on server in file  /etc/freelan/freelan.cfg
**never_contact=9.0.0.1**

[2018-02-09 16:36] s-vincent commented on #166
No detailed description, it will be hard to help...

Closed as invalid.

[2018-02-09 16:36] #166 closed

[2018-02-14 00:47] bernardoaraujor commented on #90
http://oss.leggewie.org/freelan/ is down :(

[2018-02-19 13:56] jmaris opened #167 "[Question]"
Hi,

I have a question regarding Freelan's authentication,  please forgive my ignorance.
Imagine, as part of an attack, that a user is tricked into attempting to connect to the wrong IP, Is the password the user sends readable to the instance he is trying to connect to or does it use some form of key exchange to prevent this ?

Thanks in advance !

[2018-02-21 12:17] jmaris opened #168 "won't compile on archlinux"
Hello,

Attempts to compile freelan on arch using the given method only produce the config file and do not compile the binary.

Thanks

[2018-02-21 18:08] s-vincent commented on #168
Hi,

Try using just `make` or `scons apps`

[2018-02-21 18:50] jmaris commented on #168
i tried both of the above, they return errors relating to operand types

[code]

[2018-02-21 19:06] jmaris commented on #168
i believe the issues persist

[2018-02-21 19:07] jmaris commented on #168
[code]

am i missing some dependencies ?

[2018-02-21 19:17] s-vincent commented on #168
Yes there is libminiupnpc.

Either install the dependency or adds `--upnp=no` to scons apps.

[2018-02-21 19:43] jmaris commented on #168
playing whak-a-mole, sorry about this, i now get a new error :+1:
` error: ‘m_session_strand’ was not declared in this scope`, this error is repeated for a multitude of files
https://pastebin.com/p5nGEEjs (full log)

[2018-02-21 20:17] s-vincent commented on #168
It seems like you are using boost 1.66 which includes a breaking changes in boost::asio.
See https://www.github.com/ros-industrial/ros_canopen/pull/269

According to that stuff, fix will be to declare boost::asio::io_context::strand if BOOST_ASIO_VERSION >= 101200 and let boost::asio::strand otherwise (https://github.com/ros-industrial/ros_canopen/pull/269/commits/68d9e5326a3db2df27aaceb68279082d1

[2018-03-19 22:01] jathanasiou commented on #168
Any update on this issue? Arch package is still broken.

[2018-03-30 01:55] leggewie commented on #90
@bernardoaraujor Sorry about that. The website is back up.

[2018-04-10 04:55] richman1000000 commented on #167
using pre-shared key is not advise
but in freelan.cfg there is comment, I think it fits you question.
![image](https://user-images.githubusercontent.com/9943374/38536920-8a5e59c6-3cad-11e8-9b6e-708de82e0b4a.png)

[2018-04-14 06:24] s-vincent commented on #162
No response from my previous questions for months.

I close this issue as cannot reproduce.

[2018-04-14 06:24] #162 closed

[2018-04-14 06:26] s-vincent commented on #164
@leggewie The freelan 2.1 tag is out.

[2018-04-14 06:26] #164 closed

[2018-04-14 06:27] s-vincent commented on #136
@leggewie When Freelan 2.1 debian package will be out, it will be interresting if it still raises errors/warnings in reproducible build.

[2018-04-14 06:44] s-vincent commented on #165
@vetash I think you should set the following --switch.relay_mode_enabled=yes on the server node to enable relaying frames from client nodes to others.

[2018-04-14 06:45] s-vincent commented on #163
Freelan tag 2.1 is out.

Closing as it works with this release for that specific issue.

[2018-04-14 06:45] #163 closed

[2018-04-15 06:07] s-vincent commented on #168
In 573a2d38feafec1256ab97b712e963278e4b3fb0 I try to address the Boost 1.66+ compatibility issue (boost::asio::strand ->  boost::asio::io_context::strand).

Unfortunately I have no Arch or other Linux VM with Boost 1.66+ at the moment to test it.

Can you give it a try with this git revision ?

[2018-04-15 10:41] wesx commented on #168
I tested the compilation on an Arch with Boost 1.66 and there are some more issues with it:

[code]

which is via multiple hops required by:

[code]
Here is the full build log:
[build.log](https://github.com/freelan-developers/freelan/files/1912194/build.log)

[2018-04-15 10:49] s-vincent commented on #168
@wesx Unfortunately the attached build.log does not contains the compilation errors only stdout from scons.

[2018-04-15 10:51] wesx commented on #168
@s-vincent i just noticed and was working on it here is the output
[build.log](https://github.com/freelan-developers/freelan/files/1912215/build.log)

[2018-04-15 16:51] s-vincent commented on #168
@wesx I believe I address the two issues reported. Can you please test the latest revision (89627112f66979b5918f7c4d8b7dd63d0e2e83cc).

[2018-04-15 17:01] wesx commented on #168
@s-vincent  sorry to say that, but there are more errors.
[build.log](https://github.com/freelan-developers/freelan/files/1913088/build.log)

[2018-04-19 13:12] PalmaNicola opened #169 "Packet filtering"
Hello!
I would like to customize freelan to allow communication only to/from specific addresses and ports.
I made a few attempts with filters objects in core.cpp (like m_tcpv4_filter), but it doesn't seem right, ports have different numbers and frames passing by seem to be only from outbound calls.

![image](https://user-images.githubusercontent.com/22478840/38993460-ff46ec70-43e3-11e8-92b6-6b3735

[2018-04-21 15:42] leggewie commented on #165
@vetash Did this fix the problem for you?

[2018-04-24 08:48] richman1000000 commented on #165
I will test this again

[2018-04-25 05:43] richman1000000 commented on #169
"to/from specific addresses"
I don't think this is good idea to implement this into application itself.
All firewalls do ip:port filtering. Use firewall.

[2018-04-25 08:00] richman1000000 commented on #158
In this version  freelan 2.1-1 works as expected

[2018-04-25 18:13] s-vincent commented on #169
I agree with richman1000000, it is will be much better and more efficient to do the filtering in iptables / ip6tables directly.

[2018-04-27 06:05] richman1000000 opened #170 "return of freelan server"
Can you make freelan-server working with new freelan2.0?

in Freelan 1.1 there was a freelan-server which as I remember allowed to:
- centralized  access  control to entire Freelan vpn by username and password (**for security concerns**).
- assign IP address to clients by username. You do not have to write ip addresses in config file (replaces ipv4_address_prefix_length). Increases usability,  all

[2018-04-28 03:14] richman1000000 commented on #170
do you mean  I can user **authentication_script=** in server mode to do this?
I've made one script for it before, but can I send ip address  to client machines?
Also I want to send list of dynamic contact. This will allow in future to speed up client connection with specific site, site which they assign to.
[freelan_auth.txt](https://github.com/freelan-developers/freelan/files/1957246/freelan_auth

[2018-04-28 07:33] s-vincent commented on #168
OK I take some time to setup an ArchLinux VM. Revision f57b03d0f6503dffcdf8dbab3229876dfdad58cb should compile on it.

[2018-05-01 18:32] s-vincent commented on #74
@bchavez @richman1000000 Do you still experiment memory leak in latest 2.1 / master branch ?

[2018-05-01 18:37] s-vincent commented on #160
@leggewie How can we progress on that issue ?

[2018-05-01 18:42] s-vincent commented on #84
@ereOn

Any news on that  "original idea" ?

[2018-05-02 06:30] bchavez commented on #74
TBH, I haven't had time to compile and test 2.1. :( I might revisit this next time I plan an upgrade. For now, I haven't moved off 2.0 stable (albeit with degraded performance compared to 1.0). I'm currently in a situration where I "can't/don't touch it" right now.

[2018-05-02 07:31] s-vincent commented on #170
After a quick look at the code, I don't think it can be done within FreeLAN. @ereOn Am I right ?

But I believe it can be doable with the following:
* Use TAP adapter (instead of TUN) on server and clients;
* Have a DHCP service on server side that listened on the VPN interface;
* Configure TAP adapter on the clients to use DHCP.

[2018-05-05 11:32] richman1000000 commented on #158
Debian 9.4 x64

in file /etc/default/freelan
set **DAEMON_OPTS="-ddd "**

to separate freelan log into separated log file
in file /etc/rsyslog.d/freelan.conf
[code]
now you can monitor content of file /var/log/freelan.log

[2018-05-10 06:33] leggewie commented on #160
That was really my question coming here ;-)

[2018-05-10 06:56] #168 closed

[2018-06-19 13:16] gvsurenderreddy opened #171 "Freeman distro"
Hello sir
i need freelan debian file for i386 .Kindly give me please

[2018-06-20 02:54] richman1000000 commented on #171
Hi!
Freelan already in Debian repos
apt-get install freelan

[2018-06-24 09:52] chaserhkj commented on #111
Hi there,

I know it might be not that appropriate to comment on such an old issue but my question is strongly related with this.

I was trying to implement hybrid freelan network with a central server with public ip address and some clients behind some NATs. I hope the network could use udp hole punching to establish direct connections between peers when possible, and drop back to relaying throug

[2018-06-24 12:24] chaserhkj opened #172 "Question about the freelan server feature"
Hi there,

I was trying to configure freelan on my server to provide me and my friends some Hamachi-like VPN service which could use direct connection if possible and use relays if not. However, the documentation seems to be a bit chaotic and scattered. I've read changelogs, some issues, example configurations, github wikis, but still could not found a full description of how the (HTTPS) freelan s

[2018-06-25 06:34] richman1000000 commented on #111
Hi! I have the same configuration.
you need to use  dynamic_contact

[2018-06-26 10:12] richman1000000 commented on #172
freelan working in peer-to-peer mode. Server is only issuing certificates to clients of network and not participating in it itself.

[2018-06-28 14:39] chaserhkj commented on #172
@richman1000000 Thanks for the reply! I know that the freelan server may not participate in VPN traffic, but my focus is whether it helps clients to find each other, like the tracker server in a bittorrent network?

[2018-07-05 16:25] unix-usr opened #173 "Does not compile on FreeBSD 11.X"
Attempted to build on FreeBSD - required repeated changes to os.hpp - line 86/87 with errors about attempting to re-define #BSD as it is already defined in params.h.

Once I was passed that it's getting hung up linking iconv plus - have installed the library and have tried make-ing with CFLAGS set appropriately, will keep attempting and update this issue if I am able to succeed.

[2018-07-05 18:58] s-vincent commented on #173
@unix-usr do you use gcc or clang to compile ?

[2018-07-05 18:58] #171 closed

[2018-07-05 19:00] s-vincent commented on #169
I close the issue since firewall setup should be the way to go.

[2018-07-05 19:00] #169 closed

[2018-07-05 19:01] s-vincent commented on #165
@vetash have you got time to check this ?

[2018-07-06 02:01] unix-usr commented on #173
Trying with clang first - tried make and gnu make, will try with gcc and see/report back. Ideally I'd like to help contribute and get this into the FreeBSD ports collection.

[2018-07-08 09:39] ljgdasfhk opened #174 "compilaion error (archlinux gcc 8.1)"
[code]

[2018-07-08 18:35] s-vincent commented on #174
It should be fixed with revision 4dce8295fbb7d29e2a5efbb3693004012d729b2e.

[2018-07-08 19:32] s-vincent commented on #173
I have fixed the redefine BSD stuff in revision b4b4c6d6ff6b0c4a0de65eae2be1a6f401757833.

Compilation succeeded on a fresh FreeBSD 11.2 install with the following commands:
pkg install git miniupnpc scons boost-all curl
git clone https://github.com/freelan-developers/freelan.git
cd freelan
make

@unix-usr Can you please test again with this configuration and the latest revision ?

[2018-07-09 19:42] s-vincent commented on #159
I made some investigation and it appears we don't handle RTA_MЕTRICS correctly. Waiting for that, I disable exception throwing.

@bhzhu203 Can you give a try to latest revision (1cf517bfc104c97a1eeb5a0f94becd0b8999ceaa) ?

[2018-07-09 20:07] s-vincent commented on #174
@ljgdasfhk Can you give a try to latest revision ?

[2018-07-10 05:10] unix-usr commented on #173
I tried the above - working fine now :) - FreeBSD 11.2-RELEASE / amd64 / clang for the record... now I've just got to figure out how to use it and see if I can somehow cross-compile a package for debian/arm to install on Ubiquiti ER-X units.

[2018-07-10 05:10] #173 closed

[2018-07-10 05:54] richman1000000 commented on #172
I don't remember exactly, but I think it is helps client to find each other.

[2018-07-10 12:49] ljgdasfhk commented on #174
build ok

[2018-07-10 12:55] ljgdasfhk commented on #174
how to connect two computers, one of which has address global ipv6, and the other ipv4 in private network (NAT)

[2018-07-10 16:08] s-vincent commented on #174
@ljgdasfhk Not possible with only two computers. You should have an additional freelan node with both IPv4 and IPv6 addresses as well as relay_mode_enabled=yes in its configuration. Both of your nodes should have its IPv4 or IPv6 address in the contact parameter.

Alternative way would be to use some kind of IPv6/IPv4 transition mechanisms (https://en.wikipedia.org/wiki/IPv6_transition_mechanism)

[2018-07-10 16:08] #174 closed

[2018-07-10 16:49] s-vincent commented on #111
@chaserhkj

What you say here it typically what does ICE (https://tools.ietf.org/html/rfc5245). It is not yet implemented in FreeLAN, see issue #146.

[2018-07-10 19:55] s-vincent commented on #46
Effectively on Windows, it need a valid network gateway to be considered as an "identified network" but in case of FreeLAN we just connect to a network (i.e. 9.0.0.0/24) and no gateway is specified. We just want to connect with other peers. It is is possible to specify a gateway either manually (with route command) or via configuration.

For the last one, if one peer (9.0.0.1) wants to acts as a g

[2018-07-11 15:58] s-vincent commented on #172
@chaserhkj Quickly seen the code, it is more or less what you said. Peers can request specific contacts from server or all of them.

But one important things is currently HTTPS server is not built by default due to licensing issue with libmongoose (as it violates GPL).

On a side note Freelan supports also UPnP to open port on router. And ticket to implement ICE feature is already there.

[2018-07-11 17:49] s-vincent commented on #158
I tried the following cases with physical machine Linux and a VM Windows:
1)
- Launch two peers A and B;
- A contacts no one;
- B contacts A;
- A is shutdown manually and restarted;
- A receives some message "Received a data message from 192.168.XXX.XXX:12000 but no session exists. Ignoring."
- After 30 seconds, previous B session with A timeout ;
- As B is designed to contact A, after some time i

[2018-07-13 03:33] richman1000000 commented on #158
ya, in newer version connection drops after 30 seconds.
since this resolves the issue I think you can make this as enchantment cause  30 seconds downtime is not good for router.

[2018-07-13 16:49] #158 closed

[2018-07-26 22:31] Bertsz commented on #159
https://github.com/freelan-developers/freelan/commit/1cf517bfc104c97a1eeb5a0f94becd0b8999ceaa
I was trying to run a server without a tun/tap device as a relay on debian and this seemed to fix the crash for me. Thanks a bunch!

[2018-07-27 16:39] s-vincent commented on #172
I believe question has been asked.

Feel free to reopen if it isn't.

[2018-07-27 16:39] #172 closed

[2018-07-27 16:40] s-vincent commented on #165
Three month witout news, I close.

Feel free to reopen if any.

[2018-07-27 16:40] #165 closed

[2018-07-27 16:43] s-vincent commented on #136
@leggewie : Freelan 2.1 has been tagged. Is it possible to push it to Debian and see if it still raises issues ?

[2018-07-27 16:46] s-vincent commented on #159
I believe this bug is fixed.

About 1cf517b, metrics value on Linux is not used anyway so no worry, it will not break anything.

Feel free to reopen if any.

[2018-07-27 16:46] #159 closed

[2018-08-01 22:06] leggewie commented on #170
The way I remember it was that libmongoose is licensed in a way that makes it incompatible with the freelan license.  IIRC, the result was that you can't distribute binaries compiled against both source bases.  But there should not be anything preventing you from enabling the web server and compiling for your own use.  Obviously, the web server won't be well tested these days.  That's my memory.

[2018-08-04 00:12] leggewie commented on #74
I will close this issue as fixed, then.  Please ping us to reopen if you experience this again.  Thank you for bringing this to our attention.

[2018-08-04 00:12] #74 closed

[2018-08-15 17:47] s-vincent commented on #46
No answer for 1 month and I don't see any problems, I close the issue.

Feel free to reopen if any.

[2018-08-15 17:47] #46 closed

[2018-08-28 17:38] s-vincent opened #175 "[RFE] Vcpkg to build/use Windows dependencies"
FreeLAN has some dependencies (Boost, OpenSSL, CuRL, MiniUPNPC). On GNU/Linux and macOS systems, we use their package managers (apt-get/yum and brew) to install these ones. On Windows, we rely on teapot which is a Python2 executable and we update ourself the dependencies version, compiler flags in a .party file. That is a bit difficult for maintenance IMHO because it a library has a vulnerabilitie

[2018-08-28 19:26] ereOn commented on #175
Seems good to me.We are currently relying on custom tools for this but those are hardly maintained. Le 28 août 2018 13 h 38, Sebastien Vincent <notifications@github.com> a écrit :FreeLAN has some dependencies (Boost, OpenSSL, CuRL, MiniUPNPC). On GNU/Linux and macOS systems, we use their package managers (apt-get/yum and brew) to install these ones. On Windows, we rely on teapot which is a Python2

[2018-09-02 18:03] s-vincent commented on #175
I pushed [vcpkg branch](https://github.com/freelan-developers/freelan/tree/vcpkg) to track changes.

Feel free to test it!

[2018-09-03 18:46] s-vincent commented on #175
In this branch, I enabled UPnP by default for Windows. Appveyor builds also run fine for the matrix x64/x86/Release/Debug.

[2018-09-12 12:25] buzo-ffm opened #176 "scons install broken"
I packaged freelan for Arch Linux ([here](https://aur.archlinux.org/packages/freelan-git/)), but had problems with the packaging step: The binary was not installed in */usr/bin*. Adding [this patch](https://aur.archlinux.org/cgit/aur.git/tree/fix-build.diff?h=freelan-git) fixed it.

The patch also fixes the installation directory for the man page: */usr/share/man* instead of */usr/man*.

[2018-09-12 13:04] buzo-ffm opened #177 "scons samples broken"
I packaged freelan for Arch Linux ([here](https://aur.archlinux.org/packages/freelan-git/)), but building the samples fails with multiple errors, for example:
[code]

[2018-09-14 17:34] s-vincent commented on #176
Patch integrated in master branch (76dc44689192603b37ae8edad682c13d1d3e0e17).

[2018-09-14 17:37] s-vincent commented on #175
See PR #178.

[2018-09-14 19:53] buzo-ffm commented on #176
Thanks!

[2018-09-14 19:53] #176 closed

[2018-09-14 19:56] buzo-ffm commented on #177
Still does not work:
[code]

[2018-09-15 04:41] s-vincent commented on #177
Effectively. Missing pthread link for proxy sample.

Git revision 2c5ccc781c9f6cd2aa84f0a5beb355cf6d2aad9f should be OK now.

[2018-09-15 09:12] buzo-ffm commented on #177
Do you speak German, too? Es funktioniert leider immer noch nicht. / Unfortunately it still does not work.
[code]

[2018-09-15 17:59] s-vincent commented on #177
What is your gcc and boost version?

[2018-09-15 19:32] buzo-ffm commented on #177
I'm using the standard Arch Linux packages: [gcc 8.2.1](https://www.archlinux.org/packages/core/x86_64/gcc/) and [Boost 1.67.0](https://www.archlinux.org/packages/extra/x86_64/boost/).

[2018-09-17 17:31] s-vincent commented on #177
OK last revision should be good (tried on Debian stretch with boost-*1.67).

[2018-09-17 18:43] buzo-ffm commented on #177
Yes, it is – thanks.

[2018-09-17 18:43] #177 closed

[2018-09-18 13:56] GalaxJann opened #179 "Freelan for Android"
Hello Freelan Team, i have a question.

can you make an Android App for your Software? Because i will connect to my home Devices through my Android Device when i'm not at home.

Regards.

PS: Sorry for bad English.

[2018-09-18 17:26] #179 closed, assigned to nobody

[2018-09-21 05:56] bchavez commented on #8
Does anyone have the **AppVeyor** build artifact link? Starting to get an itch to attempt to upgrade **Freelan** from `1.1` to `2.1`. Thanks!

[2018-09-22 18:10] s-vincent commented on #8
Here it is https://ci.appveyor.com/project/ereOn/azmq/history.

By the way, as you want to build on Windows, let's try the vcpkg branch (also automated build via appveyor).

[2018-09-25 12:21] AzimusTG opened #180 "Freelan - no start line"
Hi,

I installed freelan and went through the certificate creation and file configuration according to the documentation at https://www.freelan.org/download.html#windows. However, the service did not start and after cmd command:

cmd outputs error:
[ERROR] in security.signature_certificate_file: unable to load certificate at "C:\Freelan_Cert\crt\mycert.crt" (error:0906D06C:PEM routines:PEM_read_bi

[2018-09-25 12:59] #180 closed

[2018-10-15 18:43] s-vincent commented on #175
PR #181 is pending to be merged in this PR.

After that, I believe it will be safe to merge this branch into master.

[2018-10-20 12:50] s-vincent commented on #175
Branch merged.

[2018-10-20 12:50] #175 closed

[2018-10-21 04:49] bchavez commented on #74
Unfortunately, I tested the latest branch. The memory leak still exists.

I'd appreciate if this issue was reopened.

Here is a video screen capture of the issue happening in real-time:
![screen_2268](https://user-images.githubusercontent.com/478118/47263032-9dff8700-d4ad-11e8-9669-a62dd923426d.gif)

A little more about the topology where this happens. I have a setup similar to this:

![powerpnt_2

[2018-10-21 07:52] bchavez commented on #74
I tried @richman1000000 's suggestion of using `never_contact=self_ip` and no luck.

I also tried `perf` CPU profiling tools. Nothing really sticks out to me... here's a dump of `freelan-debug` executable (compiled with `-g` debug compiler switch) executed with:
`perf record -g ./freelan-debug -f -d -c freelan.cfg`

[code]

[code]

[2018-10-22 03:38] richman1000000 commented on #74
Hello!
also on linux you can try  echo never >  /sys/kernel/mm/transparent_hugepage/enabled

[2018-10-22 08:10] bchavez commented on #74
Quick update, I've been making some headway tracking down this memory leak.

I have a setup that can finally reproduce the issue with full IDE debugging support on Windows. Basically, I swapped `Linux A` with `Windows A`.

## Memory Heap Allocation Analysis

Below is a heap allocation snapshot from **0 seconds** to **74 seconds** with **four heap snapshots** taken along the way. You'll notice a ma